<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 마음일기</title>
    <link rel="stylesheet" href="/css/diary/diary.css">
    <link rel="stylesheet" href="/css/main/main-jg.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/main/search-modal.css">
    <link rel="stylesheet" href="/css/all/message.css">
</head>
<body>
<div class="joy-91keta">
    <!-- 헤더 넣을 곳 -->
    <header id="main-header"
            th:replace="~{main/header.html :: #main-header}"></header>
    <!-- 헤더 넣을 곳 -->
    <div class="main_container_01">
        <nav class=" nav_container_01">
            <ul class="subnavigation ulTag_01">
                <li class="liTag_01">
                </li>
                <li class="liTag_01">
                    <a
                            href="/"reply-button-disabled
                            class="aTag_feed"
                    >피드</a
                    >
                </li>
                <li class="liTag_02">
                    <a
                            href="/request"
                            class="aTag_diary"
                    >마음일기</a
                    >
                </li>
            </ul>
        </nav>
        <div class=" post_container_01">
            <div class="post_headerContainer_01">
                <main class="post_mainContainer_01" id="main-content">
                    <nav
                            class="main_nav_01"
                    >
                        <ul class="ulTag_post_01">
                            <li>
                                <a
                                        class="aTag_myDiary_01 aTag_myDiary_02 aTag_myDiary_03 aTag_myDiary_04"
                                        href="/diary/my-diary"
                                ><span
                                        class="  aTag_span_01"
                                        id=":rjr:"
                                >나의 마음일기</span
                                ></a
                                >
                            </li>
                            <li>
                                <a
                                        class="aTag_myDiary_01 aTag_myDiary_02 aTag_allDiary_01"
                                        href="/diary/all-diary"
                                ><span
                                        class="  aTag_span_01"
                                        id=":rjs:"
                                >모두의 마음일기</span
                                ></a
                                >
                            </li>
                        </ul>
                    </nav>
                    <div class=" ">
                        <div class="diary_container_01">
                            <div class="diary_wrap_01">
                                <div style="padding-top: 70px"></div>
                            </div>
                            <div class=" moreInfo_container_01">
                                <div class=" moreInfo_wrap_01">
                                            <span
                                                    role="progressbar"
                                                    style="
                                                    --CircularProgress-percent: 67;
                                                "
                                                    class="moreInfo_span_01"
                                            ><svg
                                                    class="moreInfo_svg_01"
                                            >
                                                    <circle
                                                            class="moreInfo_circle_01"
                                                    ></circle>
                                                    <circle
                                                            class="moreInfo_circle_02"
                                                    ></circle>
                                                </svg>
                                            </span>
                                </div>
                                <button
                                        class="more_diaryButton_01 moreInfo_button_01"
                                        type="button"
                                        data-index="2"
                                >
                                    더 보기
                                </button>
                            </div>
                        </div>
                    </div>
                </main>
                <aside class="aside_01">
                    <div class="aside_container_01">
                        <section
                                class="aside_section_01"
                        >
                            <div class="section_div_01 ">
                                <div id="lottie-timer"></div>
                                <div
                                        class="time-units time_wrap_01"
                                >
                                    <span id="hour">--</span>
                                    <span id="minute">--</span>
                                    <span id="second">--</span>
                                </div>
                            </div>
                        </section>
                        <section class="article_section_02">
                            <a
                                    class="section_a_01"
                                    href="/@blog"
                            ><div class="section_a_div_01">
                                <h2
                                        class=" section_div_h2_02"
                                >
                                    포스타입 공식 채널
                                </h2>
                                <svg
                                        focusable="false"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="section_div_svg_02"
                                >
                                    <path
                                            d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                            fill="currentcolor"
                                    ></path>
                                </svg>
                            </div>
                            </a>
                            <div class="diary_container_01">
                                <article class="notice_listContainer_01">
                                    <div class="notice_listWrap_01">
                                        <a
                                                href="/@blog/post/19114287"
                                                class="channer_a_01"
                                        ><h2
                                                class="a_h2_02"
                                        >
                                            3월 수익에 관한 가상
                                            출금 정보 제공 안내
                                        </h2></a
                                        >
                                        <div class="notice_channerWrap_01">
                                            <div class="notice_01">
                                                <div
                                                        class="imgWrap_01"
                                                >
                                                    <img
                                                            alt="이용자 포스타입"
                                                            src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                            loading="lazy"
                                                            class="aTag_divImg_01"
                                                    />
                                                </div>
                                                <a
                                                        href="/profile/@1ll3c6"
                                                        class="channer_a_01"
                                                ><span
                                                        class="a_span_01"
                                                >포스타입</span
                                                ></a
                                                >
                                            </div>
                                            <p
                                                    class="post_point_01"
                                            >
                                                4일 전
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                            class="imgWrap_02"
                                    >
                                        <div
                                                class="imgWrap_03"
                                        >
                                            <img
                                                    class=" "
                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/24/12/55/40be7d13128072962910900921.png?w=100&amp;h=56&amp;q=65"
                                                    alt="포스트 3월 수익에 관한 가상 출금 정보 제공 안내"
                                                    data-first-child=""
                                            />
                                        </div>
                                    </div>
                                </article>
                                <hr
                                        class="htTag_01"
                                />
                                <article class="notice_listContainer_01">
                                    <div class="notice_listWrap_01">
                                        <a
                                                href="/@blog/post/19143537"
                                                class="channer_a_01"
                                        ><h2
                                                class="a_h2_02"
                                        >
                                            포스타입 프리미엄을
                                            출시합니다.
                                        </h2></a
                                        >
                                        <div class="notice_channerWrap_01">
                                            <div class="notice_01">
                                                <div
                                                        class="imgWrap_01"
                                                >
                                                    <img
                                                            alt="이용자 포스타입"
                                                            src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                            loading="lazy"
                                                            class="aTag_divImg_01"
                                                    />
                                                </div>
                                                <a
                                                        href="/profile/@1ll3c6"
                                                        class="channer_a_01"
                                                ><span
                                                        class="a_span_01"
                                                >포스타입</span
                                                ></a
                                                >
                                            </div>
                                            <p
                                                    class="post_point_01"
                                            >
                                                5일 전
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                            class="imgWrap_02"
                                    >
                                        <div
                                                class="imgWrap_03"
                                        >
                                            <img
                                                    class=" "
                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2025/04/01/09/22/90d3e79346899524472783111.png?w=100&amp;h=56&amp;q=65"
                                                    alt="포스트 포스타입 프리미엄을 출시합니다."
                                                    data-first-child=""
                                            />
                                        </div>
                                    </div>
                                </article>
                                <hr
                                        class="htTag_01"
                                />
                                <article class="notice_listContainer_01">
                                    <div class="notice_listWrap_01">
                                        <a
                                                href="/@blog/post/19108440"
                                                class="channer_a_01"
                                        ><h2
                                                class="a_h2_02"
                                        >
                                            대표 이미지를 20개
                                            설정할 수 있고,
                                            에디터에서 마우스 없이
                                            서식을 적용할 수
                                            있습니다.
                                        </h2></a
                                        >
                                        <div class="notice_channerWrap_01">
                                            <div class="notice_01">
                                                <div
                                                        class="imgWrap_01"
                                                >
                                                    <img
                                                            alt="이용자 포스타입"
                                                            src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                            loading="lazy"
                                                            class="aTag_divImg_01"
                                                    />
                                                </div>
                                                <a
                                                        href="/profile/@1ll3c6"
                                                        class="channer_a_01"
                                                ><span
                                                        class="a_span_01"
                                                >포스타입</span
                                                ></a
                                                >
                                            </div>
                                            <p
                                                    class="post_point_01"
                                            >
                                                2025. 3. 27.
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                            class="imgWrap_02"
                                    >
                                        <div
                                                class="imgWrap_03"
                                        >
                                            <img
                                                    class=" "
                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/24/12/55/40be7d13128072962910900921.png?w=100&amp;h=56&amp;q=65"
                                                    alt="포스트 대표 이미지를 20개 설정할 수 있고, 에디터에서 마우스 없이 서식을 적용할 수 있습니다."
                                                    data-first-child=""
                                            />
                                        </div>
                                    </div>
                                </article>
                                <hr
                                        class="htTag_01"
                                />
                                <article class="notice_listContainer_01">
                                    <div class="notice_listWrap_01">
                                        <a
                                                href="/@blog/post/19102478"
                                                class="channer_a_01"
                                        ><h2
                                                class="a_h2_02"
                                        >
                                            지금 리퀘스트를 신청하면
                                            1,000P를 드려요!
                                        </h2></a
                                        >
                                        <div class="notice_channerWrap_01">
                                            <div class="notice_01">
                                                <div
                                                        class="imgWrap_01"
                                                >
                                                    <img
                                                            alt="이용자 포스타입"
                                                            src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                            loading="lazy"
                                                            class="aTag_divImg_01"
                                                    />
                                                </div>
                                                <a
                                                        href="/profile/@1ll3c6"
                                                        class="channer_a_01"
                                                ><span
                                                        class="a_span_01"
                                                >포스타입</span
                                                ></a
                                                >
                                            </div>
                                            <p
                                                    class="post_point_01"
                                            >
                                                2025. 3. 26.
                                            </p>
                                        </div>
                                    </div>
                                    <div
                                            class="imgWrap_02"
                                    >
                                        <div
                                                class="imgWrap_03"
                                        >
                                            <img
                                                    class=" "
                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2025/03/26/16/06/6fe8a010988068916321789154.png?w=100&amp;h=56&amp;q=65"
                                                    alt="포스트 지금 리퀘스트를 신청하면 1,000P를 드려요!"
                                                    data-first-child=""
                                            />
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </section>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!-- 검색창 들어가야하는 곳 -->
    <!-- footer 넣을 곳 -->
    <footer id="main-footer"
            th:replace="~{main/footer.html :: #main-footer}"></footer>
    <!-- footer 넣을 곳 -->
</div>
</body>
<script th:inline="javascript">
    const loginMember = [[${session.member}]]
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
<script src="/js/main/main-modal.js"></script>
<script src="/js/main/main-clock.js"></script>
<script src="/js/main/main-search-modal.js"></script>
<script src="/js/diary/diary-service.js"></script>
<script src="/js/diary/report-service.js"></script>
<script src="/js/diary/diary-layout.js"></script>
<script src="/js/diary/all-diary-event.js"></script>
</html>
