<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 마음일기</title>
    <link rel="stylesheet" href="/css/diary/diary.css">
    <link rel="stylesheet" href="/css/main/main-jg.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/main/search-modal.css">
    <link rel="stylesheet" href="/css/all/message.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="joy-91keta">
    <!-- 헤더 넣을 곳 -->
    <header id="main-header"
            th:replace="~{main/header.html :: #main-header}"></header>
    <!-- 헤더 넣을 곳 -->
    <div class="main_container_01">
        <nav class=" nav_container_01">
            <ul class="subnavigation ulTag_01">
                <li class="liTag_01">
                </li>
                <li class="liTag_01">
                    <a
                            href="/"reply-button-disabled
                            class="aTag_feed"
                    >피드</a
                    >
                </li>
                <li class="liTag_02">
                    <a
                            href="/request"
                            class="aTag_diary"
                    >마음일기</a
                    >
                </li>
            </ul>
        </nav>
        <div class=" post_container_01">
            <div class="post_headerContainer_01">
                <main class="post_mainContainer_01" id="main-content">
                    <nav
                            class="main_nav_01"
                    >
                        <ul class="ulTag_post_01">
                            <li>
                                <a
                                        class="aTag_myDiary_01 aTag_myDiary_02 aTag_myDiary_03 aTag_myDiary_04"
                                        href="/diary/my-diary"
                                ><span
                                        class="  aTag_span_01"
                                        id=":rjr:"
                                >나의 마음일기</span
                                ></a
                                >
                            </li>
                            <li>
                                <a
                                        class="aTag_myDiary_01 aTag_myDiary_02 aTag_allDiary_01"
                                        href="/diary/all-diary"
                                ><span
                                        class="  aTag_span_01"
                                        id=":rjs:"
                                >모두의 마음일기</span
                                ></a
                                >
                            </li>
                        </ul>
                    </nav>
                    <div class=" ">
                        <div class="diary_container_01">
                            <div class="diary_wrap_01">
                                <div style="padding-top: 70px"></div>
                            </div>
                            <div class=" moreInfo_container_01">
                                <div class=" moreInfo_wrap_01">
                                            <span
                                                    role="progressbar"
                                                    style="
                                                    --CircularProgress-percent: 67;
                                                "
                                                    class="moreInfo_span_01"
                                            ><svg
                                                    class="moreInfo_svg_01"
                                            >
                                                    <circle
                                                            class="moreInfo_circle_01"
                                                    ></circle>
                                                    <circle
                                                            class="moreInfo_circle_02"
                                                    ></circle>
                                                </svg>
                                            </span>
                                </div>
                                <button
                                        class="more_diaryButton_01 moreInfo_button_01"
                                        type="button"
                                        data-index="2"
                                >
                                    더 보기
                                </button>
                            </div>
                        </div>
                    </div>
                </main>
                <aside class="aside_01">
                    <div class="aside_container_01">
                        <section
                                class="aside_section_01"
                        >
                            <div class="section_div_01 ">
                                <div id="lottie-timer"></div>
                                <div
                                        class="time-units time_wrap_01"
                                >
                                    <span id="hour">--</span>
                                    <span id="minute">--</span>
                                    <span id="second">--</span>
                                </div>
                            </div>
                        </section>
                        <section class="article_section_02">
                            <a
                                    class="section_a_01"
                                    href="/feelog/official"
                            ><div class="section_a_div_01">
                                <h2
                                        class=" section_div_h2_02"
                                >
                                    필로그 공식 채널
                                </h2>
                                <svg
                                        focusable="false"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="section_div_svg_02"
                                >
                                    <path
                                            d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                            fill="currentcolor"
                                    ></path>
                                </svg>
                            </div>
                            </a>
                            <div class="diary_container_01 noticeContainer">
                            </div>
                        </section>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!-- 검색창 들어가야하는 곳 -->
    <!-- footer 넣을 곳 -->
    <footer id="main-footer"
            th:replace="~{main/footer.html :: #main-footer}"></footer>
    <!-- footer 넣을 곳 -->
</div>
</body>
<script th:inline="javascript">
    const loginMember = [[${session.member}]]
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
<script src="/js/main/main-modal.js"></script>
<script src="/js/main/notificationInterceptor.js"></script>
<script src="/js/main/main-clock.js"></script>
<script src="/js/main/main-search-modal.js"></script>
<script src="/js/post/date-from-now.js"></script>
<script src="/js/index-service.js"></script>
<script src="/js/index-layout.js"></script>
<script src="/js/diary/diary-service.js"></script>
<script src="/js/diary/report-service.js"></script>
<script src="/js/diary/diary-layout.js"></script>
<script src="/js/diary/all-diary-event.js"></script>
</html>
