/* 2025.04.12 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

body {
    margin: 0;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

*,
::before,
::after {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.flog-div-140 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 0px) {
    .flog-div-140 {
        /* height: calc(100dvh - 60px); */
    }
}

@media (min-width: 744px) {
    .flog-div-140 {
        /* height: 100dvh; */
    }
}

.flog-div-141 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    background-color: transparent;
}

.flog-div-142 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.flog-div-143 {
    width: 100%;
}

.flog-svg-17 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: black;
}

.flog-img-10 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.flog-header-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1144px;
}

.flog-section-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    gap: 12px;
}

@media (min-width: 0px) {
    .flog-section-5 {
        padding: 60px 16px 4px;
    }
}

@media (min-width: 744px) {
    .flog-section-5 {
        padding: 70px 32px 8px;
    }
}

.flog-div-144 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.flog-div-145 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

@media (min-width: 0px) {
    .flog-div-145 {
        gap: 10px;
    }
}

@media (min-width: 744px) {
    .flog-div-145 {
        gap: 16px;
    }
}

.flog-div-146 {
    overflow: hidden;
}

@media (min-width: 0px) {
    .flog-div-146 {
        width: 64px;
        min-width: 64px;
        height: 64px;
        border-radius: 8px;
    }
}

@media (min-width: 744px) {
    .flog-div-146 {
        width: 96px;
        min-width: 96px;
        height: 96px;
        border-radius: 12px;
    }
}

.flog-div-147 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flog-div-148 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

@media (min-width: 0px) {
    .flog-div-148 {
        gap: 2px;
    }
}

@media (min-width: 744px) {
    .flog-div-148 {
        gap: 4px;
    }
}

.flog-a-41 {
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: currentcolor;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.flog-h1-11 {
    margin: 0px;
    display: -webkit-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.33334;
    letter-spacing: -0.025em;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (min-width: 0px) {
    .flog-h1-11 {
        font-size: 18px;
    }
}

@media (min-width: 744px) {
    .flog-h1-11 {
        font-size: 30px;
    }
}

.flog-div-149 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 0px) {
    .flog-div-149 {
        height: 18px;
    }
}

@media (min-width: 744px) {
    .flog-div-149 {
        height: 26px;
    }
}

.flog-a-42 {
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: currentcolor;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
}

.flog-span-36 {
    margin: 0px;
    display: -webkit-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    overflow: hidden;
    overflow-wrap: anywhere;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (min-width: 0px) {
    .flog-span-36 {
        font-size: 12px;
        font-weight: 500;
    }
}

@media (min-width: 744px) {
    .flog-span-36 {
        font-size: 14px;
        font-weight: 400;
    }
}

.flog-p-31 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #76767f;
    font-weight: 400;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

@media (min-width: 0px) {
    .flog-p-31 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .flog-p-31 {
        font-size: 14px;
    }
}

.flog-div-150 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 744px) {
    .flog-div-150 {
        height: 26px;
    }
}

.flog-p-32 {
    margin: 0px;
    display: -webkit-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #76767f;
    font-weight: 400;
    overflow: hidden;
    overflow-wrap: anywhere;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (min-width: 0px) {
    .flog-p-32 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .flog-p-32 {
        font-size: 14px;
    }
}

.flog-svg-16 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767f;
}

@media (min-width: 0px) {
    .flog-svg-16 {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 744px) {
    .flog-svg-16 {
        width: 16px;
        height: 16px;
    }
}

.flog-div-151 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 6px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 40px;
}

@media (min-width: 0px) {
    .flog-div-151 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-div-151 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.flog-button-26 {
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #f2f2f3;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

@media (min-width: 0px) {
    .flog-button-26 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 744px) {
    .flog-button-26 {
        display: none;
    }
}

.flog-button-26.FeelogIconButton-sizeMd {
    min-width: 40px;
    min-height: 40px;
}

.flog-button-27 {
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #f2f2f3;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

@media (min-width: 0px) {
    .flog-button-27 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-button-27 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.flog-button-27.FeelogIconButton-sizeMd {
    min-width: 40px;
    min-height: 40px;
}

.flog-div-152 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 6px;
    width: 100%;
}

@media (min-width: 0px) {
    .flog-div-152 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 744px) {
    .flog-div-152 {
        display: none;
    }
}
.flog-button-28 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #f2f2f3;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

@media (min-width: 0px) {
    .flog-button-28 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 744px) {
    .flog-button-28 {
        display: none;
    }
}

.flog-button-28.FeelogIconButton-sizeSm {
    min-width: 32px;
    min-height: 32px;
}

.flog-button-29 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: #f2f2f3;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

@media (min-width: 0px) {
    .flog-button-29 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-button-29 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.flog-button-29.FeelogIconButton-sizeSm {
    min-width: 32px;
    min-height: 32px;
}

.flog-nav-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 500;
    background-color: #ffffff;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
}

@media (min-width: 0px) {
    .flog-nav-6 {
        top: 47px;
    }
}

@media (min-width: 744px) {
    .flog-nav-6 {
        top: 56px;
    }
}

.flog-ul-6 {
    margin: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    padding-block: 0.375rem;
    padding-inline: 0;
    box-sizing: border-box;
    border-radius: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    background-color: #ffffff;
    overflow: auto;
}

@media (min-width: 0px) {
    .flog-ul-6 {
        margin-left: 10px;
        height: 48px;
        padding: 0 16px;
    }
}

@media (min-width: 744px) {
    .flog-ul-6 {
        margin-left: 0px;
        height: 56px;
        padding: 0 32px;
    }
}

.flog-li-11 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.625rem;
    margin-inline: 0;
    box-sizing: border-box;
    border-radius: 0;
    display: block;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    -webkit-padding-start: 0.75rem;
    padding-inline-start: 0.75rem;
    -webkit-padding-end: 0.75rem;
    padding-inline-end: 0.75rem;
    min-block-size: 2.25rem;
    color: #202022;
    height: 100%;
    padding-block: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #202022;
}

.flog-span-37 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
}

.flog-li-11 span {
    font-weight: 600;
    color: #202022;
}

.flog-li-10 {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.625rem;
    margin-inline: 0;
    box-sizing: border-box;
    border-radius: 0;
    display: block;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    -webkit-padding-start: 0.75rem;
    padding-inline-start: 0.75rem;
    -webkit-padding-end: 0.75rem;
    padding-inline-end: 0.75rem;
    margin-block-start: 0;
    min-block-size: 2.25rem;
    color: #202022;
    height: 100%;
    padding-block: 0;
    padding: 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #ffffff;
}

.flog-li-10 span {
    font-weight: 500;
    color: #76767f;
}

.flog-svg-18 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 30px;
    color: #202022;
}

.flog-hr-11 {
    --Divider-thickness: 1px;
    --Divider-lineColor: #dadadc;
    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: #dadadc;
    inline-size: 100%;
    block-size: 1px;
}

.flog-main-11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1144px;
}
@media (min-width: 0px) {
    .flog-main-11 {
        width: 360px;
        gap: 0px;
        padding: 0px;
    }
}
@media (min-width: 744px) {
    .flog-main-11 {
        width: 100%;
        gap: 40px;
        padding: 32px 32px;
    }
}
.flog-section-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 0px) {
    .flog-section-10 {
        height: 100%;
        max-width: 100%;
    }
}
@media (min-width: 744px) {
    .flog-section-10 {
        max-width: 560px;
    }
}
.flog-button-30 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 25px;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    user-select: none;
    appearance: none;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}
@media (min-width: 0px) {
    .flog-button-30 {
        display: none;
    }
}
@media (min-width: 744px) {
    .flog-button-30 {
        border: 1px solid #dadadc;
        border-radius: 8px;
        display: flex;
    }
}
.flog-div-153 {
    --Icon-color: rgba(21, 21, 21, 1);
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: calc(40px * 0.4); /* Avatar-size 값 사용 */
    line-height: 1;
    color: #202022;
    width: 40px; /* Avatar-size */
    height: 40px; /* Avatar-size */
    margin-inline-start: unset; /* Avatar-marginInlineStart */
    box-shadow: none; /* Avatar-ring 기본값 없음 */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%; /* Avatar-radius */
    user-select: none;
    background-color: #f2f2f3;
    width: 40px; /* Avatar-size */
    height: 40px; /* Avatar-size */
}
@media (min-width: 0px) {
    .flog-div-153 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-div-153 {
        display: flex;
    }
}
.flog-img-10 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.flog-span-38 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #a4a4a8;
    font-weight: 400;
}
.flog-hr-12 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(21, 21, 21, 0.08);
    margin: initial;
    margin-inline: unset;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(21, 21, 21, 0.08);
    inline-size: initial;
    block-size: 1px;
}
@media (min-width: 0px) {
    .flog-hr-12 {
        display: block;
    }
}
@media (min-width: 744px) {
    .flog-hr-12 {
        display: none;
    }
}
.flog-div-154 {
    margin: 32px 0 12px;
    overflow: auto;
}
.flog-div-155 {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
@media (min-width: 744px) {
    .flog-div-155 {
        gap: 20px;
    }
}
.flog-div-156 {
    display: flex;
    flex-direction: column;
}
@media (min-width: 0px) {
    .flog-div-156 {
        padding: 28.5px 16px;
    }
}
@media (min-width: 744px) {
    .flog-div-156 {
        padding: 24.5px 24px;
        border: 1px solid;
        border-radius: 8px;
        border-color: #eaeaeb;
    }
}
.flog-div-157 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}
.flog-div-158 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    min-width: 0;
}
.flog-a-45 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    appearance: none;
    position: relative;
}
.flog-div-159 {
    --Icon-color: rgba(21, 21, 21, 1);
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: calc(40px * 0.4);
    line-height: 1;
    color: #202022;
    width: 40px;
    height: 40px;
    margin-inline-start: unset;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: visible;
    border-radius: 50%;
    user-select: none;
    background-color: #f2f2f3;
    width: 40px;
    height: 40px;
}
.flog-img-10 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.flog-div-159 .FeelogAvatar-img {
    clip-path: circle(50%);
    border-radius: 100%;
}
.flog-div-160 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}
.flog-div-161 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.flog-div-162 {
    display: grid;
    grid-template-columns: 1fr;
}
.flog-a-47 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    appearance: none;
    position: relative;
    min-width: 0;
}
.flog-span-39 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #76767f;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    overflow-wrap: break-word;
}
.flog-div-163 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.flog-a-48 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    appearance: none;
    position: relative;
    flex-shrink: 0;
}
.flog-time-1 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #a4a4a8;
    font-weight: 400;
}

.flog-button-31 {
    --Icon-margin: initial;
    --Icon-color: rgba(21, 21, 21, 1);
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 6px;
    min-height: 32px;
    font-size: 14px;
    padding-block: 4px;
    padding-inline: 12px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: unset;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    color: #202022;
    border: 1px solid;
    border-color: #ffffff;
    padding: 6px;
}
@media (hover: hover) {
    .flog-button-31:hover {
        background-color: #f2f2f3;
    }
}
.flog-button-31.FeelogMenuButton-sizeSm {
    min-height: 32px;
}
.flog-div-164 {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    gap: 20px;
}
.flog-div-166 {
    display: flex;
    flex-direction: column;
}
.flog-span-40 {
    --Icon-fontSize: calc(1em * 1);
    margin: 0px;
    display: inline;
    font-size: inherit;
    color: #76767f;
    word-break: break-word;
}
.flog-div-167 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flog-div-168 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.flog-button-32 {
    --Icon-margin: initial;
    --Icon-color: rgba(21, 21, 21, 1);
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 6px;
    min-height: 32px;
    font-size: 14px;
    padding-block: 4px;
    padding-inline: 12px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: unset;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #202022;
    min-width: 0;
    padding: 6px;
}
.flog-button-32.FeelogButton-sizeSm {
    min-height: 32px;
    font-size: 14px;
}
.flog-span-41 {
    --Icon-margin: 0 0 0 -4px;
    --CircularProgress-margin: 0 0 0 -4px;
    display: inherit;
    margin-right: 8px;
    --Icon-margin: 0;
    margin-right: 0px;
}
.flog-svg-19 {
    user-select: none;
    margin: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: rgba(21, 21, 21, 1);
}
.flog-button-39,
.flog-button-33 {
    --Icon-margin: initial;
    --Icon-color: rgba(21, 21, 21, 1);
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 6px;
    min-height: 32px;
    font-size: 14px;
    padding-block: 4px;
    padding-inline: 12px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: unset;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #202022;
    min-width: 0;
    padding: 6px 4px;
}
.flog-button-39.FeelogButton-sizeSm,
.flog-button-33.FeelogButton-sizeSm {
    min-height: 32px;
    font-size: 14px;
}
.flog-span-42 {
    --Icon-margin: 0 0 0 -3px;
    --CircularProgress-margin: 0 0 0 -3px;
    display: inherit;
    margin-right: 6px;
}
.flog-svg-19 {
    user-select: none;
    margin: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: rgba(21, 21, 21, 1);
}
.flog-hr-13 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(228, 228, 228, 1);
    margin: unset;
    margin-inline: 0;
    margin-block: unset;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(228, 228, 228, 1);
    inline-size: unset;
    block-size: 1px;
}
@media (min-width: 744px) {
    .flog-hr-13 {
        display: none;
    }
}
.flog-div-170 {
    position: relative;
}
:host {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #007aff;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.swiper-horizontal {
    touch-action: pan-y;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
slot {
    display: contents;
}
.swiper-android ::slotted(swiper-slide),
.swiper-ios ::slotted(swiper-slide),
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: initial;
    box-sizing: content-box;
}
.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}
.swiper-pagination-lock {
    display: none;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 8px;
    top: auto;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
.swiper-pagination-bullet:only-child {
    display: none !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.swiper .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
::slotted(swiper-slide) {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
.swiper-backface-hidden ::slotted(swiper-slide) {
    transform: translateZ(0);
    backface-visibility: hidden;
}
.flog-div-171 {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
}
@media (min-width: 744px) {
    .flog-div-171 {
        min-height: 512px;
    }
}
.flog-img-11 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    object-position: center center;
    transform: translate(-50%, -50%);
}

.swiper-button-lock {
    display: none;
}
.flog-button-34 {
    --Icon-margin: initial;
    --Icon-color: rgba(21, 21, 21, 1);
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: unset;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(33, 33, 33, 0.8);
    background-color: rgba(245, 245, 245, 1);
    position: absolute;
    top: 50%;
    z-index: 10;
    border-radius: 50%;
    transform: translateY(-50%);
}
@media (min-width: 0px) {
    .flog-button-34 {
        left: 8px;
    }
}
@media (min-width: 744px) {
    .flog-button-34 {
        left: 11.5px;
    }
}
.flog-button-34.FeelogIconButton-sizeSm {
    --Icon-fontSize: 20px;
    min-width: 32px;
    min-height: 32px;
}
.flog-button-34.swiper-button-disabled {
    display: none;
}
.flog-button-35 {
    --Icon-margin: initial;
    --Icon-color: rgba(21, 21, 21, 1);
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: unset;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgba(33, 33, 33, 0.8);
    background-color: rgba(245, 245, 245, 1);
    position: absolute;
    top: 50%;
    z-index: 10;
    border-radius: 50%;
    transform: translateY(-50%);
}
@media (min-width: 0px) {
    .flog-button-35 {
        right: 8px;
    }
}
@media (min-width: 744px) {
    .flog-button-35 {
        right: 11.5px;
    }
}
.flog-button-35.FeelogIconButton-sizeSm {
    --Icon-fontSize: 20px;
    min-width: 32px;
    min-height: 32px;
}
.flog-button-35.swiper-button-disabled {
    display: none;
}

/* 좋아요 버튼 관련 */
.flog-svg-22 {
    user-select: none;
    margin: var(--Icon-margin);
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    color: red;
}
.flog-button-39,
.flog-button-33 {
    min-height: 32px;
    font-size: 0.875rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Arial, sans-serif";
    line-height: 1.5;
    font-weight: 500;
    color: #505050;
    min-width: 0px;
    padding: 6px 4px;
}

/* 슬라이더 컨테이너 */
.slider-container {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

/* 슬라이드 전체 영역 */
.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
    will-change: transform;
}

/* 각 슬라이드 설정 */
.swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* 이전/다음 버튼 위치 및 스타일 */
/* .FeelogIconButton-root { */
next-button,
prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #f2f2f3;
    color: white;
}

/* 왼쪽 버튼 위치 */
.custom-prev-button-19531663 {
    left: 10px;
}

/* 오른쪽 버튼 위치 */
.custom-next-button-19531663 {
    right: 10px;
}

/* 비활성화 버튼 */
.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
}
/* 작성 모달창 */
.flog-div-176 {
    position: fixed;
    z-index: 101;
    inset: 0px;
}
.flog-div-177 {
    z-index: -1;
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: none;
    animation: 0.2s ease-in-out 0s 1 normal forwards running animation-os2n7p;
}
.flog-div-178 {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(51, 51, 51, 1);
    font-weight: 400;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 40px), 300px);
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100% - 80px);
    padding: 20px;
    border-radius: 8px;
    border-color: rgba(204, 204, 204, 1);
    outline: 0px;
    gap: 0px;
}
@media (min-width: 744px) {
    .flog-div-178.FeelogModalDialog-sizeMd {
        width: 500px;
    }
}
.flog-div-179 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flog-h2-11 {
    display: flex;
    gap: 6px;
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: inherit;
    flex: 1 1 0%;
}

.flog-button-36 {
    min-width: 36px;
    min-height: 36px;
    font-size: 16px;
    padding-inline: 4px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    color: rgba(119, 119, 119, 1);
    top: 16px;
    left: auto;
    right: 16px;
    display: flex;
}
.flog-svg-20 {
    user-select: none;
    margin: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: rgba(21, 21, 21, 1);
}
.flog-div-180 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 16px;
    row-gap: 4px;
    color: rgba(102, 102, 102, 1);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16px;
    margin-right: -16px;
    overflow: auto;
    padding: 16px;
    flex: 1 1 0%;
}
.flog-div-181 {
    display: flex;
    flex-direction: column;
}
@media (min-width: 0px) {
    .flog-div-181 {
        gap: 16px;
    }
}
@media (min-width: 744px) {
    .flog-div-181 {
        gap: 20px;
    }
}
.flog-div-173 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.flog-div-182.FeelogTextarea-variantOutlined {
    background-color: transparent;
}

.flog-div-182 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 36px;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 12px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(51, 51, 51, 1);
    font-weight: 400;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: none;
    border-radius: 4px;
    padding-block: 4px;
}
@media (min-width: 0px) {
    .flog-div-182 {
        min-height: 400px;
    }
}
@media (min-width: 744px) {
    .flog-div-182 {
        min-height: 310px;
    }
}
.flog-div-182:not([data-inverted-colors="false"]) {
    --Textarea-focusedHighlight: rgba(102, 157, 246, 1);
}
.flog-div-182::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
    box-shadow: inset 0 0 0 1px rgba(102, 157, 246, 1);
}
.flog-textarea-5 {
    resize: none;
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    padding-inline-end: 12px;
    flex: 1 1 auto;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.flog-div-183 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.flog-div-184 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 6px;
}
.flog-p-33 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: rgba(33, 33, 33, 1);
}
.flog-p-34 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}
.flog-ul-7 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
}
@media (min-width: 0px) {
    .flog-ul-7 {
        width: calc(100% + 20px);
        margin: 16px 0px 0px;
        padding: 2px 10px 0px 2px;
    }
}
@media (min-width: 744px) {
    .flog-ul-7 {
        width: 100%;
        margin: 12px 0px 0px;
    }
}
.flog-li-12 {
    margin-inline: 0px 0px;
    gap: 8px;
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-block-start: 8px;
    min-block-size: 36px;
    color: rgba(51, 51, 51, 1);
    box-sizing: border-box;
}
.flog-button-37 {
    min-height: 36px;
    font-size: 16px;
    padding-inline: 4px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(245, 245, 245, 1);
    width: 64px;
    min-width: 64px;
    height: 64px;
}

.flog-button-37.FeelogIconButton-sizeMd {
    font-size: 24px;
    min-width: 40px;
    min-height: 40px;
}
.flog-li-12:not([hidden]) {
    display: flex;
}
.flog-svg-21 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 1em;
    height: 1em;
    color: rgba(245, 245, 245, 1);
}
.flog-hr-14 {
    margin: initial;
    margin-inline: 0px;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(204, 204, 204, 1);
    inline-size: initial;
    block-size: 1px;
    display: flex;
}
.flog-div-185 {
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 16px;
    gap: 8px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
    display: flex;
    justify-content: space-between;
}

.flog-button-38.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

.flog-button-38 {
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(245, 245, 245, 1);
    font-weight: 500;
}
@media (min-width: 0px) {
    .flog-button-38 {
        display: block;
    }
}
@media (min-width: 744px) {
    .flog-button-38 {
        display: block;
    }
}
.flog-button-38:hover {
    background-color: rgba(200, 200, 200, 1);
}
.flog-div-185 > :not(.FeelogIconButton-root) {
    flex: 0 0 auto;
}
/* 케밥 버튼시 모달창 */
.flog-ul-8 {
    margin: initial;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(33, 33, 33, 1);
    font-weight: 400;
    padding-block: 6px;
    padding-inline: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.flog-li-13 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    font: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    gap: 10px;
    text-align: left;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    margin-inline: 0px;
    margin-block: 0px;
    padding-block: 4px;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
    min-block-size: 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    flex: none;
    min-inline-size: 0px;
    color: rgba(51, 51, 51, 1);
}
.flog-li-14 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 11px;
    padding-inline-end: 11px;
    min-block-size: 36px;
    min-inline-size: 0px;
    color: rgba(51, 51, 51, 1);
    font: inherit;
    gap: 10px;
    text-decoration: none;
    margin-inline: 0px;
    padding-block: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: none;
    border-radius: 4px;
    flex: none;
}
.flog-li-13:hover,
.flog-li-14:hover {
    background-color: rgba(245, 245, 245, 1);
    color: rgba(33, 33, 33, 1);
}
/*첨부파일 관련 시작*/
.uploadFile {
    margin-right: 10px;
    padding-block-start: 20px;
    height: 64px;
    position: relative; /* 상대적인 위치를 설정하여 자식 요소의 기준점 제공 */
    display: inline-block; /* 자식 요소 정렬 */
}

.file-cancel {
    position: absolute; /* 절대 위치를 설정하여 부모 요소 기준 */
    top: 5px; /* 두 번째 이미지의 위쪽 끝부분에 위치 */
    right: -5px; /* 두 번째 이미지의 오른쪽 끝부분에 위치 */
    width: 16px; /* 버튼 크기를 조정 */
    height: 16px;
    cursor: pointer; /* 사용자 경험 향상을 위해 클릭 가능한 커서 추가 */
}

.image-files {
    display: block; /* 기본 블록 형태로 설정 */
    width: 64px;
    height: 64px;
}
/*첨부파일 관련 끝*/
/*추가 모달 창*/

.flog-div-220 {
    position: fixed;
    z-index: 101;
    inset: 0px;
}
/*추가 모달 창 끝*/

/* 삭제시 네, 아니오, 모달창 끝 */
.flog-div-40 {
    background-color: rgba(200, 200, 200, 0.4);
    --unstable_popup-zIndex: calc(1000 + 1);
    position: fixed;
    z-index: 1000;
    inset: 0px;
}
.flog-div-42 {
    --Icon-color: #666666;
    --Card-childRadius: max((8px - 1px) - 20px, min(20px / 2, (8px - 1px) / 2));
    --AspectRatio-radius: var(--Card-childRadius);
    --unstable_actionMargin: calc(-1 * 1px);
    --unstable_actionRadius: 8px;
    --CardCover-radius: calc(8px - 1px);
    --CardOverflow-offset: calc(-1 * 20px);
    --CardOverflow-radius: calc(8px - 1px);
    --Divider-inset: calc(-1 * 20px);
    --Card-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 2 * 20px), 300px);
    position: absolute;
    --ModalDialog-vertical-padding: 44px;
    --Card-padding: 20px;
    top: var(--ModalDialog-vertical-padding);
    left: 50%;
    width: 320px;
    transform: translateX(-50%);
    max-height: calc(100% - 4 * 20px);
    padding: 20px;
    border-radius: 8px;
    border-color: #cccccc;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
}
.flog-h2-4 {
    --Icon-fontSize: calc(1em * 1.25);
    display: flex;
    gap: clamp(4px, 0.375em, 0.75rem);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: inherit;
}
.flog-button-9 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(32px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    border-radius: 6px;
    color: #999999;
}
.flog-svg-6 {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}
.flog-svg-6 {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}
.flog-div-44 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 20px;
    gap: 8px;
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    margin-bottom: calc(-1 * 20px);
    --Button-radius: unset;
    --IconButton-radius: unset;
}
.flog-div-42 .FeelogDialogActions-root {
    padding-top: 8px;
    padding-bottom: 20px;
}
.flog-button-10 {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #ffffff;
    background-color: #3478ff;
    font-weight: 500;
}
.flog-div-44 > :not(.FeelogIconButton-root) {
    flex: 0 0 auto;
}
.flog-div-43 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 20px;
    row-gap: max(2px, calc(0.1875 * 20px));
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    color: #666666;
    flex: 9999 1 0%;
    overflow: auto;
    padding: 20px;
}
.flog-a-13 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #e0e0e0;
    font-weight: 500;
}
.flog-div-44 > :not(.FeelogIconButton-root) {
    flex: 0 0 auto;
}
.flog-a-13.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}
/* 모달창 버튼 호버 */
.flog-button-10:hover {
    background-color: #0056b3;
    color: #ffffff;
}
.flog-a-13:hover {
    background-color: #d6d6d6;
    color: #333333;
}
/* 삭제시 네, 아니오, 모달창 끝 */
/* 신고 버튼 관련 */
.report-button {
    min-width: 32px;
    min-height: 32px;
    padding-inline: 2px;
    padding-block: 0;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.report-button.white {
    color: #76767f;
}
.report-button.red {
    color: #e53935;
}
/* 신고 버튼 끝*/