body {
    font-family: "Postype Sans-serif KR"; /* Noto Serif 폰트가 기본 폰트로 설정되며, serif는 예비 폰트 */
    margin: 0;
    color: #202022;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

*, *::before, *::after {
    box-sizing: inherit;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.post_mainContainer_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}
/*  */
.main_nav_01 {
    background-color: #FFFFFF;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    position: sticky;
    z-index: 500;
}

@media (min-width: 0px) {
    .main_nav_01 {
        top: 97px;
    }
}

@media (min-width: 744px) {
    .main_nav_01 {
        top: 121px;
    }
}

.ulTag_post_01 {
    display: flex
;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
}

@media (min-width: 0px) {
    .ulTag_post_01 {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }
}

@media (min-width: 744px) {
    .ulTag_post_01 {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 14px;
        padding-bottom: 14px;
        gap: 4px;
    }
}

.aTag_allDiary_01 {
    min-height: 32px;
    max-width: max-content;
    padding-inline: 14px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: 500;
    background-color: #202022;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

.aTag_allDiary_01.aTag_myDiary_02 {
    min-width: 48px;
    gap: 0.375rem;
}

.aTag_span_01 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    min-inline-size: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.aTag_myDiary_04 {
    min-height: 32px;
    max-width: max-content;
    padding-inline: 14px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #f2f2f3;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

.aTag_myDiary_04.aTag_myDiary_02 {
    min-width: 48px;
    gap: 0.375rem;
}

.aTag_myDiary_04.aTag_myDiary_01.aTag_myDiary_03:not(.button_disabled_01) {
    color: #76767f;
}

.diary_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.diary_wrap_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.diary_wrap_01>* {
    border-bottom: 1px solid;
    border-bottom-color: rgba(118 118 127 / 0.15);
}

.diary_article_01 {
    display: flex
;
    flex-direction: row;
    gap: 12px;
    position: relative;
    align-items: flex-start;
    padding-top: 20px;
}

@media (min-width: 0px) {
    .diary_article_01 {
        padding-bottom: 20px;
    }
}

@media (min-width: 744px) {
    .diary_article_01 {
        padding-bottom: 24px;
    }
}

.article_aTag_01 {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52 120 255 / 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 4px 0px 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
    z-index: 1;
}

@media (min-width: 0px) {
    .article_aTag_01 {
        display: none;
    }
}

@media (min-width: 744px) {
    .article_aTag_01 {
        display: flex
;
    }
}

.aTag_div_01 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #202022;
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    width: 40px;
    height: 40px;
}

.aTag_divImg_01 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.diary_wrap_01 {
    display: flex
;
    flex-direction: row;
    gap: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 1;
    padding-bottom: 4px;
}

@media (min-width: 0px) {
    .diary_wrap_01 {
        align-items: flex-start;
    }
}

@media (min-width: 744px) {
    .diary_wrap_01 {
        -webkit-box-align: center;
        align-items: center;
    }
}

@media (min-width: 0px) {
    .diary_wrap_01 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 744px) {
    .diary_wrap_01 {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.div_imgContainer_01 {
    display: flex
;
    flex-direction: row;
    gap: 8px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}

.div_imaWrap_01 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #202022;
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    border-radius: var(--Avatar-radius, 50%);
    user-select: none;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

@media (min-width: 0px) {
    .div_imaWrap_01 {
        display: flex
;
    }
}

@media (min-width: 744px) {
    .div_imaWrap_01 {
        display: none;
    }
}

.diary_header_01 {
    display: flex
;
    flex-flow: column wrap;
    column-gap: 8px;
}

@media (min-width: 0px) {
    .diary_header_01 {
        flex-direction: column;
    }
}

@media (min-width: 744px) {
    .diary_header_01 {
        flex-direction: row;
    }
}

@media (min-width: 0px) {
    .diary_header_01 {
        align-items: flex-start;
    }
}

@media (min-width: 744px) {
    .diary_header_01 {
        -webkit-box-align: center;
        align-items: center;
    }
}

.diary_nicknameWrap_01 {
    display: flex
;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nickname_01 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (min-width: 0px) {
    .nickname_01 {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.42858;
        color: #202022;
    }
}

@media (min-width: 744px) {
    .nickname_01 {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #202022;
    }
}

.channer_a_01 {
    font-size: 16px;
    line-height: var(--joy-lineHeight-md);
    color: var(--variant-plainColor, rgba(var(--joy-palette-primary-mainChannel) / 1));
    font-weight: var(--joy-fontWeight-sm);
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: var(--joy-radius-xs);
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: initial;
}