*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Postype Sans-serif KR"; /* Noto Serif 폰트가 기본 폰트로 설정되며, serif는 예비 폰트 */
    margin: 0;
    color: #202022;
    font-size: 16px;
    line-height: 1.5;
    background-color: #FFFFFF;
}

.reply_wrap_01 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    line-height: 1.5;
    color: #202022;
    background-color: #FFFFFF;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
    padding-block: calc(0.375rem - 1px);
    border-radius: 8px;
    border-color: #DADADC;
    padding: 14px 16px 16px;
}

.feelog_main_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 60px;
    background-color: #FFFFFF;
}

.post_container_03 {
    border-top: 1px solid #e5e5e6;
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .post_container_03 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 744px) {
    .post_container_03 {
        padding-left: 0;
        padding-right: 0;
    }
}

.post_article_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 700px;

}

.article_header_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    border-bottom: 1px solid;
    border-color: rgba(118 118 127 / 0.15);
}

.post_wrap_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 0px) {
    .post_wrap_01 {
        padding: 32px 0 24px;
    }
}

@media (min-width: 744px) {
    .post_wrap_01 {
        padding: 40px 0 28px;
    }
}

.post_h1_01 {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.33334;
    letter-spacing: -0.025em;
    color: #202022;
    word-break: break-word;
}

@media (min-width: 0px) {
    .post_h1_01 {
        font-size: 24px;
    }
}

@media (min-width: 744px) {
    .post_h1_01 {
        font-size: 36px;
    }
}

.post_h2_01 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    word-break: break-word;
    font-size: 18px;
}

@media (min-width: 0px) {
    .post_h2_01 {
        margin-top: 8px;
    }
}

@media (min-width: 744px) {
    .post_h2_01 {
        margin-top: 12px;
    }
}

.post_info_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media (min-width: 0px) {
    .post_info_01 {
        margin-top: 20px;
    }
}

@media (min-width: 744px) {
    .post_info_01 {
        margin-top: 32px;
    }
}

.channel_info_01 {
    font-size: 16px;
    line-height: 1.5;
    color:  rgba(52 120 255);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentcolor;
    margin-right: 12px;
}

.imgWrap_05 {
    font-weight: 600;
    font-size: calc(40px * 0.4);
    line-height: 1;
    color: #202022;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f2f2f3;
}

.diary_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.noNameWrap_01 {
    gap: 2px;
    margin-bottom: 2px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.noName_01 {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
}

.post_info_02 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
}

.post_date_01 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767f;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.date_readcount_01 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: #76767f;
    margin-left: 4px;
    margin-right: 4px;
}

.post_content_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 0px) {
    .post_content_container_01 {
        max-width: 100%;
    }
}

@media (min-width: 744px) {
    .post_content_container_01 {
        max-width: 700px;
    }
}

.post-content {
    color: #202022;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.667;
    word-break: break-word;
    margin-top: 20px;
    visibility: hidden;
}

@media (min-width: 744px) {
    .post-content {
        line-height: 1.75;
        margin-top: 28px;
    }
}

.post-content.font-size-level3 {
    font-size: 16px;
}

@media (min-width: 744px) {
    .post-content.font-size-level3 {
        font-size: 18px;
    }
}

.post-content p {
    margin-bottom: 0;
    min-height: 1.7em;
}

.post-content>:first-child {
    margin-top: 0 !important;
}

.post-content.font-size-level3>* {
    margin-top: 16px;
}

@media (min-width: 744px) {
    .post-content.font-size-level3>* {
        margin-top: 18px;
    }
}

.post-content .photoset {
    min-width: 100%;
    margin-right: -16px;
    margin-left: -16px;
}

@media (min-width: 744px) {
    .post-content .photoset {
        width: 700px;
        margin-right: auto;
        margin-left: auto;
    }
}

.post-content .photoset-inner {
    text-align: center;
    line-height: 0;
}

.post-content .photoset>.photoset-inner, .post-content .photoset>.photoset-inner>.photo {
    display: flex
;
}

.post-content .photoset.fit>.photoset-inner>.photo, .post-content .photoset.fit>.photoset-inner>.photo>img, .post-content .photoset.slideshow>.photoset-inner>.photo>img, .post-content .photoset.tile-square>.photoset-inner>.photo>img, .post-content .photoset.tile>.photoset-inner>.photo>img, .post-content .photoset>.photoset-inner {
    width: 100%;
    height: 100%;
}

.post-content .photoset.individual>.photoset-inner {
    justify-content: center;
}

.post-content a:not(.btn) {
    text-decoration: underline;
}

.file .inner:not(.btn), .post-content a:not(.btn) {
    color: inherit;
}

.post-content .photoset .photo {
    position: relative;
    display: inline-block !important;
    cursor: pointer;
}

.post-content .photoset:not(.slideshow) .photo {
    float: left;
}

.post-content img {
    display: block;
    width: 100%;
    height: auto;
}

.post-content strong {
    font-weight: 700;
}

.post-content blockquote, .q1, .q2, .q3, .q4 {
    border-left: unset;
    color: unset;
    position: relative;
    width: 100%;
    font-style: normal;
    font-size: inherit;
    line-height: 1.625;
    letter-spacing: 0;
    transition: background .15s ease-in-out, border-color .15s ease-in-out;
}

.post-content blockquote.blockquote-type1, .q1 {
    padding: 32px 0 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.25em;
    line-height: 1.5;
    word-break: normal;
    text-align: center !important;
    border: 0;
}

@media (min-width: 744px) {
    .post-content blockquote.blockquote-type1 {
        width: 75%;
    }
}

blockquote>:first-child {
    margin-top: 0 !important;
}

blockquote>:last-child {
    margin-bottom: 0 !important;
}

.post-content blockquote.blockquote-type1>* {
    text-align: center !important;
}

.tag_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}

.tag_h6_01 {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.tag_wrap_01 {
    gap: 0.25rem;
    min-height: 24px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f2f2f3;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

.tag_wrap_01.aTag_myDiary_01.aTag_myDiary_03:not(.button_disabled_01) {
    color: #76767f;
}

.aTag_span_01 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    min-inline-size: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.post_section_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0px;
    border-top: 1px solid;
    border-color: rgba(118 118 127 / 0.15);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .post_section_01 {
        width: calc(100% - 8px);
        padding-top: 0;
        padding-bottom: 0;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 744px) {
    .post_section_01 {
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.post_buttonContainer_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media (min-width: 0px) {
    .post_buttonContainer_01 {
        width: 100%;
        padding-right: 0;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

@media (min-width: 744px) {
    .post_buttonContainer_01 {
        width: calc(50% - 0.5px);
        padding-right: 28px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
}

.post_buttonWrap_01 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    font: inherit;
    display: flex
;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    text-align: initial;
    -webkit-text-decoration: initial;
    text-decoration: initial;
    background-color: initial;
    cursor: pointer;
    border: 1px solid transparent;
    flex: none;
    font-size: inherit;
    line-height: inherit;
    min-inline-size: 0;
    color: #202022;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 64px;
}

@media (min-width: 0px) {
    .post_buttonWrap_01 {
        gap: 20px;
        padding: 20px 0;
        border-radius: 0;
        max-height: none;
    }
}

@media (min-width: 744px) {
    .post_buttonWrap_01 {
        gap: 16px;
        padding: 12px;
        border-radius: 8px;
        max-height: 64px;
    }
}

.post_buttonWrap_svg_01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

@media (min-width: 0px) {
    .post_buttonWrap_svg_01 {
        display: none;
    }
}

@media (min-width: 744px) {
    .post_buttonWrap_svg_01 {
        display: flex
;
    }
}

.previous_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
}

@media (min-width: 0px) {
    .previous_01 {
        display: flex
;
    }
}

@media (min-width: 744px) {
    .previous_01 {
        display: none;
    }
}

.previous_p_01 {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #76767f;
}

.title_subtitleWrap_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 0px) {
    .title_subtitleWrap_01 {
        width: calc(100% - 52px);
    }
}

@media (min-width: 744px) {
    .title_subtitleWrap_01 {
        width: calc(100% - 40px);
    }
}

.title_wrap_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.title_h5_01 {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.subtitle_h6_01 {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 2px;
    color: #79797f;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.nextButton_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: var(--joy-palette-divider);
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

@media (min-width: 0px) {
    .nextButton_container_01 {
        width: 100%;
        height: 1px;
    }
}

@media (min-width: 744px) {
    .nextButton_container_01 {
        width: 1px;
        height: 48px;
    }
}

.next_a_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media (min-width: 0px) {
    .next_a_01 {
        width: 100%;
        padding-left: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }
}

@media (min-width: 744px) {
    .next_a_01 {
        width: calc(50% - 0.5px);
        padding-left: 28px;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}

.aithink_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 93%;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid;
    border-color: #dadadc;
}

@media (min-width: 0px) {
    .aithink_container_01 {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width: 744px) {
    .aithink_container_01 {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 0;
    }
}

@media (min-width: 0px) {
    .aithink_container_01 {
        margin-top: 24px;
    }
}

@media (min-width: 744px) {
    .aithink_container_01 {
        margin-top: 0;
    }
}

.aithink_wrap_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 16px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.channelWrap_01 {
    font-size: 16px;
    line-height: 1.5;
    color:  rgba(52 120 255);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentcolor;
}

.channel_imgContainer_01 {
    display: block;
    -webkit-flex: initial;
    -ms-flex: initial;
    flex: initial;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 6px;
    width: 48px;
    height: 48px;
}

.imgWrap_03 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    border-radius: inherit;
    height: 0;
    padding-bottom: calc(56.25% - 0px);
    overflow: hidden;
    -webkit-transition: inherit;
    transition: inherit;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #f2f2f3;
}

.imgWrap_03123 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    border-radius: inherit;
    height: 0;
    padding-bottom: calc(100% - 0px);
    overflow: hidden;
    -webkit-transition: inherit;
    transition: inherit;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #f2f2f3;
}

.img_wrap_01 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgWrap_03 [data-first-child], .imgWrap_03123 [data-first-child] {
    display: flex
;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.imgWrap_03 [data-first-child]>img, .imgWrap_03123 [data-first-child]>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aithink_div_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 2px;
}

@media (min-width: 0px) {
    .aithink_div_01 {
        width: calc(100% - 64px);
    }
}

@media (min-width: 744px) {
    .aithink_div_01 {
        width: 350px;
    }
}

.channel_span_01 {
    margin: 0;
    display: inline;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.post_point_01 {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767f;
}

.add_channelWrap_01 {
    display: flex
;
    flex-direction: row;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
}

.add_channel_button_01 {
    min-height: 2rem;
    font-size: 14px;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #202022;
    font-weight: 500;
}

@media (min-width: 0px) {
    .add_channel_button_01 {
        width: 100%;
        display: flex
;
    }
}

@media (min-width: 744px) {
    .add_channel_button_01 {
        width: 88px;
        display: none;
    }
}

.add_channel_button_01.upload-buttonSize_01 {
    min-height: 32px;
    font-size: 14px;
}

.add_channelButton_01 {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #202022;
    font-weight: 500;
}

@media (min-width: 0px) {
    .add_channelButton_01 {
        width: 100%;
        display: none;
    }
}

@media (min-width: 744px) {
    .add_channelButton_01 {
        width: 88px;
        display: flex
;
    }
}

.add_channelButton_01.more_diaryButton_01 {
    min-height: 40px;
    font-size: 16px;
}

.recommend_post_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 50px;
    width: 100%;
}

.recommend_p_01 {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    margin-bottom: 16px;
}

.recommend_post_wrap_01 {
    flex-direction: row;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 28px;
}

@media (min-width: 744px) {
    .recommend_post_wrap_01 {
        --Grid-columnSpacing: 24px;
    }
}

@media (min-width: 744px) {
    .recommend_post_wrap_01 {
        --Grid-rowSpacing: 40px;
    }
}

.post_container_04 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: calc(100% * 6 / 12);
    min-width: 0px;
    box-sizing: border-box;
    padding: calc(40px / 2) calc(24px / 2);
}

@media (min-width: 744px) {
    .post_container_04 {
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-basis: auto;
        width: calc(100% * 6 / 12);
    }
}

.post_wrap_02 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    opacity: 1;
    position: relative;
}

@media (min-width: 0px) {
    .post_wrap_02 {
        gap: 10px;
    }
}

@media (min-width: 744px) {
    .post_wrap_02 {
        gap: 16px;
    }
}

.post_a_01 {
    display: block;
    flex: initial;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}

@media (min-width: 0px) {
    .post_a_01 {
        border-radius: 8px;
    }
}

@media (min-width: 744px) {
    .post_a_01 {
        border-radius: 12px;
    }
}

.img_container_01 {
    opacity: 1;
}

.recommend_post_container_02 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.recommend_post_a_01 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 0px) {
    .recommend_post_a_01 {
        gap: 4px;
    }
}

@media (min-width: 744px) {
    .recommend_post_a_01 {
        gap: 6px;
    }
}

.recommend_h3_01 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33334;
    letter-spacing: -0.025em;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (min-width: 0px) {
    .recommend_h3_01 {
        font-size: 16px;
    }
}

@media (min-width: 744px) {
    .recommend_h3_01 {
        font-size: 18px;
    }
}

.recommend_channelInfo_wrap_01 {
    flex-flow: wrap;
    column-gap: 4px;
    overflow-y: hidden;
    width: 100%;
    display: flex
;
}

@media (min-width: 0px) {
    .recommend_channelInfo_wrap_01 {
        height: 20px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media (min-width: 744px) {
    .recommend_channelInfo_wrap_01 {
        height: 24px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.aTag_tag_01 {
    gap: 0.25rem;
    min-height: 24px;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #f2f2f3;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

@media (min-width: 0px) {
    .aTag_tag_01 {
        display: none;
    }
}

@media (min-width: 744px) {
    .aTag_tag_01 {
        display: flex
;
    }
}

.aTag_tag_01.aTag_myDiary_01.aTag_myDiary_03:not(.button_disabled_01) {
    color: #76767f;
}

.post_info_03 {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
    overflow: auto;
    scrollbar-width: none;
    display: inherit
;
}

@media (min-width: 0px) {
    .post_info_03 {
        gap: 8px;
        padding-top: 1px;
        padding-bottom: 1px;
    }
}

@media (min-width: 744px) {
    .post_info_03 {
        gap: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

.post_pTag_01 {
    margin: 0;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    min-width: max-content;
    color: #76767f;
}

@media (min-width: 0px) {
    .post_pTag_01 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .post_pTag_01 {
        font-size: 14px;
    }
}

.post_span_01 {
    display: inline-flex
;
}

@media (min-width: 0px) {
    .post_span_01 {
        margin-inline-end: 2px;
    }
}

@media (min-width: 744px) {
    .post_span_01 {
        margin-inline-end: 4px;
    }
}

.post_span_svg_01 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: calc(1em * 1.5);
    color: currentcolor;
}

@media (min-width: 0px) {
    .post_span_svg_01 {
        width: 13px;
        height: 13px;
    }
}

@media (min-width: 744px) {
    .post_span_svg_01 {
        width: 16px;
        height: 16px;
    }
}

.profile_container_01 {
    display: flex
;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

@media (min-width: 0px) {
    .profile_container_01 {
        height: 24px;
    }
}

@media (min-width: 744px) {
    .profile_container_01 {
        height: 32px;
    }
}

.profile_a_01 {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52 120 255 / 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 4px 0px 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
    pointer-events: auto;
}

@media (min-width: 0px) {
    .profile_a_01 {
        display: none;
    }
}

@media (min-width: 744px) {
    .profile_a_01 {
        display: flex
;
    }
}

.profile_a_div_01 {
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    color: #202022;
    background-color: #f2f2f3;
    width: var(--Avatar-size, 2rem);
    height: var(--Avatar-size, 2rem);
    opacity: 1;
}

.profile_infoWrap_01 {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    flex: 1 1 0%;
    min-width: 0px;
}

.a_nickname_01 {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 2px 0px 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
    color: #202022;
    opacity: 1;
    pointer-events: auto;
}

.span_nickname_01 {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (min-width: 0px) {
    .span_nickname_01 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .span_nickname_01 {
        font-size: 14px;
    }
}

.date_p_01 {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    min-width: max-content;
    color: #76767f;
}

@media (min-width: 0px) {
    .date_p_01 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .date_p_01 {
        font-size: 14px;
    }
}

.scrap-buttonWrap_01 {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.scrap-button_01 {
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
    min-width: 32px;
    min-height: 32px;
    padding: 0px;
}

@media (min-width: 0px) {
    .scrap-button_01 {
        display: none;
    }
}

@media (min-width: 744px) {
    .scrap-button_01 {
        display: flex
;
    }
}

.scrap-button_01.uploadButton_01 {
    min-width: 32px;
    min-height: 32px;
}

.scrap-button_svg_01 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: calc(32px / 1.6);
    width: 1em;
    height: 1em;
    color: #76767f;
}

.joy-aadkxt {
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

@media (min-width: 0px) {
    .joy-aadkxt {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 744px) {
    .joy-aadkxt {
        width: 32px;
        height: 32px;
    }
}

.joy-aadkxt.uploadButton_01 {
    --Icon-fontSize: calc(var(--IconButton-size, 32px) / 1.6);
    min-width: 32px;
    min-height: 32px;
}

.joy-151ep5g {
    user-select: none;
    margin: var(--Icon-margin);
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: calc(32px / 1.6);
    width: 1em;
    height: 1em;
    color: #76767f;
}

.subtitle_p_01 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767f;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (min-width: 0px) {
    .subtitle_p_01 {
        font-size: var(--joy-fontSize-sm);
    }
}

@media (min-width: 744px) {
    .subtitle_p_01 {
        font-size: var(--joy-fontSize-md);
    }
}

.more_diaryContainer_01 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.more_diaryButton_02 {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    line-height: 1.5;
    color: #202022;
    background-color: #f2f2f3;
    font-weight: 500;
}

.more_diaryButton_02.more_diaryButton_01 {
    min-height: 40px;
    font-size: 16px;
}

.more_diaryButton_span_01 {
    display: inherit
;
    margin-right: 0.5rem;
}

.more_diaryButton_svg_01 {
    user-select: none;
    margin: 0 0 0 calc(0.5rem / -2);
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 20px;
    width: 16px;
    height: 16px;
    color: currentcolor;
}

.reply_container_01 {
    display: flex
;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 40px;
    padding-top: 50px;
}

.reply_count_01 {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
}

.comment_container_01 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    border: 1px solid #DADADC;
}

.button_disabled_02 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    padding-inline-start: 0.75rem;
    color: #202022;
    background-color: #FFFFFF;
    box-shadow: none;
    flex-direction: row;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    padding-block: calc(0.375rem - 1px);
    border-radius: 8px;
    border-color: #DADADC;
    padding: 14px 16px;
}

.button_disabled_02{
    background-color: transparent;
}

.reply_nicknameWrap_03 {
    display: flex
;
    margin-inline-end: calc(0.375rem - 1px);
    margin-block-end: 0.5rem;
    color: #76767f;
    cursor: initial;
}

.button_disabled_02 .reply_nicknameWrap_01 {
    margin: 0px;
    margin-inline: 0px 12px;
    margin-block: 0px;
}

textarea {
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: -internal-textarea-auto;
    cursor: text;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    white-space: pre-wrap;
}

.textareaInput_02 {
    resize: none;
    border: none;
    min-width: 0;
    outline: 0;
    padding: 0;
    -webkit-padding-end: 0.75rem;
    padding-inline-end: 0.75rem;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.diary_div_001 {
    display: flex
;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(118 118 127 / 0.15);
}

.footer_navBar {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 48px;
    border-top: 1px solid;
    border-color: rgba(118 118 127 / 0.15);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 500;
    -webkit-transition: bottom 0.3s;
    transition: bottom 0.3s;
}

.nav_container_02 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 724px;
    padding: 8px;
    background-color: #FFFFFF;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.nav_wrap_01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
}

.like_button_01 {
    min-height: 2rem;
    font-size: 14px;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #202022;
    font-weight: 500;
}

.like_button_01.upload-buttonSize_01 {
    min-height: 32px;
    font-size: 14px;
}

.more_diaryButton_span_01 {
    display: inherit
;
    margin-right: 0.375rem;
}

.post_menuButton_svg_01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0 0 calc(-0.1875rem);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 20px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

.noComent_01 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
    margin-left: 4px;
}

.noComent_01.uploadButton_01 {
    min-width: 32px;
    min-height: 32px;
}

.moveButton_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 32px;
    gap: 8px;
}

.moreReply_button_01 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

.moreReply_button_01.uploadButton_01 {
    min-width: 32px;
    min-height: 32px;
}

.post_moreButton_svg_01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 20px;
    width: 24px;
    height: 24px;
    color: currentcolor;
}

.like_button_01.button_disabled_01 {
    pointer-events: none;
    cursor: default;
    color: #a4a4a8
}

.joy-1f06h34 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767f;
}

.moveButton_span_01 {
    display: inherit
;
    margin-left: 0.375rem;
}

.reply_wrap_01:hover {
    cursor: text;
}

.reply_wrap_01{
    background-color: transparent;
}

.reply_nicknameWrap_02 {
    display: flex
;
    margin-block-end: 16px;
    color: #76767f;
    cursor: initial;
    margin-inline: 0px;
}

.nickname_div_01 {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
}

.nickname_imgWrap_01 {
    font-weight: 600;
    font-size: calc(32px * 0.4375);
    line-height: 1;
    color: #202022;
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    background-color: #f2f2f3;
    width: 32px;
    height: 32px;
}

.aTag_divImg_01 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.title_h5_01 {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.upload_buttonContainer_02 {
    display: flex
;
    margin-block-start: 16px;
    color: #76767f;
    cursor: initial;
    margin-inline: 0px;
}

.uploadButton_wrap_01 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.uploadButton_div_01 {
    display: flex
;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.uploadButton_02 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
    padding: 4px;
}

.uploadButton_02.uploadButton_01 {
    min-width: 32px;
    min-height: 32px;
}

.joy-l3odn9 {
    font-size: 14px;
    gap: 0.5rem;
    position: relative;
    display: inline-flex
;
    line-height: 1rem;
    color: #202022;
}

.joy-kit57i {
    border-radius: inherit;
    text-align: left;
    position: absolute;
    top: calc(-1 * 1px);
    left: calc(-1 * 1px);
    bottom: calc(-1 * 1px);
    right: calc(-1 * 1px);
    z-index: 1;
}

.joy-1jj0cvj {
    margin: 0px;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.joy-1fjtzvx {
    flex: 1 1 0%;
    min-width: 0px;
}

.button_wrap_02 {
    display: flex
;
    flex-direction: row;
    gap: 8px;
}

.uploadButton_css_01 {
    min-height: min(1.75rem, 2.25rem);
    font-size: 14px;
    padding-block: 0px;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #202022;
    font-weight: 500;
}
/* 댓글 등록 가능시 */
@media (hover: hover) {
    .uploadButton_css_01:hover {
        background-color: #000000;
    }
}
/* 댓글 등록 가능시 */

/* 댓글 내용 없을시 */
.reply-button-disabled {
    pointer-events: none;
    cursor: default;
    color: #a4a4a8;
    background-color: #f9f9fa;
}
/* 댓글 내용 없을시 */


.uploadButton_css_01.upload-buttonSize_01 {
    min-height: min(1.75rem, 2.25rem);
    font-size: 14px;
}


.button_container_01 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 20px;
}

.joy-12qidki {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    color: #202022;
    background-color: #FFFFFF;
    border-radius: 8px;
    border-color: rgb(218, 218, 220);
}

.post_container_001 {
    display: flex
;
    flex-direction: row;
}

@media (min-width: 744px) {
    .post_container_001 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.profile_wrap_01 {
    margin-right: 12px;
    position: relative;
}

.profile_a_02 {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52 120 255);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
    height: fit-content;
}

.nickname_span_01 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.post_contentContainer_01 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    min-width: 0px;
}

.post_contentWrap_01 {
    display: flex
;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}

.nickname_a_01 {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.date_button_01 {
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    position: relative;
    color: #76767f;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33334;
    flex-shrink: 0;
}

.replyContent_wrap_01 {
    margin-bottom: 10px;
}

.replyContent_01 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    word-break: break-word;
}

.likeButton_container_01 {
    display: flex
;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-right: -6px;
}

.likeButton_wrap_01 {
    display: flex
;
    flex-direction: row;
    gap: 4px;
}

.like_svg_01 {
    user-select: none;
    margin: 0 0 0 calc(0.375rem / -2);
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: currentcolor;
}

@media (hover: hover) {
    .like_button_01:hover, .moreReply_button_01:hover, .post-button:hover {
        background-color: #f2f2f3;
        color: #202022;
    }
}

.joy-fkbdob {
    user-select: none;
    margin: 0 0 0 calc(0.375rem / -2);
    display: inline-block;
    fill: red;
    flex-shrink: 0;
    font-size: 18px;
    width: 18px;
    height: 18px;
    color: red;
}

.post_moreButton_01 {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
    color: #202022;
    padding: 8px;
}

.header-div-container{
    display: flex
;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.joy-oqjr4q {
    padding-left: 0px;
    margin: initial;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    padding-block: 0.375rem;
    box-sizing: border-box;
    list-style: none;
    display: flex
;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    overflow: auto;
    z-index: 1000;
    background-color: #FFFFFF;
    color: #202022;
    width: 140px;
}

.joy-1nwwb6p {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    text-align: initial;
    background-color: initial;
    cursor: pointer;
    margin-block-start: 0px;
    padding-inline-start: calc(00.75rem, 0px);
    padding-inline-end: calc(00.75rem, 0px);;
    min-block-size: 40px;
    min-inline-size: 0px;
    color: #202022;
    font: inherit;
    gap: 0.625rem;
    text-decoration: initial;
    margin-inline: 0px;
    padding-block: calc(0.25rem - 0px, 0px);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    flex: none;
    padding: 8px 16px;
}

.button_text_01 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #d41724;
}

.button_text_02 {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #202022;
}

.joy-1wbk7pq {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: calc(32px / 1.6);
    width: 1em;
    height: 1em;
    color: #3478ff;
}

.joy-13ig9df {
    user-select: none;
    margin: 0 0 0 calc(0.375rem / -2);
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 18px;
    width: 1em;
    height: 1em;
    color: #d41724;
}

.emotion-wrap{
    margin-top: 10px;

}

.emotion-text{
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    color: #202022;
}

.emotion-emoticon {
    width: 20px;
}

.ai-container{
    margin-top: 10px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #DDE3E8;
    height: 100px;
    width: 100%;
    padding: 20px;
}

.ai-think{
    font-size: 17px;
    font-weight: 600;
}

.comment-wrap{
    margin: 20px;
}