<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Feelog 개인 채널 감정 기록</title>
        <link rel="stylesheet" href="/css/blog/blog-mind-log.css" />
        <link rel="stylesheet" href="/css/official/official.css" />
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <section >
            <!-- 헤더 넣을 곳 -->
            <header id="main-header"
                    th:replace="~{main/header.html :: #main-header}"></header>
            <!-- 헤더 넣을 곳 -->
            <div class="FlgStack-root-need jk-feelog-div046">
                <div class="FlgStack-root-need jk-feelog-div047">
                    <div class="FlgStack-root-need jk-feelog-div048">
                        <div class="FlgBox-root-need jk-feelog-div043"></div>
                        <a id="skip" class="sr-only" href="#main"
                        >주요 내용으로 건너뛰기</a
                        >
                        <header class="FlgStack-root-need jk-feelog-header-001">
                            <section class="FlgStack-root-need jk-feelog-section004">
                                <div class="FlgStack-root-need jk-feelog-div077">
                                    <div class="FlgStack-root-need jk-feelog-div078">
                                        <div class="FlgBox-root-need jk-feelog-div079">
                                            <div class="FlgBox-root-need jk-feelog-div056">
                                                <img th:if="${channelInfo.channelFilePath != null}"
                                                     th:src="@{'/files/display?path=' + ${channelInfo.channelFilePath} + '/' + ${channelInfo.channelFileName}}"
                                                     style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; object-fit: cover; color: transparent;" />
                                                <img th:if="${channelInfo.channelFilePath == null}"
                                                     th:src="@{/images/channel_banner.png}"
                                                     style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; object-fit: cover; color: transparent;" />
                                            </div>
                                        </div>

                                        <div class="FlgStack-root-need jk-feelog-div080">
                                            <a class="channel-title jk-feelog-a-012" th:href="@{'/feelog.com/@' + ${channelInfo.channelUrl}}">
                                                <h1 class="FlgTypography-h1 jk-feelog-h1-001" th:text="${channelInfo.channelTitle}">채널명</h1>
                                            </a>
                                            <div class="FlgStack-root-need jk-feelog-div081">
                                                <a th:href="@{'/feelog.com/@' + ${channelInfo.memberNickname}}" class="jk-feelog-a-013">
                                                    <span class="jk-feelog-span014" th:text="${channelInfo.memberNickname}">닉네임</span>
                                                </a>
                                                ·
                                                <p class="jk-feelog-p014">구독자</p>
                                                <p class="jk-feelog-p014" th:text="${channelInfo.subscriberCount} + '명'">0명</p>
                                                ·
                                                <p class="jk-feelog-p014">포스트</p>
                                                <p class="jk-feelog-p014" th:text="${channelInfo.postCount} + '개'">0개</p>
                                            </div>
                                            <div class="FlgStack-root-need jk-feelog-div082">
                                                <p class="jk-feelog-p015" th:text="${channelInfo.channelIntroduce}">
                                                    채널 소개 문구
                                                </p>
                                                <svg
                                                        focusable="false"
                                                        aria-hidden="true"
                                                        viewBox="0 0 24 24"
                                                        width="24"
                                                        height="24"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="jk-feelog-main-svg11"
                                                >
                                                    <path
                                                            d="M16.416 11.332a.934.934 0 0 1 0 1.325l-7.5 7.504a.937.937 0 0 1-1.324-1.324L14.428 12l-6.84-6.84a.937.937 0 0 1 1.324-1.324l7.504 7.495Z"
                                                            fill="currentcolor"
                                                    ></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="FlgStack-root-need jk-feelog-div083">
                                        <!-- 내 채널이면 "채널 설정" -->
                                        <a th:if="${isOwner}" th:href="@{'/myPage/read-channel/' + ${channelInfo.channelUrl}}">
                                            <button class="FlgButton-sizeMd-need jk-feelog-btn019" type="button">
                                                설정
                                            </button>
                                        </a>

                                        <!-- 남의 채널이면 "구독 / 구독 취소" -->
                                        <button th:if="${!isOwner}"
                                                class="FlgButton-sizeMd-need jk-feelog-btn019 subscribe-btn"
                                                type="button"
                                                th:data-channel-id="${channelInfo.channelId}"
                                                th:text="${isSubscribed} ? '구독 취소' : '구독'">
                                        </button>
                                    </div>
                                </div>
                                <div class="FlgStack-root-need jk-feelog-div084">
                                    <!-- 내 채널이면 "채널 설정" -->
                                    <a th:if="${isOwner}" th:href="@{'/myPage/read-channel/' + ${channelInfo.channelUrl}}">
                                        <button class="FlgButton-sizeMd-need jk-feelog-btn019" type="button">
                                            설정
                                        </button>
                                    </a>

                                    <!-- 남의 채널이면 "구독 / 구독 취소" -->
                                    <button th:if="${!isOwner}"
                                            class="FlgButton-sizeMd-need jk-feelog-btn019 subscribe-btn"
                                            type="button"
                                            th:data-channel-id="${channelInfo.channelId}"
                                            th:text="${isSubscribed} ? '구독 취소' : '구독'">
                                    </button>
                                </div>
                            </section>
                        </header>
                        <nav class="FlgStack-root-need jk-feelog-nav003">
                            <div
                                    class="FlgStack-root-need jk-feelog-header-001"
                            >
                                <ul
                                        aria-label="채널 탭 리스트"
                                        class="FlgList-sizeMd-need jk-feelog-ul003"
                                >
                                    <li
                                            data-first-child=""
                                            class="jk-feelog-li005"
                                    >
                                        <a
                                                style="
                                                display: flex;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 0;
                                                padding: 0 4px;
                                                margin: 0;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 0;
                                                text-decoration: none;
                                            "
                                                data-first-child=""
                                                th:href="@{'/feelog.com/@' + ${channel.channelUrl}}"
                                        ><span class="jk-feelog-span018"
                                        >홈</span
                                        ></a
                                        >
                                    </li>
                                    <li class="jk-feelog-li004">
                                        <a
                                                style="
                                                display: flex;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 0;
                                                padding: 0 4px;
                                                margin: 0;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 0;
                                                text-decoration: none;
                                            "
                                                data-first-child=""
                                                th:href="@{'/feelog.com/@' + ${channel.channelUrl} + '/diary'}"
                                        ><span class="jk-feelog-span018"
                                        >감정 기록</span
                                        ></a
                                        >
                                    </li>
                                    <li class="jk-feelog-li005">
                                        <a
                                                style="
                                                display: flex;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 0;
                                                padding: 0 4px;
                                                margin: 0;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 0;
                                                text-decoration: none;
                                            "
                                                data-first-child=""
                                                th:href="@{'/feelog.com/@' + ${channel.channelUrl} + '/post'}"
                                        ><span class="jk-feelog-span018"
                                        >포스트</span
                                        ></a
                                        >
                                    </li>
                                    <li class="jk-feelog-li005">
                                        <a
                                                style="
                                                display: flex;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 0;
                                                padding: 0 4px;
                                                margin: 0;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 0;
                                                text-decoration: none;
                                            "
                                                data-first-child=""
                                                th:href="@{'/feelog.com/@' + ${channel.channelUrl} + '/cheers'}"
                                        ><span class="jk-feelog-span018"
                                        >응원글</span
                                        ></a
                                        >
                                    </li>
                                    <li class="jk-feelog-li005">
                                        <a
                                                style="
                                                display: flex;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 0;
                                                padding: 0 4px;
                                                margin: 0;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 0;
                                                text-decoration: none;
                                            "
                                                data-first-child=""
                                                th:href="@{'/feelog.com/@' + ${channel.channelUrl} + '/community'}"
                                        ><span class="jk-feelog-span018"
                                        >커뮤니티</span
                                        ></a
                                        >
                                    </li>
                                    <li class="jk-feelog-li005">
                                        <a
                                                style="
                                                display: flex;
                                                width: 100%;
                                                height: 100%;
                                                min-width: 0;
                                                padding: 0 4px;
                                                margin: 0;
                                                align-items: center;
                                                justify-content: center;
                                                border-radius: 0;
                                                text-decoration: none;
                                            "
                                                data-first-child=""
                                                th:href="@{'/challenge/task-list'}"
                                        ><span class="jk-feelog-span018"
                                        >챌린지</span
                                        ></a
                                        >
                                    </li>
                                </ul>
                            </div>
                            <hr class="jk-feelog-hr01" />
                        </nav>
                    </div>
                </div>
            </div>
            <div class="FlgStack-root-need jk-feelog-div046">
                <div class="FlgStack-root-need jk-feelog-div047">
                    <div class="FlgStack-root-need jk-feelog-div048">
                        <div class="FlgBox-root-need jk-feelog-div043"></div>

                        <main class="FlgStack-root-need jk-feelog-main-002">
                            <section
                                class="FlgStack-root-need jk-feelog-section002"
                                th:data-channel-url="${channel.channelUrl}"
                                th:data-viewer-id="${viewerId}"
                            >
                                <div
                                    class="FlgStack-root-need jk-feelog-div049"
                                >
                                    <h2 class="jk-feelog-h2-003">
                                        감정 기록
                                    </h2>
                                    <!--<div
                                        class="FlgStack-root-need jk-feelog-div050"
                                    >
                                        <button class="jk-feelog-btn014">
                                            <span class="jk-feelog-span004"
                                                >최신순</span
                                            >
                                        </button>
                                        <hr class="jk-feelog-hr05" />
                                        <button class="jk-feelog-btn014">
                                            <span class="jk-feelog-span005"
                                                >인기순</span
                                            >
                                        </button>
                                    </div>-->
                                </div>
                                <section
                                    class="FlgGrid-root-need jk-feelog-section003"
                                >
                                </section>
                                <div
                                    class="FlgStack-root-need jk-feelog-div065"
                                >
                                    <button
                                        aria-label="이전 페이지"
                                        class="FlgIconButton-root-need Flg-disabled-need FlgIconButton-sizeSm-need jk-feelog-btn001"
                                        type="button"
                                        disabled=""
                                    >
                                        <svg
                                            focusable="false"
                                            aria-hidden="true"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="jk-feelog-main-svg01"
                                        >
                                            <path
                                                d="M8.713 11.332a.934.934 0 0 0 0 1.325l5.25 5.254a.937.937 0 0 0 1.324-1.324l-4.586-4.59 4.59-4.586a.937.937 0 0 0-1.324-1.324l-5.254 5.245Z"
                                                fill="currentcolor"
                                            ></path>
                                        </svg></button
                                    ><button
                                        type="button"
                                        class="FlgIconButton-root-need FlgIconButton-sizeSm-need jk-feelog-btn015"
                                    >
                                        1</button
                                    ><button
                                        type="button"
                                        class="FlgIconButton-root-need FlgIconButton-sizeSm-need jk-feelog-btn001"
                                    >
                                        2</button
                                    ><button
                                        type="button"
                                        class="FlgIconButton-root-need FlgIconButton-sizeSm-need jk-feelog-btn001"
                                    >
                                        3</button
                                    ><button
                                        type="button"
                                        class="FlgIconButton-root-need FlgIconButton-sizeSm-need jk-feelog-btn001"
                                    >
                                        4</button
                                    ><button
                                        type="button"
                                        class="FlgIconButton-root-need FlgIconButton-sizeSm-need jk-feelog-btn001"
                                    >
                                        5</button
                                    ><button
                                        aria-label="다음 페이지"
                                        class="FlgIconButton-root-need FlgIconButton-sizeSm-need jk-feelog-btn001"
                                        type="button"
                                    >
                                        <svg
                                            focusable="false"
                                            aria-hidden="true"
                                            viewBox="0 0 24 24"
                                            width="24"
                                            height="24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                            class="jk-feelog-main-svg01"
                                        >
                                            <path
                                                d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                                fill="currentcolor"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script th:inline="javascript">
        const loginMember = [[${session.member}]]
        const loginMemberId = Number(loginMember.id);
    </script>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/main/notification.js"></script>
    <script src="/js/main/main-search-modal.js"></script>
    <script src="/js/blog/blog-diary.js"></script>
    <script src="/js/subscribe/subscribe.js"></script>
</html>
