<!-- 2025.04.04 조승찬 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/join/certifying.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/footer.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <title>Document</title>
    </head>
    <body>
    <!-- 헤더 넣을 곳 -->
    <header id="main-header"
            th:replace="~{main/header.html :: #main-header}"></header>
    <!-- 헤더 넣을 곳 -->
        <main class="FeelogBox-root flog-main-2">
            <div class="FeelogStack-root flog-div-38">
                <h1 class="FeelogTypography-root FeelogTypography-body-md flog-h1-3">이메일 인증</h1>
                <p class="FeelogTypography-root FeelogTypography-body-sm flog-p-9" style="white-space: pre-line;">
                    ‘인증 메일 보내기’ 버튼을 눌러 주세요.<br /> 등록한 이메일 주소로 인증 메일을 보내 드릴게요.
                    10분 안에 링크를 열어 이메일 인증을 완료해 주세요.<br /> 인증 메일을 받지 못했다면 <br />다시 ‘인증 메일 보내기' 버튼을 눌러 주세요.
                </p>
                <form id="signupForm" method="post" action="/join/certifying" class="Form__RegisterPageForm-sc-1l5lis6-0 fLECcs">
                    <div
                            class="FeelogInput-root FeelogInput-variantOutlined FeelogInput-colorNeutral FeelogInput-sizeMd flog-div-39"
                    >
                        <input type="email"
                               aria-label="이메일 인증"
                               maxlength="320"
                               class="FeelogInput-input flog-input-1"
                               th:value="${email}"
                               readonly
                        />
                        <p th:if="${errorMessage}" class="bViOzS">[[${errorMessage}]]</p>
                    </div>
                    <button
                            class="FeelogButton-root FeelogButton-variantSolid FeelogButton-colorPrimary FeelogButton-sizeMd flog-button-8"
                            type="button"
                    >
                        인증 메일 보내기
                    </button>
                </form>

            </div>
        </main>
        <div role="presentation" class="FeelogModal-root flog-div-40" style="display: none">
            <div aria-hidden="true" open="" class="FeelogModal-backdrop flog-div-41"></div>
            <div tabindex="0" data-testid="sentinelStart"></div>
            <div
                role="dialog"
                aria-modal="true"
                aria-labelledby=":ra:"
                aria-describedby=":rb:"
                tabindex="-1"
                class="FeelogModalDialog-root FeelogModalDialog-variantOutlined FeelogModalDialog-colorNeutral FeelogModalDialog-sizeMd FeelogModalDialog-layoutAlert flog-div-42"
            >
                <h2 id=":ra:" data-first-child="" class="FeelogDialogTitle-root FeelogDialogTitle-title-lg flog-h2-4">
                    알림
                </h2>
                <button
                    aria-label="닫기"
                    class="FeelogModalClose-root FeelogModalClose-variantPlain FeelogModalClose-colorNeutral FeelogModalClose-sizeMd flog-button-9"
                    type="button"
                >
                    <svg
                        focusable="false"
                        aria-hidden="true"
                        viewBox="0 0 24 24"
                        data-testid="CloseIcon"
                        class="FeelogSvgIcon-root FeelogSvgIcon-sizeMd flog-svg-6"
                    >
                        <path
                            d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                        ></path>
                    </svg>
                </button>
                <div id=":rb:" class="FeelogDialogContent-root flog-div-43">
                    입력한 이메일 주소로 인증 메일을 보냈어요. 메일을 열어 링크를 클릭하면 인증이 완료돼요.
                </div>
                <div data-last-child="" class="FeelogDialogActions-root flog-div-44">
                    <button
                        class="FeelogButton-root FeelogButton-variantSolid FeelogButton-colorPrimary FeelogButton-sizeMd flog-button-10"
                        type="button"
                    >
                        확인
                    </button>
                </div>
            </div>
            <div tabindex="0" data-testid="sentinelEnd"></div>
        </div>
    <!-- footer 넣을 곳 -->
    <footer id="main-footer"
            th:replace="~{main/footer.html :: #main-footer}"></footer>
    <!-- footer 넣을 곳 -->
    </body>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/join/certifying-event.js"></script>
    <script src="/js/join/certifying-service.js"></script>
    <script src="/js/join/certifying-layout.js"></script>
</html>
