<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=!, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/join/certified.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/footer.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <title>이메일 인증완료</title>
    </head>
    <body>
    <!-- 헤더 넣을 곳 -->
    <header id="main-header"
            th:replace="~{main/header.html :: #main-header}"></header>
    <!-- 헤더 넣을 곳 -->
        <main class="FeelogBox-root flog-main-2">
            <div class="FeelogStack-root flog-div-33">
                <h1 class="FeelogTypography-root FeelogTypography-h1 flog-h1-2">이메일 인증 완료</h1>
                <div class="FeelogStack-root flog-div-34">
                    <p class="FeelogTypography-root FeelogTypography-body-sm flog-p-8">이메일 주소가 인증되었어요.</p>
                    <p class="FeelogTypography-root FeelogTypography-body-sm flog-p-8">
                        비밀번호를 잊으셨나요?
                        <a
                            href="/login/password-issue"
                            target="_blank"
                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-inherit FeelogLink-underlineNone flog-a-12"
                            >비밀번호 재설정</a
                        >
                    </p>
                </div>
                <a
                    href="/"
                    class="FeelogButton-root FeelogButton-variantSoft FeelogButton-colorNeutral FeelogButton-sizeMd flog-a-13"
                >
                    필로그 홈으로 가기</a
                >
            </div>
        </main>
    <!-- footer 넣을 곳 -->
    <footer id="main-footer"
            th:replace="~{main/footer.html :: #main-footer}"></footer>
    <!-- footer 넣을 곳 -->
    </body>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/main/notification.js"></script>
    <script src="/js/main/main-search-modal.js"></script>
</html>
