<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../static/css/main/new-blog.css" />
    </head>
    <body>
        <!-- 헤더 넣을 곳 -->

        <div class="feelog-header-mainDiv" id="header-container"></div>
        <script>
            // Load header.html and insert it in#header-placeholder
            fetch("../main/header.html")
                .then((response) => response.text())
                .then((data) => {
                    document.getElementById("header-container").innerHTML =
                        data;
                })
                .catch((error) =>
                    console.error("Error loading header:", error)
                );
        </script>
        <!-- 헤더 넣을 곳 -->

        <div class="FlgStack-root-need jk-feelog-div033">
            <div class="FlgStack-root-need jk-feelog-div034">
                <nav class="FlgBox-root-need jk-feelog-nav001">
                    <ul class="FlgList-sizeMd-need jk-feelog-ul002"></ul>
                    <h2 class="FlgBox-root-need jk-feelog-h2-002">
                        <a href="/channel/create" class="jk-feelog-a-001"
                            >새 채널 만들기</a
                        >
                    </h2>
                </nav>
                <main class="FlgStack-root-need jk-feelog-main-001">
                    <div class="FlgStack-root-need jk-feelog-div035">
                        <form class="FlgStack-root-need jk-feelog-form-001">
                            <div class="jk-feelog-div029">
                                <label
                                    for=":R19ukvf9ul7rlqakq:"
                                    id=":Rr9ukvf9ul7rlqakq:-label"
                                    class="jk-feelog-label001"
                                    >채널 프로필 이미지</label
                                >
                                <div
                                    class="FlgStack-root-need jk-feelog-div036"
                                >
                                    <div
                                        class="FlgBox-root-need jk-feelog-div037"
                                    >
                                        <img
                                            src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/blog_blank.png"
                                            alt="channel-profile"
                                        />
                                    </div>
                                    <div
                                        class="FlgStack-root-need jk-feelog-div038"
                                        data-testid="ImageUpload-data"
                                    >
                                        <input
                                            id=":R19ukvf9ul7rlqakq:"
                                            accept="image/jpeg, image/png, image/heic, image/heif, image/webp"
                                            type="file"
                                            style="display: none"
                                            name="avatar"
                                        />
                                        <div class="jk-feelog-div039">
                                            <p class="jk-feelog-p008">
                                                파일을 선택해 주세요.
                                            </p>
                                            <button
                                                type="button"
                                                class="FlgButton-sizeMd-need jk-feelog-btn012"
                                            >
                                                파일 선택
                                            </button>
                                        </div>
                                        <div
                                            class="FlgStack-root-need jk-feelog-div040"
                                        >
                                            <p class="jk-feelog-p006">
                                                최대 10MB의 이미지 파일을 올려
                                                주세요. 1:1 비율이면 가장
                                                좋아요.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jk-feelog-div029">
                                <label
                                    for=":R1b9ukvf9ul7rlqakq:"
                                    id=":R1b9ukvf9ul7rlqakq:-label"
                                    required=""
                                    class="jk-feelog-label001"
                                    >채널 제목<span
                                        aria-hidden="true"
                                        class="jk-feelog-span003"
                                        > <!-- -->*</span
                                    ></label
                                >
                                <div class="FlgBox-root-need">
                                    <div
                                        class="FlgInput-root-need jk-feelog-div041"
                                    >
                                        <input
                                            id=":R1b9ukvf9ul7rlqakq:"
                                            maxlength="45"
                                            aria-required="true"
                                            class="FlgInput-input-need jk-feelog-input002"
                                            name="title"
                                            aria-describedby=":R1b9ukvf9ul7rlqakq:-helper-text"
                                        />
                                    </div>
                                    <div
                                        class="jk-feelog-div042"
                                        id=":R1b9ukvf9ul7rlqakq:-helper-text"
                                    >
                                        채널에 이름을 붙여 주세요. (최대 45자)
                                    </div>
                                </div>
                            </div>
                            <div class="jk-feelog-div029">
                                <label
                                    for=":R1r9ukvf9ul7rlqakq:"
                                    id=":R1r9ukvf9ul7rlqakq:-label"
                                    class="jk-feelog-label001"
                                    >채널 설명</label
                                >
                                <div class="FlgBox-root-need jk-feelog-div043">
                                    <div
                                        class="FlgTextarea-variantOutlined-need jk-feelog-div044"
                                    >
                                        <textarea
                                            rows="4"
                                            style="height: 96px"
                                            id=":R1r9ukvf9ul7rlqakq:"
                                            name="description"
                                            maxlength="255"
                                            class="jk-feelog-txtarea001"
                                            aria-describedby=":R1r9ukvf9ul7rlqakq:-helper-text"
                                        ></textarea
                                        ><textarea
                                            aria-hidden="true"
                                            class="jk-feelog-txtarea001"
                                            readonly=""
                                            tabindex="-1"
                                            style="
                                                visibility: hidden;
                                                position: absolute;
                                                overflow: hidden;
                                                height: 0px;
                                                top: 0px;
                                                left: 0px;
                                                transform: translateZ(0px);
                                                padding-top: 0px;
                                                padding-bottom: 0px;
                                                width: 626px;
                                            "
                                        ></textarea>
                                    </div>
                                    <div
                                        class="jk-feelog-div042"
                                        id=":R1r9ukvf9ul7rlqakq:-helper-text"
                                    >
                                        채널을 더 자세하게 소개해 주세요. (최대
                                        255자)
                                    </div>
                                </div>
                            </div>
                            <div class="jk-feelog-div029">
                                <label
                                    for=":R2b9ukvf9ul7rlqakq:"
                                    id=":R2b9ukvf9ul7rlqakq:-label"
                                    required=""
                                    class="jk-feelog-label001"
                                    >채널 URL<span
                                        aria-hidden="true"
                                        class="jk-feelog-span003"
                                        > <!-- -->*</span
                                    ></label
                                >
                                <div class="FlgBox-root-need">
                                    <div
                                        class="FlgInput-root-need jk-feelog-div041"
                                    >
                                        <div class="jk-feelog-div045">
                                            <p class="jk-feelog-p009">
                                                feelog.com/@
                                            </p>
                                        </div>
                                        <input
                                            id=":R2b9ukvf9ul7rlqakq:"
                                            placeholder="URL을 입력해 주세요."
                                            aria-required="true"
                                            maxlength="45"
                                            class="FlgInput-input-need jk-feelog-input003"
                                            name="subDomain"
                                            aria-describedby=":R2b9ukvf9ul7rlqakq:-helper-text"
                                        />
                                    </div>
                                    <div
                                        class="jk-feelog-div042"
                                        id=":R2b9ukvf9ul7rlqakq:-helper-text"
                                    >
                                        URL은 영문 소문자, 숫자, 대시(-)만
                                        입력할 수 있어요. (최소 6자, 최대 45자)
                                    </div>
                                </div>
                            </div>
                            <button
                                type="submit"
                                class="FlgButton-sizeMd-need jk-feelog-btn013"
                            >
                                새 채널 만들기
                            </button>
                        </form>
                    </div>
                </main>
            </div>
        </div>

        <!-- footer 넣을 곳 -->
        <div class="jk-feelog-footer" id="footer-container"></div>
        <script>
            // Load footer.html and insert it into #footer-placeholder
            fetch("../main/footer.html")
                .then((response) => response.text())
                .then((data) => {
                    document.getElementById("footer-container").innerHTML =
                        data;
                })
                .catch((error) =>
                    console.error("Error loading footer:", error)
                );
        </script>
        <!-- footer 넣을 곳 -->
    </body>
    <script src="../../static/js/main/main-modal.js"></script>
</html>
