/* 2025.04.06 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}

body {
    margin: 0;
    color: #202022;
    /* font-family: ; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.flog-div-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100dvh;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* 헤더 여기서 부터 */
.flog-header-1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}

.flog-nav-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    max-width: 1144px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@media (min-width: 0px) {
    .flog-nav-1 {
        padding: 4px 8px;
        height: 48px;
    }
}

@media (min-width: 744px) {
    .flog-nav-1 {
        padding: 12px 32px;
        height: 64px;
    }
}

.flog-div-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .flog-div-2 {
        gap: 0px;
    }
}

@media (min-width: 744px) {
    .flog-div-2 {
        gap: 8px;
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.flog-a-1 {
    cursor: pointer;
}

@media (min-width: 0px) {
    .flog-a-1 {
        display: none;
        padding: 11px 8px;
    }
}

@media (min-width: 744px) {
    .flog-a-1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 8px 0 0;
    }
}

.flog-button-10.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

.flog-a-2 {
    cursor: pointer;
    padding: 8px;
}

@media (min-width: 0px) {
    .flog-a-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 744px) {
    .flog-a-2 {
        display: none;
    }
}

.flog-svg-2 {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
    width: 24px;
    height: 24px;
    color: #1976d2;
}

.flog-svg-2 g > rect {
    fill: #1976d2;
}

.flog-svg-2 clipPath rect {
    fill: #f2f2f3;
}

.flog-h2-1 {
    position: absolute;
    margin: 0px;
    z-index: 500;
}

@media (min-width: 0px) {
    .flog-h2-1 {
        left: 32px;
        padding: 8.75px 12px;
    }
}

@media (min-width: 744px) {
    .flog-h2-1 {
        top: 60px;
        left: 0;
        padding: 7.5px 8px;
    }
}

.flog-h2-5 {
    font-size: calc(1em * 1.25);
    margin: 20px 0px 0px 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: #202022;
    text-decoration: none;
    white-space: nowrap;
}

.flog-div-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .flog-div-3 {
        gap: 4px;
    }
}

@media (min-width: 744px) {
    .flog-div-3 {
        gap: 8px;
    }
}

@media (min-width: 0px) {
    .flog-div-4 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-div-4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.flog-button-1 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #f2f2f3;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
}

.flog-button-1.FeelogMenuButton-sizeMd {
    min-height: 40px;
}

.flog-span-1 {
    margin: 0 0 0 calc(0.5rem / -2);
    display: inherit;
    margin-right: 0.5rem;
}

.flog-svg-3 {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
}

.flog-button-2 {
    margin: initial;
    color: #202022;
    font-size: calc(2.25rem / 1.5);
    min-width: 2.25rem;
    min-height: 2.25rem;
    padding-inline: 0.25rem;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flog-button-2.FeelogIconButton-sizeMd {
    font-size: calc(40px / 1.667);
    min-width: 40px;
    min-height: 40px;
}

.flog-div-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flog-div-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .flog-div-6 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-div-6 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.flog-span-15 {
    min-height: 1.25rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #f2f2f3;
}

.flog-span-16 {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976d2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}

.flog-span-3 {
    min-height: 0.75rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #f2f2f3;
}

.flog-span-2 {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #d32f2f;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}

.flog-span-2.FeelogBadge-invisible {
    transform: scale(0) translateX(50%) translateY(-50%);
}

.flog-div-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .flog-div-8 {
        display: none;
    }
}

@media (min-width: 744px) {
    .flog-div-8 {
        display: initial;
    }
}

.flog-button-3 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}

.flog-button-3.FeelogMenuButton-sizeSm {
    min-height: 32px;
}

.flog-button-3 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}

.flog-button-3.FeelogMenuButton-sizeSm {
    min-height: 32px;
}

.flog-img-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

@media (min-width: 0px) {
    .flog-div-10 {
        display: initial;
    }
}

@media (min-width: 744px) {
    .flog-div-10 {
        display: none;
    }
}

.flog-div-9 {
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: calc(32px * 0.4375);
    line-height: 1;
    width: 32px;
    height: 32px;
    margin-inline-start: initial;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}

.flog-button-4 {
    font-size: 1.25em;
    color: currentColor;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(25, 118, 210, 0.72);
    user-select: none;
    appearance: none;
    position: relative;
}

.flog-span-18 {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976d2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
}

/* 헤더 여기까지 */
/* 2단 헤더 시작 */
.flog-div-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 240px;
}

.flog-div-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flog-nav-2 {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    background-color: #ffffff;
    z-index: 499;
    border-bottom: 1px solid;
    border-color: rgba(118 118 127 / 0.15);
}

@media (min-width: 0px) {
    .flog-nav-2 {
        top: 48px;
    }
}

@media (min-width: 744px) {
    .flog-nav-2 {
        min-height: 56px;
        top: 56px;
    }
}

.flog-ul-1 {
    --ListDivider-gap: 0.375rem;
    --ListItem-minHeight: 2.25rem;
    --ListItem-paddingY: 0.25rem;
    --ListItem-paddingX: 0.75rem;
    --ListItem-gap: 0.625rem;
    --ListItemDecorator-size: 2.5rem;
    --Icon-fontSize: 24px;
    --List-gap: 0px;
    --List-nestedInsetStart: 0px;
    --ListItem-paddingLeft: 0.75rem;
    --ListItem-paddingRight: 0.75rem;
    --unstable_List-childRadius: calc(max(8px - 12px, min(12px / 2, 8px / 2)) - 0px);
    --ListItem-radius: calc(max(8px - 12px, min(12px / 2, 8px / 2)) - 0px);
    --ListItem-startActionTranslateX: calc(0.5 * 0.75rem);
    --ListItem-endActionTranslateX: calc(-0.5 * 0.75rem);
    margin: initial;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    padding-block: 12px;
    padding-inline: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    --unstable_List-borderWidth: 0px;
    overflow-x: auto;
    max-width: 1144px;
    margin-inline: auto;
    padding-block: 0px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    scrollbar-width: none;
}

@media (min-width: 0px) {
    .flog-ul-1 {
        padding-inline: 16px;
        gap: 16px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
}

@media (min-width: 744px) {
    .flog-ul-1 {
        padding-inline: 24px;
        gap: 24px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.flog-a-7:not([hidden]) {
    --_ListItem-display: flex;
}

.flog-a-7 {
    --ListItemButton-marginInline: calc(-1 * 12px) calc(-1 * 12px);
    --ListItemButton-marginBlock: calc(-1 * 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-inline: 0px;
    --unstable_actionRadius: calc(8px - 0px);
    box-sizing: border-box;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    margin-block-start: 0px;
    min-block-size: 36px;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-inline: 4px;
    border-bottom: 2px solid;
    border-color: #666666;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media (min-width: 0px) {
    .flog-a-7 {
        height: 48px;
    }
}

@media (min-width: 744px) {
    .flog-a-7 {
        height: 56px;
    }
}

.flog-ul-1.FeelogList-sizeMd {
    --ListItem-minHeight: 40px;
}

.flog-a-6 {
    --ListItemButton-marginInline: calc(-1 * 12px) calc(-1 * 12px);
    --ListItemButton-marginBlock: calc(-1 * 8px);
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-inline: 0px;
    --unstable_actionRadius: calc(8px - 0px);
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    margin-block-start: 0px;
    min-block-size: 36px;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-inline: 4px;
    border-bottom: 2px solid;
    border-color: #f5f5f5;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media (min-width: 0px) {
    .flog-a-6 {
        height: 48px;
    }
}

@media (min-width: 744px) {
    .flog-a-6 {
        height: 56px;
    }
}

.flog-a-6:not([hidden]) {
    --_ListItem-display: flex;
}

.flog-p-4 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    color: #b3b3b3;
    -webkit-text-decoration: none;
    text-decoration: none;
    white-space: nowrap;
}

.flog-p-5 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
}

/* 2단 헤더 끝 */
.flog-main-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.flog-div-60 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 0px) {
    .flog-div-60 {
        width: 360px;
        margin-top: 37px;
        padding-inline: 16px;
    }
}

@media (min-width: 744px) {
    .flog-div-60 {
        margin-top: 45px;
        width: 640px;
        padding-inline: 24px;
    }
}

@media (min-width: 992px) {
    .flog-div-60 {
        margin-top: 60px;
        width: 640px;
        padding-inline: 0px;
    }
}

.flog-div-61 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(118 118 127 / 0.15);
    margin-top: 9px;
}

.flog-div-62 {
    padding: 24px 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@media (min-width: 0px) {
    .flog-div-62 {
        margin-inline: -16px;
    }
}

@media (min-width: 744px) {
    .flog-div-62 {
        margin-inline: 0px;
    }
}

.flog-span-4 {
    --Badge-minHeight: 0.5rem;
    --Badge-paddingX: 0.25rem;
    --Badge-ringSize: 2px;
    --Badge-ring: 0 0 0 2px #f5f5f5;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    --Badge-ringSize: 0;
}

.flog-a-18 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentColor;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.flog-div-63 {
    --Icon-color: #666666;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px; /* 48px * 0.375 = 18px */
    line-height: 1;
    color: #333333;
    width: 48px;
    height: 48px;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    box-shadow: none;
    background-color: #e0e0e0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --variant-borderWidth: 0px;
    width: 48px;
    height: 48px;
    --Avatar-size: 48px;
}

.flog-img-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.flog-span-11 {
    --Icon-color: currentColor;
    --Icon-fontSize: calc(1em * 1.5);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: none;
    line-height: 1.5;
    padding: 0 calc(4px - 0px);
    min-height: 8px;
    min-width: 8px;
    border-radius: 8px;
    z-index: 600;
    background-color: #d32f2f;
    top: 0;
    left: 0;
    -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
    -moz-transform: scale(1) translateX(-50%) translateY(-50%);
    -ms-transform: scale(1) translateX(-50%) translateY(-50%);
    transform: scale(1) translateX(-50%) translateY(-50%);
    transform-origin: 0% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    --variant-borderWidth: 0px;
    white-space: nowrap;
}

.flog-span-11.FeelogBadge-invisible {
    -webkit-transform: scale(0) translateX(-50%) translateY(-50%);
    -moz-transform: scale(0) translateX(-50%) translateY(-50%);
    -ms-transform: scale(0) translateX(-50%) translateY(-50%);
    transform: scale(0) translateX(-50%) translateY(-50%);
}

.flog-article-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}

.flog-div-64 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    gap: 12px;
}

.flog-h6-1 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
}

.flog-span-12 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.flog-span-13 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #b3b3b3;
    font-weight: 400;
    display: inline;
}

.flog-div-65 {
    margin-top: 12px;
}

.flog-div-66 {
    --Icon-color: #666666;
    --ListItem-stickyBackground: #e0e0e0;
    --Sheet-background: #e0e0e0;
    --List-radius: calc(10px - 0px);
    --unstable_actionRadius: calc(10px - 0px);
    position: relative;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 0px;
    background-color: #e0e0e0;
    max-width: 420px;
    border-radius: 10px;
    overflow: hidden;
}

.flog-div-67 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.flog-a-19 {
    text-decoration: none;
}

.flog-p-12 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #333333;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    white-space: pre-line;
}

*,
::before,
::after {
    box-sizing: inherit;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.flog-svg-8 {
    user-select: none;
    margin: initial; /* Icon-margin이 명시되지 않았으므로 초기값 */
    display: inline-flex;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 2rem;
    width: 16px;
    height: 16px;
    color: #76767f;
}

.flog-hr-2 {
    --Divider-thickness: 1px;
    --Divider-lineColor: #e0e0e0;
    margin: 0;
    margin-inline: 0;
    margin-block: 0;
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: #e0e0e0;
    inline-size: initial;
    block-size: 1px;
}

/* 더보기 버튼 */
.flog-div-68 {
    margin-block: 40px;
}

.flog-div-31 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 6px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flog-a-20 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --IconButton-size: 32px;
    --Icon-fontSize: calc(32px / 1.6);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #f5f5f5;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: normal;
}

.flog-a-20.FeelogIconButton-sizeSm {
    --Icon-fontSize: calc(32px / 1.6);
    min-width: 32px;
    min-height: 32px;
}

/* 호버 */
.flog-a-20:hover {
    color: #333333;
    background-color: #cccccc;
}

.flog-h3-1 {
    --Icon-fontSize: 1.5em;
    margin: 0px;
    display: -webkit-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

@media (min-width: 0px) {
    .flog-h3-1 {
        font-size: 16px;
    }
}

@media (min-width: 744px) {
    .flog-h3-1 {
        font-size: 20px;
    }
}

.flog-p-6 {
    --Icon-fontSize: 1.5em;
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #757575;
}

@media (min-width: 0px) {
    .flog-p-6 {
        margin-bottom: 6px;
        font-size: 14px;
        overflow: hidden;
        overflow-wrap: anywhere;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}

@media (min-width: 744px) {
    .flog-p-6 {
        margin-bottom: 8px;
        font-size: 16px;
        overflow: hidden;
        overflow-wrap: anywhere;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

/*검색창 관련 시작*/
.flog-div-120 {
    border-radius: 0.25rem;
    gap: 0.5rem;
    color: rgba(67, 60, 60, 0.64);
    opacity: 0.64;
    min-height: 2.25rem;
    padding-inline: 0.75rem;
    font-size: 1.5rem;
    box-shadow: none;
    border-radius: 20px;
    padding-left: 14px;
    background-color: #f2f2f2;
}

@media (min-width: 0px) {
    .flog-div-120 {
        margin-block: 16px 20px;
    }
}

@media (min-width: 744px) {
    .flog-div-120 {
        height: 40px;
        margin-block: 40px 32px;
    }
}

.flog-div-120 {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    box-shadow: none;
}

.flog-div-120:not([data-skip-inverted-colors]) {
    border-width: 1px;
    box-shadow: 0px 0px 0px #000, 0px 1px 2px 0px rgba(21, 21, 21, 0.08);
}

.flog-div-120.FeelogInput-sizeMd {
    min-height: 40px;
}

.flog-div-120::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
    box-shadow: inset 0 0 0 0px #0000ff;
}

.flog-div-121 {
    display: flex;
    align-items: center;
    margin-inline-end: 0.5rem;
}

.flog-svg-8 {
    color: #111111;
    margin: 0;
    width: 16px;
    height: 16px;
}

.flog-input-4 {
    margin-left: 2px;
    border: none;
    background-color: #f2f2f2;
    color: #000000 !important;
    flex: 1;
    min-width: 90%;
    outline: 0;
    padding: 0;
    font-family: inherit;
    font-size: 14px !important;
    font-style: inherit;
    font-weight: 900 !important;
    line-height: inherit;
    text-overflow: ellipsis;
}

/*검색창 관련 끝*/

.joy-3ys6m0 {
    background-color: #FFFFFF;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    position: sticky;
    z-index: 10;
    width: 640px;
}

@media (min-width: 0px) {
    .joy-3ys6m0 {
        top: 97px;
    }
}

@media (min-width: 744px) {
    .joy-3ys6m0 {
        top: 113px;
    }
}

.joy-v6a3cw {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
}

@media (min-width: 0px) {
    .joy-v6a3cw {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }
}

@media (min-width: 744px) {
    .joy-v6a3cw {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 14px;
        padding-bottom: 14px;
        gap: 4px;
    }
}

.joy-90lb7v {
    min-height: 32px;
    max-width: max-content;
    padding-inline: 14px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-weight: 500;
    background-color: #202022;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

.joy-90lb7v.MuiChip-sizeXl {
    min-width: 48px;
    gap: 0.375rem;
}

.joy-tymi7a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    min-inline-size: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.joy-14fbtec {
    min-height: 32px;
    max-width: max-content;
    padding-inline: 14px;
    border-radius: 1.5rem;
    border: 1px solid #f2f2f3;
    position: relative;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #f2f2f3;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
    cursor: pointer;
}

.joy-14fbtec.MuiChip-sizeXl {
    min-width: 48px;
    gap: 0.375rem;
}

.joy-14fbtec.MuiChip-colorNeutral.MuiChip-variantSoft:not(.Mui-disabled) {
    color: #76767f;
}