/* 2025.04.05 조승찬 */
body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    /* padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom); */
}
body {
    margin: 0;
    color: #202022;
    /* font-family: ; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.flog-div-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100dvh;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/* 헤더 여기서 부터 */
.flog-header-1 {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}
.flog-nav-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    max-width: 1144px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@media (min-width: 0px) {
    .flog-nav-1 {
        padding: 4px 8px;
        height: 48px;
    }
}
@media (min-width: 744px) {
    .flog-nav-1 {
        padding: 12px 32px;
        height: 64px;
    }
}
.flog-div-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .flog-div-2 {
        gap: 0px;
    }
}
@media (min-width: 744px) {
    .flog-div-2 {
        gap: 8px;
    }
}
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.flog-a-1 {
    cursor: pointer;
}
@media (min-width: 0px) {
    .flog-a-1 {
        display: none;
        padding: 11px 8px;
    }
}
@media (min-width: 744px) {
    .flog-a-1 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 8px 0 0;
    }
}
.flog-button-10.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

.flog-button-10 {
    margin: initial;
    color: #ffffff;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #1976d2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.flog-a-2 {
    cursor: pointer;
    padding: 8px;
}
@media (min-width: 0px) {
    .flog-a-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (min-width: 744px) {
    .flog-a-2 {
        display: none;
    }
}
.flog-svg-2 {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
    width: 24px;
    height: 24px;
    color: #1976d2;
}
.flog-svg-2 g > rect {
    fill: #1976d2;
}
.flog-svg-2 clipPath rect {
    fill: #f2f2f3;
}
.flog-h2-1 {
    position: absolute;
    margin: 0px;
    z-index: 500;
}
@media (min-width: 0px) {
    .flog-h2-1 {
        left: 32px;
        padding: 8.75px 12px;
    }
}
@media (min-width: 744px) {
    .flog-h2-1 {
        top: 60px;
        left: 0;
        padding: 7.5px 8px;
    }
}
.flog-h2-5 {
    font-size: calc(1em * 1.25);
    margin: 20px 0px 0px 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: #202022;
    text-decoration: none;
    white-space: nowrap;
}
.flog-div-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .flog-div-3 {
        gap: 4px;
    }
}
@media (min-width: 744px) {
    .flog-div-3 {
        gap: 8px;
    }
}
@media (min-width: 0px) {
    .flog-div-4 {
        display: none;
    }
}
@media (min-width: 744px) {
    .flog-div-4 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.flog-button-1 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #f2f2f3;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.flog-button-1.FeelogMenuButton-sizeMd {
    min-height: 40px;
}
.flog-span-1 {
    margin: 0 0 0 calc(0.5rem / -2);
    display: inherit;
    margin-right: 0.5rem;
}
.flog-svg-3 {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: #202022;
}
.flog-button-2 {
    margin: initial;
    color: #202022;
    font-size: calc(2.25rem / 1.5);
    min-width: 2.25rem;
    min-height: 2.25rem;
    padding-inline: 0.25rem;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.flog-button-2.FeelogIconButton-sizeMd {
    font-size: calc(40px / 1.667);
    min-width: 40px;
    min-height: 40px;
}
.flog-div-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flog-div-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .flog-div-6 {
        display: none;
    }
}
@media (min-width: 744px) {
    .flog-div-6 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.flog-span-15 {
    min-height: 1.25rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #f2f2f3;
}
.flog-span-16 {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976d2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}
.flog-span-3 {
    min-height: 0.75rem;
    padding-inline: 0.375rem;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0;
    box-shadow: 0 0 0 0px #f2f2f3;
}
.flog-span-2 {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #d32f2f;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
}
.flog-span-2.FeelogBadge-invisible {
    transform: scale(0) translateX(50%) translateY(-50%);
}
.flog-div-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .flog-div-8 {
        display: none;
    }
}
@media (min-width: 744px) {
    .flog-div-8 {
        display: initial;
    }
}
.flog-button-3 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}
.flog-button-3.FeelogMenuButton-sizeSm {
    min-height: 32px;
}
.flog-button-3 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2rem;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 700;
    padding-left: 6px;
    padding-right: 6px;
}
.flog-button-3.FeelogMenuButton-sizeSm {
    min-height: 32px;
}
.flog-img-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
@media (min-width: 0px) {
    .flog-div-10 {
        display: initial;
    }
}
@media (min-width: 744px) {
    .flog-div-10 {
        display: none;
    }
}
.flog-div-9 {
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: calc(32px * 0.4375);
    line-height: 1;
    width: 32px;
    height: 32px;
    margin-inline-start: initial;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
}
.flog-button-4 {
    font-size: 1.25em;
    color: currentColor;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(25, 118, 210, 0.72);
    user-select: none;
    appearance: none;
    position: relative;
}
.flog-span-18 {
    color: currentColor;
    font-size: calc(1em * 1.5);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px #f2f2f3;
    line-height: 1.5;
    padding: 0 calc(0.375rem - 0px);
    min-height: 1.25rem;
    min-width: 1.25rem;
    border-radius: 1.25rem;
    z-index: 1000;
    background-color: #1976d2;
    top: 0;
    right: 0;
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    white-space: nowrap;
}
/* 헤더 여기까지 */

/* 2단 헤더 여기부터 */
.flog-div-12 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 240px;
}
.flog-div-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flog-nav-2 {
    width: 100%;
    position: sticky;
    background-color: #ffffff;
    z-index: 499;
    border-bottom: 1px solid #dadadc;
}
@media (min-width: 0px) {
    .flog-nav-2 {
        top: 48px;
    }
}
@media (min-width: 744px) {
    .flog-nav-2 {
        min-height: 56px;
        top: 56px;
    }
}
.flog-ul-1 {
    margin: initial;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    padding-block: 0.375rem;
    padding-inline: 0.75rem;
    box-sizing: border-box;
    border-radius: 8px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    overflow-x: auto;
    max-width: 1144px;
    margin-inline: auto;
    padding-block: 0px;
    scrollbar-width: none;
}
@media (min-width: 0px) {
    .flog-ul-1 {
        padding-inline: 16px;
        gap: 16px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
}
@media (min-width: 744px) {
    .flog-ul-1 {
        padding-inline: 24px;
        gap: 24px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}
.flog-ul-1.FeelogList-sizeMd {
    --ListItem-minHeight: 40px;
}
.flog-a-6 {
    top: -4px;
    margin-inline: 1.25rem 1.25rem;
    margin-block: -0.25rem;
    align-items: center;
    gap: 0.625rem;
    box-sizing: border-box;
    display: flex;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    margin-block-start: 0px;
    min-height: 2.25rem;
    color: #202022;
    border-bottom: 2px solid #ffffff;
    text-decoration: none;
}
@media (min-width: 0px) {
    .flog-a-6 {
        height: 48px;
    }
}
@media (min-width: 744px) {
    .flog-a-6 {
        height: 56px;
    }
}
.flog-a-6:not([hidden]) {
    display: flex;
}
.flog-p-4 {
    font-size: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #a4a4a8;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}

.flog-a-7 {
    top: -4px;
    margin-inline: 1.25rem 1.25rem;
    margin-block: -0.25rem;
    align-items: center;
    gap: 0.625rem;
    box-sizing: border-box;
    display: flex;
    flex: none;
    list-style-type: disc;
    position: relative;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    margin-block-start: 0px;
    min-height: 2.25rem;
    color: #202022;
    border-bottom: 2px solid #202022;
    text-decoration: none;
}
@media (min-width: 0px) {
    .flog-a-7 {
        height: 48px;
    }
}
@media (min-width: 744px) {
    .flog-a-7 {
        height: 60px;
    }
}
.flog-a-7:not([hidden]) {
    display: flex;
}
.flog-p-5 {
    font-size: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}
/* 2단 헤더 여기까지 */
.flog-main-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flog-form-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
}
@media (min-width: 0px) {
    .flog-form-3 {
        width: 360px;
        gap: 32px;
        padding-top: 80px;
    }
}
@media (min-width: 744px) {
    .flog-form-3 {
        width: 100%;
        gap: 40px;
        padding-top: 90px;
    }
}
.flog-form-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
}
.flog-div-56 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}
.flog-label-3 {
    font-size: calc(1.25 * 1em);
    -webkit-tap-highlight-color: transparent;
    align-self: flex-start;
    display: flex;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    color: #202022;
    margin: 0px;
}
.flog-div-114 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}
.flog-div-115 {
    width: 96px;
    height: 96px;
    position: relative;
}
.flog-div-59 {
    position: relative;
}
.flog-div-116 {
    margin-inline-start: 0px;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    color: #202022;
    background-color: #f2f2f3;
    width: 96px;
    height: 96px;
}
.flog-div-29 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.flog-div-117 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6px;
    overflow: hidden;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}
.flog-div-80 {
    background-color: #ffffff;
    position: relative;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    border: 1px solid #dadadc;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    overflow: hidden;
}
.flog-p-17 {
    font-size: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #a4a4a8;
    font-weight: 400;
    padding-left: 12px;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.flog-button-14 {
    margin: initial;
    color: #202022;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    border: 1px solid #dadadc;
    border-right: none;
    flex-shrink: 0;
}
.flog-button-14.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

.flog-div-117 > .FeelogStack-root:last-child {
    width: 100%;
}
.flog-div-81 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #a4a4a8;
}
.flog-p-11 {
    font-size: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #a4a4a8;
    font-weight: 400;
}
.flog-div-49 {
    width: 100%;
    margin: 0.5rem 0;
    align-self: flex-start;
    color: #d32f2f;
    font-size: 14px;
    line-height: 125%;
    display: flex;
    position: relative;
    flex-direction: column;
    color: #1976d2;
    font-size: 14px;
    line-height: 125%;
}
.flog-label-4 {
    color: #3478ff;
}
.flog-div-83 {
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: none;
    min-width: 0;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    padding-inline: 0.75rem;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    border: 1px solid #dadadc;
    background-color: #ffffff;
}
.flog-div-83:not([data-skip-inverted-colors]) {
    border-color: #dadadc;
}
.flog-div-83.FeelogInput-sizeMd {
    min-height: 40px;
}
.flog-input-1 {
    border: none;
    min-width: 0;
    outline: 0;
    padding: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}
.flog-div-52 {
    font-size: calc(1.5 * 1em);
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #a4a4a8;
    margin: 0px;
}
.flog-div-118 {
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: none;
    min-width: 0;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    padding-block: 0.375rem;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    border: 1px solid #dadadc;
    background-color: #f2f2f3;
}
.flog-div-118:not([data-inverted-colors="false"]) {
    border-color: #dadadc;
}
.flog-div-118.FeelogTextarea-variantOutlined {
    background-color: transparent;
}
.flog-textarea-1 {
    resize: none;
    border: none;
    min-width: 0;
    outline: 0;
    padding: 0;
    padding-inline-end: 0.75rem;
    flex: auto;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}
.flog-div-52 {
    font-size: calc(1.5 * 1em);
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #a4a4a8;
    margin: 0px;
}
.flog-div-119 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flog-button-10 {
    margin: initial;
    color: #ffffff;
    font-size: 14px;
    min-height: 2.25rem;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: #1976d2;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    font-weight: 500;
}
.flog-button-10.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

/* hover */
.flog-button-14:hover {
    background-color: #e0e0e2; /* 기존 색상보다 살짝 더 진한 색 */
    color: #1a1a1d; /* 글자 색상도 조금 더 진하게 설정 */
}

/* 포커스 일 때 파란색 */
.flog-div-50.Feelog-focused,
.flog-div-83.Feelog-focused,
.flog-div-118.Feelog-focused {
    border-color: #3478ff;
}

/* 모달창 시작 */

.flog-div-40 {
    background-color: rgba(200, 200, 200, 0.4);
    --unstable_popup-zIndex: calc(1000 + 1);
    position: fixed;
    z-index: 1000;
    inset: 0px;
}
.flog-div-42 {
    --Icon-color: #666666;
    --Card-childRadius: max((8px - 1px) - 20px, min(20px / 2, (8px - 1px) / 2));
    --AspectRatio-radius: var(--Card-childRadius);
    --unstable_actionMargin: calc(-1 * 1px);
    --unstable_actionRadius: 8px;
    --CardCover-radius: calc(8px - 1px);
    --CardOverflow-offset: calc(-1 * 20px);
    --CardOverflow-radius: calc(8px - 1px);
    --Divider-inset: calc(-1 * 20px);
    --Card-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    --variant-borderWidth: 1px;
    box-sizing: border-box;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 2 * 20px), 300px);
    position: absolute;
    --ModalDialog-vertical-padding: 44px;
    --Card-padding: 20px;
    top: var(--ModalDialog-vertical-padding);
    left: 50%;
    width: 320px;
    height: 175px;
    transform: translateX(-50%);
    max-height: calc(100% - 4 * 20px);
    padding: 20px;
    border-radius: 8px;
    border-color: #cccccc;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
}
.flog-h2-4 {
    --Icon-fontSize: calc(1em * 1.25);
    display: flex;
    gap: clamp(4px, 0.375em, 0.75rem);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: inherit;
}
.flog-button-9 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: calc(32px / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    border-radius: 6px;
    color: #999999;
}
.flog-svg-6 {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}
.flog-svg-6 {
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
}
.flog-div-44 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 20px;
    gap: 8px;
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    margin-bottom: calc(-1 * 20px);
    --Button-radius: unset;
    --IconButton-radius: unset;
}
.flog-div-42 .FeelogDialogActions-root {
    padding-top: 8px;
    padding-bottom: 20px;
}
.flog-button-10 {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #ffffff;
    background-color: #3478ff;
    font-weight: 500;
}
.flog-div-44 > :not(.FeelogIconButton-root) {
    flex: 0 0 auto;
}
.flog-div-43 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 20px;
    row-gap: max(2px, calc(0.1875 * 20px));
    margin-left: calc(-1 * 20px);
    margin-right: calc(-1 * 20px);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.25;
    color: #666666;
    flex: 9999 1 0%;
    overflow: auto;
    padding: 20px;
}
/* 모달창 끝 */
/*비밀번호 변경 시작*/
.flog-div-49 {
    --unstable_RadioGroup-margin: 0.5rem 0;
    --FormLabel-alignSelf: flex-start;
    --FormLabel-margin: 0 0 0.375rem 0;
    --FormHelperText-margin: 0.375rem 0 0 0;
    display: flex;
    position: relative;
    flex-direction: column;
    --FormLabel-asteriskColor: #3478ff;
    --FormLabel-fontSize: 14px;
    --FormLabel-lineHeight: 125%;
    --FormHelperText-fontSize: 14px;
    --FormHelperText-lineHeight: 150%;
}
.flog-label-1 {
    --Icon-fontSize: calc(125% * 1em);
    -webkit-tap-highlight-color: transparent;
    align-self: flex-start;
    display: flex;
    gap: 2px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 125%;
    color: #202022;
    margin: 0 0 0.375rem;
}
.flog-div-50.FeelogInput-sizeMd {
    --Input-minHeight: 40px;
}
.flog-div-50:not([data-skip-inverted-colors]) {
    --_Input-focusedHighlight: #3478ff;
    --Input-focusedHighlight: #3478ff;
}
.flog-div-50 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: none;
    padding-inline: 0.75rem;
    border-radius: 8px;
    border-color: #dadadc;
    border: 1px solid #e0e0e0;
}
.flog-div-50::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: calc(1px * -1);
    box-shadow: #3478ff;
}
.flog-input-2 {
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    flex: 1 1 0%;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}
.flog-div-51 {
    --Button-margin: 0 calc(min(calc(0.75rem - (40px - 2 * 1px - min(1.75rem, 40px)) / 2), 0.75rem) * -1) 0 0;
    --IconButton-margin: 0 calc(min(calc(0.75rem - (40px - 2 * 1px - min(1.75rem, 40px)) / 2), 0.75rem) * -1) 0 0;
    --Icon-margin: 0 calc(0.75rem / -4) 0 0;
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-inline-start: 0.5rem;
    color: #76767f;
    cursor: initial;
}
.flog-button-2.FeelogIconButton-sizeMd {
    --Icon-fontSize: calc(min(1.75rem, 40px) / 1.667);
    min-width: min(1.75rem, 40px);
    min-height: min(1.75rem, 40px);
}
.flog-button-2 {
    --Icon-margin: initial;
    --Icon-color: #202022;
    --Icon-fontSize: calc(2.25rem / 1.5);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 2.25rem;
    min-height: 2.25rem;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: auto;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
}
.flog-svg-3 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 16px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}
.flog-div-52 {
    --Icon-fontSize: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.42858;
    color: #a4a4a8;
    margin: 0px;
}

.Feelog-error.flog-div-52 {
    color: red;
}
/*비밀번호 변경 끝*/