<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.ChallengeDiaryMapper">

    <insert id="insert" parameterType="com.app.feelog.domain.vo.ChallengeDiaryVO">
        INSERT INTO tbl_challenge_diary (id, challenge_id)
        VALUES (#{id}, #{challengeId})
    </insert>

    <select id="findById" parameterType="long" resultType="com.app.feelog.domain.vo.ChallengeDiaryVO">
        SELECT id, challenge_id
        FROM tbl_challenge_diary
        WHERE id = #{id}
    </select>


</mapper>