<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.ChannelPostTagMapper">

    <insert id="insert" parameterType="ChannelPostTagVO">
        INSERT INTO tbl_channel_post_tag (
            id,
            channel_post_id
        )
        VALUES (
                   #{id},
                   #{channelPostId}
               )
    </insert>

    <delete id="deleteByChannelPostId" parameterType="long">
        DELETE FROM tbl_channel_post_tag
        WHERE channel_post_id = #{channelPostId}
    </delete>

    <select id="findTagContentsByChannelPostId" resultType="string">
        SELECT t.contents
        FROM tbl_channel_post_tag cppt
                 JOIN tbl_tag t ON cppt.id = t.id
        WHERE cppt.channel_post_id = #{channelPostId}
          AND t.tag_status = 'ACTIVE'
    </select>

    <select id="findTagIdByContentAndPostId" resultType="long">
        select t.id
        from tbl_tag t
        join tbl_channel_post_tag cpt on t.id = cpt.id
        where t.contents = #{content}
        and cpt.channel_post_id = #{channelPostId}
        and t.tag_status = 'ACTIVE'
        limit 1
    </select>



    <!-- 상태 복구용 업데이트 -->
    <update id="reactivateTagStatusByPostTag">
        UPDATE tbl_tag t
            JOIN tbl_channel_post_tag cpt ON t.id = cpt.id
        SET t.tag_status = 'ACTIVE'
        WHERE t.id = #{tagId}
          AND cpt.channel_post_id = #{channelPostId}
    </update>

    <select id="findByTagIdAndPostId" resultType="ChannelPostTagVO">
        SELECT *
        FROM tbl_channel_post_tag
        WHERE id = #{tagId}
          AND channel_post_id = #{channelPostId}
    </select>



</mapper>