<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.ChannelPostFileMapper">

    <insert id="insert" parameterType="ChannelPostFileVO">
        INSERT INTO tbl_channel_post_file (
            id, post_id
        )
        VALUES (
                   #{id},
                   #{postId}
               )
    </insert>

    <delete id="deleteByPostId" parameterType="long">
        DELETE FROM tbl_channel_post_file
        WHERE post_id = #{postId}
    </delete>

    <select id="selectByPostId" parameterType="long" resultType="ChannelPostFileVO">
        SELECT f.id
        FROM tbl_file f
                 JOIN tbl_channel_post_file cpf ON f.id = cpf.id
        WHERE cpf.post_id = #{postId}
          AND f.file_status = '정상'
    </select>

    <select id="findFileIdsByPostId" resultType="long">
        SELECT id as file_id
        FROM tbl_channel_post_file
        WHERE post_id = #{postId}
    </select>

</mapper>