<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.DiaryMapper">

    <insert id="insert" parameterType="com.app.feelog.domain.vo.DiaryVO" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_diary (diary_title, diary_content, diary_file_path, diary_file_name, diary_file_size,  member_id, feel_id)
        values (#{diaryTitle}, #{diaryContent}, #{diaryFilePath}, #{diaryFileName}, #{diaryFileSize}, #{memberId}, #{feelId})
    </insert>

</mapper>