<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.DiaryTagMapper">

    <select id="findByContent" resultType="com.app.feelog.domain.vo.TagVO">
        SELECT * FROM tbl_tag
        WHERE contents = #{content} AND tag_status = '정상'
    </select>

    <insert id="insertTag" parameterType="com.app.feelog.domain.vo.TagVO">
        INSERT INTO tbl_tag (contents, tag_status)
        VALUES (#{contents}, #{tagStatus})
    </insert>

    <insert id="insertDiaryTag" parameterType="com.app.feelog.domain.vo.DiaryTagVO">
        INSERT INTO tbl_diary_tag (id, diary_id)
        VALUES (#{id}, #{diaryId})
    </insert>

    <update id="deleteByDiaryId" parameterType="long">
        update tbl_tag t
        join tbl_diary_tag dt on t.id = dt.id
        set t.tag_status = 'DELETED' WHERE diary_id = #{diaryId}
    </update>

    <update id="reactivateTagStatusByPostTag">
        UPDATE tbl_tag t
            JOIN tbl_channel_post_tag cpt ON t.id = cpt.id
        SET t.tag_status = 'ACTIVE'
        WHERE t.id = #{tagId}
          AND cpt.channel_post_id = #{channelPostId}
    </update>

    <select id="selectTagContentsByDiaryId" resultType="string">
        select t.contents
        from tbl_diary_tag dt
                 join tbl_tag t on dt.id = t.id
        where dt.diary_id = #{diaryId}
        and t.tag_status = 'ACTIVE'
    </select>


</mapper>