<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.MessageMapper">
    <select id="selectMessageListByParticipantId" resultType="messageListDTO">
        WITH CombinedMessages AS (SELECT rm.id                                                                   AS id,
                                         rm.member_id                                                            AS member_id,
                                         rm.sender_id                                                            AS participant_id,
                                         m.message_content,
                                         m.updated_date,
                                         'received'                                                              AS message_type,
                                         ROW_NUMBER() OVER (PARTITION BY m.updated_date ORDER BY m.updated_date) AS row_num
                                  FROM tbl_receive_message rm
                                           JOIN tbl_message m ON rm.id = m.id
                                  WHERE rm.sender_id = #{participantId}
                                    AND rm.receive_message_status = '정상'

                                  UNION ALL

                                  SELECT sm.id                                                                   AS id,
                                         sm.member_id                                                            AS member_id,
                                         sm.receiver_id                                                          AS participant_id,
                                         m.message_content,
                                         m.updated_date,
                                         'sent'                                                                  AS message_type,
                                         ROW_NUMBER() OVER (PARTITION BY m.updated_date ORDER BY m.updated_date) AS row_num
                                  FROM tbl_send_message sm
                                           JOIN tbl_message m ON sm.id = m.id
                                  WHERE sm.receiver_id = #{participantId}
                                    AND sm.receive_message_status = '정상')

        SELECT *
        FROM CombinedMessages
        WHERE participant_id = #{participantId}
        ORDER BY updated_date, row_num;
    </select>

    <insert id="insertSuperMessage" useGeneratedKeys="true" keyProperty="id">
        insert tbl_message (message_content) value (#{messageContent})
    </insert>

    <insert id="insertReceiveMessage">
        insert into tbl_receive_message (id, member_id, sender_id) VALUE (#{id}, #{memberId}, #{senderId})
    </insert>

    <insert id="insertSendMessage">
        insert into tbl_send_message (id, member_id, receiver_id) VALUE (#{id}, #{memberId}, #{receiverId})
    </insert>

    <update id="deleteReceiveMessage">
        update tbl_receive_message
        set receive_message_status = '삭제'
        where id = #{id}
    </update>

    <update id="deleteSendMessage">
        update tbl_send_message
        set receive_message_status = '삭제'
        where id = #{id}
    </update>

    <update id="deleteSendMessageListByParticipantId">
        update tbl_send_message
        set receive_message_status = '삭제'
        where receiver_id = #{participantId}
    </update>

    <update id="deleteReceiveMessageListByParticipantId">
        update tbl_receive_message
        set receive_message_status = '삭제'
        where sender_id = #{participantId}
    </update>
</mapper>