<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mypage.mapper.MyPageMapper">
    <select id="getMemberById" resultType="memberVO">
        SELECT
            id,
            member_email,
            member_password,
            member_nickname,
            member_introduce,
            member_file_path,
            member_file_name,
            member_notification_post_reply,
            member_notification_post_reply_like,
            member_notification_post_like,
            member_notification_subscribe,
            member_notification_community_post,
            member_notification_message,
            created_date,
            updated_date
        from   tbl_member
        where  id = #{id}
    </select>

    <select id="getMemberByNickname" resultType="memberVO">
        SELECT
            id,
            member_email,
            member_password,
            member_nickname,
            member_introduce,
            member_file_path,
            member_file_name,
            member_notification_post_reply,
            member_notification_post_reply_like,
            member_notification_post_like,
            member_notification_subscribe,
            member_notification_community_post,
            member_notification_message,
            created_date,
            updated_date
        from   tbl_member
        where  member_nickname = #{memberNickname}
    </select>

    <select id="getCommunityPostFileList" resultType="communityPostFileVO">
        select
            f.id,
            f.file_path,
            f.file_name,
            f.created_date as file_created_date,
            f.updated_date as file_updated_date
        from tbl_file f
                 join tbl_community_post_file cpf on f.id = cpf.id
        where cpf.community_post_id = #{communityPostId}
    </select>

    <select id="getNotifyCommunityListTotalCount" resultType="_int">
        select count(*)
        from tbl_channel ch
                 join tbl_community_post cp on ch.id = cp.channel_id
                 join tbl_post p on cp.id = p.id
        where ch.member_id = #{memberId}
          and p.post_status = '정상'
          and ch.channel_status = '정상'
    </select>

    <select id="getNotifyCommunityList" resultType="communityPostVO">
        select
            p.id as id,
            p.post_title,
            p.post_content,
            p.created_date as created_date,
            p.updated_date as updated_date,
            cp.channel_id  as channel_id,
            cp.member_id   as member_id,
            ch.created_date as channel_created_date,
            ch.updated_date as channel_updated_date,
            cp.id as community_post_id
        from tbl_channel ch
                 join tbl_community_post cp on ch.id = cp.channel_id
                 join tbl_post p on cp.id = p.id
        where ch.member_id = #{memberId}
          and p.post_status = '정상'
          and ch.channel_status = '정상'
        order by p.id desc
        limit #{pagination.offset}, #{pagination.rowCount};
    </select>

    <select id="getChannelByUrl" resultType="channelVO">
        select id,
               channel_title,
               channel_introduce,
               channel_url,
               channel_file_path,
               channel_file_name,
               member_id,
               created_date,
               updated_date
        from tbl_channel
        where channel_url = #{channelUrl}
    </select>

    <select id="getChannelByMemberId" resultType="channelVO">
        select id,
               channel_title,
               channel_introduce,
               channel_url,
               channel_file_path,
               channel_file_name,
               member_id,
               created_date,
               updated_date
        from   tbl_channel
        where   member_id = #{memberId}
          and   channel_status = '정상'
    </select>

    <select id="getNotifyReplyListTotalCount" resultType="_int">

    </select>

    <insert id="postMakingChannel">
        insert into tbl_channel (
            channel_title,
            channel_introduce,
            channel_url,
            channel_file_path,
            channel_file_name,
            member_id
        ) values (
            #{channelTitle},
            #{channelIntroduce},
            #{channelUrl},
            #{channelFilePath},
            #{channelFileName},
            #{memberId}
        );
    </insert>

    <update id="postSettingProfile">
        update tbl_member
        set
            member_password = #{memberPassword},
            member_nickname = #{memberNickname},
            member_introduce = #{memberIntroduce},
            member_file_path = #{memberFilePath},
            member_file_name = #{memberFileName},
            updated_date = current_timestamp
        where id = #{id};
    </update>

    <update id="postSettingNotify">
        update tbl_member
        set
            member_notification_post_reply     = #{memberNotificationPostReply},
            member_notification_post_reply_like = #{memberNotificationPostReplyLike},
            member_notification_post_like      = #{memberNotificationPostLike},
            member_notification_subscribe      = #{memberNotificationSubscribe},
            member_notification_community_post = #{memberNotificationCommunityPost},
            member_notification_message        = #{memberNotificationMessage},
            updated_date = current_timestamp
        where id = #{id};
    </update>

    <update id="postUpdateChannel">
        update tbl_channel
        set channel_title     = #{channelTitle},
            channel_introduce = #{channelIntroduce},
            channel_url       = #{channelUrl},
            channel_file_path = #{channelFilePath},
            channel_file_name = #{channelFileName},
            updated_date      =  current_timestamp
        where id = #{id};
    </update>

    <update id="postDeleteChannel">
        update  tbl_channel
        set     channel_status  = '삭제'
        where   id = #{id}
    </update>

</mapper>