<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.SubscribeMapper">

    <select id="findByMemberAndChannel" resultType="com.app.feelog.domain.dto.SubscribeDTO">
        SELECT *
        FROM tbl_subscribe
        WHERE member_id = #{memberId}
          AND channel_id = #{channelId}
    </select>

    <insert id="insertSubscribe">
        INSERT INTO tbl_subscribe (channel_id, member_id, subscribe_status)
        VALUES (#{channelId}, #{memberId}, '정상')
    </insert>

    <update id="updateSubscribeStatus">
        UPDATE tbl_subscribe
        SET subscribe_status = #{status},
            updated_date = NOW()
        WHERE member_id = #{memberId}
          AND channel_id = #{channelId}
    </update>

    <select id="findChannelOwnerId" resultType="long">
        SELECT member_id
        FROM tbl_channel
        WHERE id = #{channelId}
    </select>

</mapper>