<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.SubscribeMapper">

    <select id="findByMemberAndChannel" resultType="com.app.feelog.domain.dto.SubscribeDTO">
        SELECT *
        FROM tbl_subscribe
        WHERE member_id = #{memberId}
          AND channel_id = #{channelId}
    </select>

    <insert id="insertSubscribe">
        INSERT INTO tbl_subscribe (channel_id, member_id, subscribe_status)
        VALUES (#{channelId}, #{memberId}, '정상')
    </insert>

    <update id="updateSubscribeStatus">
        UPDATE tbl_subscribe
        SET subscribe_status = #{status},
            updated_date = NOW()
        WHERE member_id = #{memberId}
          AND channel_id = #{channelId}
    </update>

    <select id="findChannelOwnerId" resultType="long">
        SELECT member_id
        FROM tbl_channel
        WHERE id = #{channelId}
    </select>

    <select id="selectSubscribeOne" resultType="subscribeVO">
        select * from tbl_subscribe where member_id = #{memberId} and channel_id = #{channelId} limit 1
    </select>

    <select id="selectSubscribeCount" resultType="_int">
        select count(*) from tbl_subscribe where channel_id = #{channelId} and subscribe_status = '정상'
    </select>

    <delete id="deleteSubscribe">
        delete from tbl_subscribe where member_id = #{memberId} and channel_id = #{channelId}
    </delete>
</mapper>