<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.feelog.mapper.TagMapper">

    <!-- 태그 저장 -->
    <insert id="insertTag"
            parameterType="com.app.feelog.domain.vo.TagVO"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO tbl_tag (contents)
        VALUES (#{contents})
    </insert>

    <!-- 다이어리-태그 연결 저장 -->
    <insert id="insertDiaryTag">
        INSERT INTO tbl_diary_tag (id, diary_id)
        VALUES (#{id}, #{diaryId})
    </insert>

    <!-- contents로 태그 검색 -->
    <select id="findTagsByContents" resultType="com.app.feelog.domain.vo.TagVO">
        SELECT id, contents, tag_status, created_date, updated_date
        FROM tbl_tag
        WHERE contents = #{contents} AND tag_status = '정상'
    </select>

    <update id="deleteTagById">
        UPDATE tbl_tag
        SET tag_status = 'DELETE'
        WHERE id = #{tagId}
    </update>

    <update id="softDeleteTagByContentAndPostId">
        UPDATE tbl_tag
        SET tag_status = 'DELETE'
        WHERE id IN (
            SELECT id FROM (
                               SELECT t.id
                               FROM tbl_tag t
                                        JOIN tbl_channel_post_tag cp ON cp.id = t.id
                               WHERE cp.channel_post_id = #{channelPostId}
                                 AND t.contents = #{content}
                                 AND t.tag_status = 'ACTIVE'
                           ) AS temp
        )
    </update>


    <select id="findTagIdByContentAndChannelPostId" resultType="long">
        SELECT t.id
        FROM tbl_tag t
                 JOIN tbl_channel_post_tag cppt ON t.id = cppt.id
        WHERE t.contents = #{content}
          AND cppt.channel_post_id = #{channelPostId}
          AND t.tag_status = 'ACTIVE'
    </select>

    <select id="findTagIdByContent" resultType="Long">
        SELECT id FROM tbl_tag
        WHERE contents = #{content}
          AND tag_status = 'ACTIVE'
        ORDER BY id ASC
        LIMIT 1
    </select>

    <update id="softDeleteById">
        UPDATE tbl_tag
        SET tag_status = 'DELETED'
        WHERE id = #{id}
    </update>

</mapper>