<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.feelog.domain.vo.ChannelPostLikeVO" alias="channelPostLikeVO"/>
        <typeAlias type="com.app.feelog.domain.vo.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.feelog.domain.vo.DiaryVO" alias="diaryVO"/>
        <typeAlias type="com.app.feelog.domain.dto.DiaryDTO" alias="diaryDTO"/>
        <typeAlias type="com.app.feelog.domain.vo.NoticeVO" alias="noticeVO"/>
        <typeAlias type="com.app.feelog.domain.vo.FaqVO" alias="faqVO"/>
        <typeAlias type="com.app.feelog.domain.dto.NoticeAdminDTO" alias="noticeAdminDTO"/>
        <typeAlias type="com.app.feelog.domain.dto.FaqAdminDTO" alias="faqAdminDTO"/>
    </typeAliases>


    <typeHandlers>
        <typeHandler handler="com.app.feelog.mybatis.MemberTypeHandler"/>
    </typeHandlers>

</configuration>