<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/main/faq.css" />
    </head>
    <body>
        <div class="alertbox"></div>
        <header class="header">
            <div class="header-container">
                <div class="logo">
                    <a href="https://www.postype.com/">
                        <span class="logo-img" title="로고"></span>
                    </a>
                    <a class="brand-link" href="https://help.postype.com/hc/ko"
                        >도움 센터</a
                    >
                </div>
                <div class="nav-wrapper-desktop">
                    <!-- 로그인 안했을때-->
                    <!-- <nav
                        class="user-nav"
                        id="user-nav"
                        aria-label="사용자 탐색"
                    >
                        <ul class="user-nav-list">
                            <li>
                                <a
                                    class="sign-in"
                                    rel="nofollow"
                                    data-auth-action="signin"
                                    title="대화 상자를 엽니다."
                                    role="button"
                                    href="/hc/ko/signin?return_to=https%3A%2F%2Fhelp.postype.com%2Fhc%2Fko%2Farticles%2F360000143594-%25EC%25B1%2584%25EB%2584%2590-%25EB%25A7%258C%25EB%2593%25A4%25EA%25B3%25A0-%25EC%25B2%25AB-%25ED%258F%25AC%25EC%258A%25A4%25ED%258A%25B8-%25EC%259E%2591%25EC%2584%25B1%25ED%2595%2598%25EA%25B8%25B0"
                                >
                                    로그인
                                </a>
                            </li>
                        </ul>
                    </nav> -->
                    <!-- 로그인 안했을때 끝 -->
                    <!-- 로그인 했을때 -->
                    <div class="user-info dropdown">
                        <button class="dropdown-toggle" aria-haspopup="true">
                            <img
                                class="user-avatar"
                                alt=""
                                data-user-avatar="true"
                                src="https://secure.gravatar.com/avatar/f2a410d748383469cfb4990621211a2e?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&amp;r=g"
                            />
                            <span>
                                <script>
                                    const getEmailFromProfile = async () => {
                                        try {
                                            const response = await fetch(
                                                "https://help.postype.com/hc/api/internal/ko/aggregated_user_profile.json",
                                                {
                                                    method: "GET",
                                                    headers: {
                                                        "Content-Type":
                                                            "application/json",
                                                    },
                                                }
                                            );

                                            if (!response.ok)
                                                throw new Error(
                                                    "Network response was not ok"
                                                );

                                            const data = await response.json();
                                            const email = data.user_info.email; // email 부분만 추출

                                            // 가져온 email을 id가 emailSpan인 span에 삽입
                                            document.getElementById(
                                                "emailSpan"
                                            ).textContent = email;
                                        } catch (error) {
                                            console.error(
                                                "Error fetching email:",
                                                error
                                            );
                                        }
                                    };

                                    getEmailFromProfile();
                                </script>
                                <span id="emailSpan"
                                    >kor.jakejung@gmail.com</span
                                >
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="12"
                                    height="12"
                                    focusable="false"
                                    viewBox="0 0 12 12"
                                    class="dropdown-chevron-icon"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"
                                    ></path>
                                </svg>
                            </span>
                        </button>
                        <div
                            class="dropdown-menu"
                            role="menu"
                            aria-expanded="true"
                        >
                            <a
                                role="menuitem"
                                href="/access/logout?return_to=https%3A%2F%2Fhelp.postype.com%2Fhc%2Fko"
                                >로그아웃</a
                            >
                        </div>
                    </div>
                    <!-- 로그인 했을때 끝 -->
                </div>
                <div class="nav-wrapper-mobile">
                    <button
                        class="menu-button-mobile"
                        aria-controls="user-nav-mobile"
                        aria-expanded="false"
                        aria-label="탐색 메뉴 토글"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            focusable="false"
                            viewBox="0 0 16 16"
                            class="icon-menu"
                        >
                            <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                d="M1.5 3.5h13m-13 4h13m-13 4h13"
                            ></path>
                        </svg>
                    </button>
                    <nav
                        class="menu-list-mobile"
                        id="user-nav-mobile"
                        aria-expanded="false"
                    >
                        <ul class="menu-list-mobile-items">
                            <li class="item">
                                <a
                                    role="button"
                                    rel="nofollow"
                                    data-auth-action="signin"
                                    title="대화 상자를 엽니다."
                                    href="/hc/ko/signin?return_to=https%3A%2F%2Fhelp.postype.com%2Fhc%2Fko%2Farticles%2F360000143594-%25EC%25B1%2584%25EB%2584%2590-%25EB%25A7%258C%25EB%2593%25A4%25EA%25B3%25A0-%25EC%25B2%25AB-%25ED%258F%25AC%25EC%258A%25A4%25ED%258A%25B8-%25EC%259E%2591%25EC%2584%25B1%25ED%2595%2598%25EA%25B8%25B0"
                                >
                                    로그인
                                </a>
                            </li>
                            <li class="nav-divider"></li>
                            <li class="nav-divider"></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main role="main">
            <div class="base">
                <div class="body-layout">
                    <nav class="sub-nav">
                        <div class="hero-inner">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="12"
                                height="12"
                                focusable="false"
                                viewBox="0 0 12 12"
                                class="search-icon"
                                aria-hidden="true"
                            >
                                <circle
                                    cx="4.5"
                                    cy="4.5"
                                    r="4"
                                    fill="none"
                                    stroke="currentColor"
                                ></circle>
                                <path
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    d="M11 11L7.5 7.5"
                                ></path>
                            </svg>
                            <div class="clear-btn">
                                <img
                                    src="/hc/theming_assets/01HZKPZT5QVVCYXJPKV6ZJ9SSR"
                                />
                            </div>
                            <form
                                role="search"
                                class="search search-full-jk"
                                data-search=""
                                data-instant="true"
                                autocomplete="off"
                                action="/main/faq"
                                accept-charset="UTF-8"
                                method="get"
                            >
                                <input
                                    name="utf8"
                                    type="hidden"
                                    value="✓"
                                    autocomplete="off"
                                /><input
                                    type="search"
                                    name="query"
                                    id="query"
                                    placeholder="키워드를 검색해보세요"
                                    autocomplete="off"
                                    aria-label="키워드를 검색해보세요"
                                /><button
                                    type="button"
                                    aria-controls="query"
                                    class="clear-button"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="12"
                                        height="12"
                                        focusable="false"
                                        role="img"
                                        viewBox="0 0 12 12"
                                        aria-label="검색 지우기"
                                    >
                                        <path
                                            stroke="currentColor"
                                            stroke-linecap="round"
                                            stroke-width="2"
                                            d="M3 9l6-6m0 6L3 3"
                                        ></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </nav>
                    <div class="breadcrumbs-container">
                        <nav aria-label="현재 위치">
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="/hc/ko">포스타입 도움 센터</a>
                                </li>

                            </ol>
                        </nav>
                    </div>

                    <!-- 	바디시작	 -->
                    <div class="basic-layout">
                        <!--  바디 해더   -->
                        <article class="article-main-content">
                            <header class="article-header">
                                <h1 class="article-title" th:text="${faq.faqTitle}">FAQ 제목</h1>
                            </header>

                            <section class="article-info">
                                <div class="article-content">
                                    <div class="article-body" th:utext="${faq.faqContent}">
                                        FAQ 본문
                                    </div>
                                </div>
                            </section>

                            <!--    도움이 되었나요 컴포넌트    -->
                            <footer>
                                <section class="article-footer">
                                    <!--      공유하기 컴포넌트      -->
                                    <div class="article-share">
                                        <a
                                            href="/main/ticket"
                                            class="icon-text-box"
                                        >
                                            <p>문의하기</p>
                                            <i class="icon-arrow-11">
                                                <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 320 512"
                                                >
                                                    <path
                                                        d="M305 239c9.4 9.4 9.4 24.6 0 33.9L113 465c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l175-175L79 81c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0L305 239z"
                                                    ></path>
                                                </svg>
                                            </i>
                                        </a>
                                    </div>
                                    <!--관련 포스트  -->
                                    <div class="article-relatives"></div>
                                </section>
                            </footer>
                        </article>

                        <!-- 사이드 헤더 -->
                        <section
                            class="article-sidebar"
                            aria-labelledby="section-articles-title"
                        >
                            <div class="collapsible-sidebar">
                                <span
                                    id="section-articles-title"
                                    class="collapsible-sidebar-title sidenav-title"
                                >
                                    자주 묻는 질문
                                </span>
                                <div class="collapsible-sidebar-body">
                                    <ul>
                                        <li th:each="recentFaq : ${recentFaqs}">
                                            <a th:href="@{'/main/faq/' + ${recentFaq.id}}" class="sidenav-item">
                                                <span th:text="${recentFaq.faqTitle}">FAQ 제목</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-inner">
                <div class="footer-logo">
                    <a title="홈" href="/hc/ko">Postype</a>
                </div>
                <div class="d-flex">
                    <ul>
                        <li>주식회사 포스타입</li>
                        <li>대표이사 신규섭</li>
                        <li>
                            <a href="https://help.postype.com">도움 센터</a>
                        </li>
                        <li>
                            <a href="https://right.postype.com"
                                >권리침해 신고센터</a
                            >
                        </li>
                        <li>
                            <div class="footer-language-selector" align="right">
                                <div
                                    class="dropdown language-selector"
                                    aria-haspopup="true"
                                >
                                    <a class="dropdown-toggle"> 한국어 </a>
                                    <span
                                        class="dropdown-menu dropdown-menu-end"
                                        role="menu"
                                    >
                                        <a
                                            href="/hc/change_language/en-us?return_to=%2Fhc%2Fen-us%2Farticles%2F360000143594-Create-a-new-blog-and-write-the-first-post"
                                            dir="ltr"
                                            rel="nofollow"
                                            role="menuitem"
                                        >
                                            English (US)
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
    <script src="/js/main/faq.js"></script>
</html>
