textarea {
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    padding: 2px;
    white-space: pre-wrap;
}

.joy-l3kvea {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    box-sizing: border-box;
    box-shadow: 0 0 #000;
    min-width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    border-radius: 12px;
    border-color: #dadadc;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
    padding: 0px !important;
}





.message-fix{
    position: relative !important;
    display: block !important;
    color-scheme: normal !important;
    white-space: normal !important;
}

.message-button-wrap {
    position: fixed;
    z-index: 10;
    overflow: visible;
    display: flex
;
    flex-wrap: nowrap;
    width: auto;
    background: transparent;
    bottom: 60px;
    right: 22px;
}

.message-button {
    box-sizing: border-box;
    width: auto;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-optical-sizing: inherit;
    font-size-adjust: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: transparent 0px 0px 0px;
    letter-spacing: inherit;
    background: transparent;
    border: 0px solid transparent;
    box-shadow: transparent 0px 0px 0px;
}

.fixed-button-container {
    position: relative;
    box-sizing: border-box;
    display: flex
;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    overflow: initial;
    cursor: pointer;
    backdrop-filter: blur(30px);
    border-radius: 24px;
    will-change: transform, opacity;
    transition: transform 400ms cubic-bezier(0.36, 0, 0, 1) 10ms, box-shadow 200ms ease-out;
    animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal backwards running ;
}

.view-messageImg {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    visibility: visible;
}

.hidden-messageImg {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
}

.button-img {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url(../../images/messageIcon2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 24px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;
}

.view-xImg {
    position: absolute;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    will-change: opacity, visibility;
    visibility: visible;
    background-color: rgba(247, 247, 248, 0.9);
    border-radius: 24px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;
}

.hidden-xImg {
    position: absolute;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    will-change: opacity, visibility;
    visibility: hidden;
    background-color: rgba(247, 247, 248, 0.9);
    border-radius: 24px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.15) 0px 8px 30px;
}


.pJGcx {
    flex: 0 0 auto;
    margin: 0px;
    color: rgba(0, 0, 0, 0.6);
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
    transition-duration: 150ms;
    transition-property: color;
}

@keyframes dIKmRx {
    0% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 20px, 0px);
    }
}

.message-listHidden {
    visibility: hidden !important;
    transition: visibility 400ms cubic-bezier(0.36, 0, 0, 1), width 400ms cubic-bezier(0.36, 0, 0, 1), max-width 400ms cubic-bezier(0.36, 0, 0, 1), max-height 400ms cubic-bezier(0.36, 0, 0, 1) !important;
    animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal none running dIKmRx !important;
}


@keyframes jtBULV {
    0% {
        opacity: 0;
        transform: translate3d(0px, 20px, 0px);
    }
    100% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}


.message-listView {
    box-shadow: rgba(255, 255, 255, 0.12) 0px 0px 2px 0px inset, rgba(0, 0, 0, 0.05) 0px 0px 2px 1px, rgba(0, 0, 0, 0.3) 0px 12px 60px;
    transition: visibility 400ms cubic-bezier(0.36, 0, 0, 1), width 400ms cubic-bezier(0.36, 0, 0, 1), max-width 400ms cubic-bezier(0.36, 0, 0, 1), max-height 400ms cubic-bezier(0.36, 0, 0, 1);
    animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal both running jtBULV;
    position: fixed !important;
    min-height: 200px !important;
    min-width: 390px !important;
    max-width: 390px !important;
    max-height: 690px !important;
    width: calc(100% - 42px) !important;
    height: calc(100% - 108px) !important;
    overflow: hidden !important;
    background-color: #fafafa !important;
    border-radius: 30px !important;
    will-change: transform, opacity, width, max-height, max-width !important;
}

#message-listContainer{
    border-radius: 30px !important;
}

.diary_container_01 {
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.joy-1dox06v {
    display: flex
;
    flex-direction: column;
    position: sticky;
    top: 0px;
    background-color: #fafafa;
}

.joy-dmwqxb {
    display: flex
;
    flex-direction: row;
    padding: 4px 8px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 47px;
}

.joy-zok3ae {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    line-height: 1.5;
    color: #202022;
    font-weight: 500;
}

.joy-zok3ae.more_diaryButton_01 {
    min-height: 40px;
    font-size: 16px;
}

.joy-c7faj8 {
    margin: 0;
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33334;
    color: #202022;
}

.more_diaryButton_svg_01 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 20px;
    width: 16px;
    height: 16px;
    color: currentcolor;
}

.joy-w2e6ki {
    margin: initial;
    margin-block: initial;
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118 118 127 / 0.15);
    inline-size: initial;
    block-size: 1px;
}

.joy-50s8vl {
    padding: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0px;
    margin-block-end: initial;
    box-sizing: border-box;
    list-style: none;
    display: flex
;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    color: #202022;
    overflow: auto;
    height: 593px;
}

.joy-1521dpu {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    text-align: initial;
    background-color: initial;
    cursor: pointer;
    margin-block-start: 0px;
    padding-inline-start: 0.75rem;
    padding-inline-end: 0.75rem;
    min-block-size: 40px;
    min-inline-size: 0px;
    color: #202022;
    width: 100%;
    height: 84px;
    font: inherit;
    text-decoration: initial;
    margin-inline: 0px;
    padding-block: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    flex: none;
    padding: 20px;
    gap: 10px;
}

.joy-11ol5nn {
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    min-width: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.imgWrap_05 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #202022;
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    background-color: #f2f2f3;
    width: 40px;
    height: 40px;
}

.aTag_divImg_01 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.joy-hflw33 {
    flex: 1 1 auto;
    min-width: 0px;
    width: 360px;
}

.diary_nicknameWrap_01 {
    display: flex
;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.title_h5_01 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.joy-bfn6hx {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767f;
    flex-shrink: 0;
    padding-right: 4px;
}

.joy-wtfzkc {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767f;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.joy-w2e6ki {
    margin: initial;
    margin-block: initial;
    position: relative;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118 118 127 / 0.15);
    inline-size: initial;
    block-size: 1px;
}

.joy-1521dpu:not(.Mui-selected, [aria-selected="true"]):hover, .joy-zok3ae:hover, .joy-1j6tmez>button:hover {
    background-color: #f2f2f3;
    color: #202022;
}

.view-list{
    visibility: visible;
}

.hidden-list{
    visibility: hidden;
}

.joy-h3xwdq {
    display: flex
;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.joy-1r5to7m {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.joy-uv29nh {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52 120 255);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 8px 0px 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
}

.joy-1j6tmez {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

.joy-14llzfj {
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

.joy-14llzfj.MuiIconButton-sizeMd {
    min-width: 40px;
    min-height: 40px;
}

.menuButton_svg_01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: calc(40px / 1.667);
    color: #76767f;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

.joy-oklso3 {
    min-width: 32px;
    min-height: 32px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 1;
    border-radius: max((12px - 1px) - 0.5rem, min(0.5rem / 2, (12px - 1px) / 2));
    color: #3e3e43;
    position: relative;
    top: 0px;
    right: 0px;
}

.joy-c6bb0f {
    user-select: none;
    margin: initial;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: calc(32px / 1.5);
    color: #76767f;
}

.joy-12udg69 {
    margin: initial;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118 118 127 / 0.15);
    inline-size: initial;
    block-size: 1px;
    margin-inline: 0px;
}

.joy-uabdzs {
    display: flex
;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    background-color: #f9f9fa;
    flex: 1 1 auto;

}
.joy-1fptnyw {
    display: flex
;
    flex-direction: column;
    padding: 20px;
    gap: 16px;

}

.joy-1age63q {
    width: 100%;
    display: flex
;
}

.joy-bwcods {
    margin: initial;
    position: relative;
    align-self: stretch;
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    text-align: center;
    border: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    flex: 1 1 0%;
    margin-block: auto;
}

.previous_p_01 {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #76767f;
}

.joy-131bx5v {
    display: flex
;
    flex-flow: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 100%;
}
.joy-kd81xj {
    font-size: 18px;
    line-height: 1.5;
    color: rgba(52 120 255);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex
;
    -webkit-box-align: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 8px 0px 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
    align-items: flex-start;
}

.joy-7tv6fu {
    position: relative;
    display: flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    color: #202022;
    background-color: #f2f2f3;
    width: 24px;
    height: 24px;
}

.joy-11cui4a {
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.joy-e6pf26 {
    display: flex
;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.joy-6wq7gy {
    padding: 8px 14px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 4px 18px 18px 16px;
}

.joy-a0hgnt {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #202022;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.joy-e6pf26 button {
    visibility: hidden;
}

.joy-1dgehg0.uploadButton_01 {
    min-width: 32px;
    min-height: 32px;
}

.joy-9nvto4 {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #76767f;
}

.joy-1udr1jv {
    display: flex
;
    flex-flow: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 100%;
}

.joy-1y9kyp6 {
    display: flex
;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}

.joy-3diwkv {
    padding: 8px 14px;
    overflow: hidden;
    background-color: #3478ff;
    border-radius: 18px 4px 16px 18px;
}

.joy-1kp8wdt {
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
    white-space: pre-line;
    overflow-wrap: anywhere;
}

.joy-1m2yi2j {
    display: flex
;
    position: relative;
    flex-direction: row;
    gap: 8px;
}

.joy-spcbp9 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 2.25rem;
    cursor: text;
    position: relative;
    display: flex;
    padding-inline-start: 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #ffffff;
    box-shadow: none;
    flex-direction: row;
    width: 100%;
    padding-block: calc(0.375rem - 1px);
    border-color: #dadadc;
    border-radius: 20px;
    padding: 5px 5px 5px 15px;
}

.joy-spcbp9{
    background-color: transparent;
}

.textareaInput_02 {
    resize: none;
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    padding-inline-end: 0.75rem;
    flex: 1 1 auto;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.joy-spcbp9 .textareaInput_01 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    max-height: 120px;
}

.joy-spcbp9::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: -1px;
}

.joy-18i8jzi {
    display: flex
;
    margin-inline-start: -7px;
    margin-inline-end: calc(0.375rem - 1px);
    margin-block-start: 0.5rem;
    color: #76767f;
    cursor: initial;
}

.joy-spcbp9 .upload_buttonContainer_01 {
    align-self: flex-end;
    margin: 0px;
}

.joy-ut6eac {
    min-width: min(1.75rem, 2.25rem);
    min-height: min(1.75rem, 2.25rem);
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex
;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    background-color: #3478ff;
    border-radius: 50%;
}

.joy-ut6eac:disabled {
    pointer-events: none;
    cursor: default;
    color: #a4a4a8;
    background-color: #f2f2f3;
}

.joy-ut6eac.MuiIconButton-sizeMd {
    min-width: min(1.75rem, 2.25rem);
    min-height: min(1.75rem, 2.25rem);
}

.joy-bwcods::before, .joy-bwcods::after {
    position: relative;
    inline-size: initial;
    block-size: 1px;
    background-color: rgba(118 118 127 / 0.15);
    content: "";
}

.joy-bwcods::before {
    margin-inline-end: 8px;
    margin-block-end: initial;
    flex-basis: 50%;
}

.joy-bwcods::after {
    margin-inline-start: 8px;
    margin-block-start: initial;
    flex-basis: 50%;
}

@media (min-width: 0px) {
    .joy-1m2yi2j {
        padding: 8px 12px;
    }
}

@media (min-width: 744px) {
    .joy-1m2yi2j {
        padding: 12px;
    }
}

@media (min-width: 0px) {
    .joy-h3xwdq {
        padding: 4px 8px;
    }
}

@media (min-width: 744px) {
    .joy-h3xwdq {
        padding: 13px 16px 9px 20px;
    }
}

@media (min-width: 744px) {
    .joy-l3kvea {
        height: min(100%, 867px);
    }
}

.joy-1521dpu * {
    pointer-events: none; /* 내부 요소의 클릭 비활성화 */
}
.joy-1521dpu {
    pointer-events: auto; /* li는 클릭 가능 */
}

.joy-1nwwb6p {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    text-align: initial;
    background-color: initial;
    cursor: pointer;
    margin-block-start: 0px;
    padding-inline-start: calc(00.75rem, 0px);
    padding-inline-end: calc(00.75rem, 0px);;
    min-block-size: 40px;
    min-inline-size: 0px;
    color: #202022;
    font: inherit;
    gap: 0.625rem;
    text-decoration: initial;
    margin-inline: 0px;
    padding-block: calc(0.25rem - 0px, 0px);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    flex: none;
    padding: 8px 16px;
    height: 10px;
}

.joy-1nwwb6p:hover {
    background-color: #f2f2f3;
    color: #202022;
}