body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; */
    font-family: "Noto Sans KR", "Open Sans", "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    color: #2F3941;
    background-color: #FFFFFF;
}

body {
    margin: 0;
}

body {
    display: block;
    margin: 8px;
}

@media (min-width: 1100px) {
    .alertbox {
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.alertbox {
    display: none !important;
    padding: 0 20px;
    background-color: rgba(52, 120, 255, 0.9) !important;
    color: #ffffff;
}

.header {
    z-index: 1000;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid #ddd; */
}

@media (min-width: 768px) {
    .header .header-container {
        height: 60px;
        margin: auto;
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .header .header-container {
        height: 60px;
        margin: auto;
        padding: 0 40px;
    }
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    height: 48px;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 24px;
}

.logo a {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.logo .logo-img {
    display: block;
    width: 27px;
    height: 27px;
    margin-bottom: 0px;
    background: url(/hc/theming_assets/01HZKPZSVP09MHS1WM1N6QWH5C) no-repeat 0 0;
    background-size: contain;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .logo .brand-link {
        font-size: 18px;
    }
}

.logo .brand-link {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .user-nav {
        position: relative;
    }
}

.user-nav {
    display: inline-block;
    white-space: nowrap;
}

.user-nav {
    list-style: none;
}

.user-nav-list {
    display: flex;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

@media (min-width: 768px) {
    .button, [role="button"] {
        width: auto;
    }
}

.sign-in, [role="button"] {
    width: auto;
}

.button, [role="button"] {
    border: 1px solid rgba(52, 120, 255, 1);
    border-radius: 4px;
    color: rgba(52, 120, 255, 1);
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 2.34;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    -webkit-touch-callout: none;
}

.sign-in {
    color: #007bff;
    text-decoration: none;
    padding: 8px;
}

a {
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
    /* font-size: 16px; */
}

.nav-wrapper-mobile {
    display: none;
}

.menu-button-mobile {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.icon-menu {
    margin-left: 8px;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.menu-list-mobile {
    display: none;
}

.menu-list-mobile-items {
    list-style: none;
}

.nav-divider {
    border-top: 1px solid #ddd;
    margin: 8px 0;
}

.user-info {
    position: relative;
}

.user-info {
    display: inline-block;
}

.dropdown {
    position: relative;
}

.user-info > .dropdown-toggle {
    gap: 4px;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

script {
    display: none;
}

.user-info > .dropdown-toggle svg {
    vertical-align: middle;
}

.dropdown-chevron-icon {
    margin-left: 4px;
}

.user-info .dropdown-menu {
    font-size: 13px;
    margin-top: 1px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 20px 30px 0px rgba(23, 73, 77, 0.15);
    width: 100%;
    left: 0;
    padding: 7px 0;
}

.user-info .dropdown-menu [role=menuitem] {
    padding: 0 7px;
    color: #2f3941;
    cursor: pointer;
    display: block;
    -webkit-appearance: none;
    text-align: start;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
}

body > main {
    /* padding-top: 48px; */
}

@media (min-width: 768px) {
    body > main {
        /* padding-top: 60px; */
    }
}

@media (min-width: 1024px) {
    body > main {
        min-height: 65vh;
    }
}

.base {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-layout {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    max-width: 1000px;
}

@media (min-width: 768px) {
    .body-layout {
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .body-layout {
        padding: 0px;
    }
}

.sub-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
    margin-bottom: 20px;
    min-height: 40px;
}

@media (min-width: 768px) {
    .sub-nav {
        align-items: baseline;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .sub-nav {
        align-items: baseline;
        flex-direction: row;
    }
}

.hero-inner {
    width: 100%;
    max-width: 1000px;
    position: relative;
}

.sub-nav .hero-inner {
    width: 100%;
    max-width: 1000px;
    position: relative;
}

@media (min-width: 1024px) {
    .sub-nav .hero-inner {
        width: 100%;
        max-width: 600px;
    }
}

.search-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 15px;
    z-index: 1;
    width: 18px;
    height: 18px;
    color: #666;
    pointer-events: none;
    opacity: 47%;
}

@media (min-width: 768px) {
    .search-icon {
        width: 24px;
        height: 24px;
        left: 20px;
    }
}

.sub-nav .search-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 15px;
    z-index: 1;
    width: 18px;
    height: 18px;
    color: #666;
    pointer-events: none;
}

.clear-btn {
    width: 18px;
    height: 18px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 768px) {
    .clear-btn {
        width: 24px;
        height: 24px;
        right: 20px;
    }
}

.sub-nav .clear-btn {
    width: 18px;
    height: 18px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    z-index: 1;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clear-btn img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.search {
    border-radius: 30px;
    display: flex;
    position: relative;
}

input, textarea {
    color: #000;
    font-size: 14px;
}

.search input[type=search], .search .clear-button {
    border-radius: 30px;
    border: none;
}

.search-full-jk input[type=search], .search-full-jk .clear-button {
    border-color: #fff;
}

.search input[type=search] {
    appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    color: black;
    flex: 1 1 auto;
    height: 40px;
    width: 100%;
}

.search-full-jk input[type="search"] {
    width: 100%;
    max-width: 1000px;
    height: 50px;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #F0F0F0;
    font-weight: 500;
}

@media (min-width: 768px) {
    .search-full-jk input[type="search"] {
        width: 100%;
        height: 64px;
        max-width: 1000px;
        border-radius: 32px;
        padding: 10px 60px 10px 60px;
        font-size: 20px;
    }
}

.sub-nav .search-full-jk input[type="search"] {
    height: 48px;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
}

.search .clear-button {
    display: none;
    flex: none;
}

.search .clear-button svg {
    flex: none;
}

.breadcrumbs-container {
    width: 100%;
    padding-bottom: 12px;
}

@media (min-width: 768px) {
    .breadcrumbs-container {
        padding-bottom: 40px;
    }
}

.breadcrumbs {
    width: 100%;
    max-width: 1000px;
    padding: 0;
}

.breadcrumbs li {
    display: inline;
    max-width: 450px;
    font-weight: 400;
    font-size: 15px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.47);
    text-overflow: ellipsis;
}

a {
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
    /* font-size: 16px; */
}

.breadcrumbs li a {
    color: rgba(0, 0, 0, 0.47);
}

.breadcrumbs li + li::before {
    content: ">";
    margin: 0 4px;
    color: lighten(black, 50%);
}

.breadcrumbs li:last-child a {
    color: black;
    font-weight: 600;
}

.basic-layout {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .basic-layout {
        flex-direction: row;
        justify-content: space-between;
    }
}

.article-main-content {
    width: 100%;
}

@media (min-width: 1024px) {
    .article-main-content {
        width: 600px;
    }
}

.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .article-header {
        flex-direction: row;
    }
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; */
    font-family: "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    line-height: 1.333333;
    margin-top: 0;
    color: #000;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 22px;
}

.article-body h2, h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 32px;
}

.article-title {
    margin: 0;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
}

.article-info {
    max-width: 100%;
}

.article-content {
    line-height: 1.6;
    margin: 30px 0;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .article-content {
        margin: 40px 0;
    }
}

.article-body {
    line-height: 1.8675;
}

.wysiwyg-text-align-center {
    text-align: center;
}

.article-main-content img {
    max-width: 600px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-body p, .article-body ol, .article-body ul {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.article-body ul, .article-body ol {
    list-style-position: outside;
    margin: 12px 0 20px 20px;
}

.article-body ul {
    list-style-type: disc;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}

.wysiwyg-color-black {
    color: #000;
}

.wysiwyg-color-black {
    color: #2F3941;
}

.wysiwyg-color-blue {
    color: blue;
}

.wysiwyg-color-blue {
    font-weight: 500;
    color: rgba(52, 120, 255, 1);
}

h3 {
    font-size: 18px;
}

h1 .wysiwyg-color-black, h2 .wysiwyg-color-black, h3 .wysiwyg-color-black, h4 .wysiwyg-color-black, h5 .wysiwyg-color-black, h6 .wysiwyg-color-black {
    color: #000;
}

.article-body > p:last-child {
    margin-bottom: 0;
}

.article-share {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.icon-text-box {
    display: flex;
    align-items: center;
    padding: 0;
}

.article-share p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    color: gray;
}

.icon-arrow-11 {
    width: 10px;
    height: 11px;
    opacity: 33%;
    margin: 0 6px;
    display: flex;
}

.article-relatives {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .article-relatives {
        flex-direction: row;
        justify-content: space-between;
        gap: 18px;
    }
}

.collapsible-sidebar {
    display: none;
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    padding: 25px;
}

@media (min-width: 1024px) {
    .collapsible-sidebar {
        display: flex;
        flex-direction: column;
        padding: 25px;
        width: 320px;
    }
}

.sidenav-title {
    font-size: 15px;
    position: relative;
}

.collapsible-sidebar-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}

.collapsible-sidebar-body {
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.article-sidebar li {
    padding: 8px 0;
}

.collapsible-sidebar ul li {
    position: relative;
    font-size: 15px;
}

.article-sidebar a {
    color: rgba(0, 0, 0, 0.47);
}

.sidenav-item.current-article {
    font-weight: 600;
    color: black;
}

.article-sidebar li {
    padding: 8px 0;
}

.footer {
    padding: 30px 0;
    margin-top: 40px;
    font-size: 13px;
    color: #777;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 60px;
    }
}

.footer-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
}

@media (min-width: 1024px) {
    .footer-inner {
        display: flex;
    }
}

@media (min-width: 1160px) {
    .footer-inner {
        padding: 0;
        width: 90%;
    }
}

.footer a {
    color: #5a6d7c;
}

.footer-logo a {
    display: block;
    width: 70px;
    height: 18px;
    margin-bottom: 10px;
    background: url(/hc/theming_assets/01HZKPZTBR4FB1D6BVK45930GS) no-repeat 0 0;
    background-size: 70px 16px;
    opacity: 0.5;
    color: transparent;
}

@media (min-width: 1024px) {
    .footer-logo a {
        margin: 1px 20px 1px 0;
    }
}

.d-flex {
    display: flex;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
}

.footer li {
    display: inline;
    margin-right: 7px;
}

.footer li + li::before {
    content: "";
    position: relative;
    top: .15em;
    display: inline-block;
    height: 1em;
    margin-right: 10px;
    border-left: 1px solid #ddd;
}

.footer li:last-child {
    margin-right: 20px;
}

.footer-language-selector {
    color: #5a6d7c;
    display: inline-block;
    font-weight: 300;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
}




































