body {
    margin: 0;
    color: #202022;
    /* font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    /* font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif; */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

body {
    margin: 0px;
    color: #202022;
    /* font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

.joy-91keta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100dvh;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.jk-feelog-div033 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 240px;
}

@media (min-width: 0px) {
    .joy-18lu9f5 {
        top: 48px;
    }
}

@media (min-width: 744px) {
    .joy-18lu9f5 {
        top: 56px;
    }
}



.joy-18lu9f5 {
    position: sticky;
    z-index: 499;
    border-bottom: 1px solid;
    border-color: rgba(118, 118, 127, 0.15);
    background-color: #FFFFFF;
}

@media (min-width: 0px) {
    .joy-1wegxv0 {
        max-width: 100%;
        padding: 0 16px;
    }
}

@media (min-width: 744px) {
    .joy-1wegxv0 {
        max-width: 1128px;
        padding: 0 24px;
    }
}



.joy-1wegxv0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
}

.joy-6u9hs2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
}
@media (min-width: 0px) {
    .joy-1xzjzsf {
        height: 48px;
    }
}
@media (min-width: 744px) {
    .joy-1xzjzsf {
        height: 56px;
    }
}



.joy-1xzjzsf {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 600;
    align-items: center;
    padding: 0 4px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.joy-6u9hs2::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #202022;
}

*, *::before, *::after {
    box-sizing: inherit;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.joy-hrba6h {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-sizing: content-box;
    position: relative;
}
@media (min-width: 0px) {
    .joy-10c7stv {
        height: 48px;
    }
}
@media (min-width: 744px) {
    .joy-10c7stv {
        height: 56px;
    }
}



.joy-10c7stv {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #76767F;
    font-weight: 400;
    align-items: center;
    padding: 0 4px;
    -webkit-text-decoration: none;
    text-decoration: none;
}
@media (min-width: 0px) {
    .joy-1yxq76r {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (min-width: 744px) {
    .joy-1yxq76r {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width: 0px) {
    .joy-fvjjjv {
        max-width: 100%;
    }
}

@media (min-width: 744px) {
    .joy-fvjjjv {
        max-width: 1080px;
    }
}



.joy-11dfn0q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}
@media (min-width: 0px) {
    .joy-1l8egul {
        margin-left: 16px;
        margin-right: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 1132px) {
    .joy-1l8egul {
        display: none;
    }
}

@media (min-width: 744px) {
    .joy-1l8egul {
        margin-left: 0px;
        margin-right: 0px;
    }
}



.joy-1l8egul {
    --Icon-color: #76767F;
    --Card-childRadius: max((12px - 1px) - 1rem, min(1rem / 2, (12px - 1px) / 2));
    --AspectRatio-radius: max((12px - 1px) - 1rem, min(1rem / 2, (12px - 1px) / 2));
    --unstable_actionMargin: -1px;
    --unstable_actionRadius: 12px;
    --CardCover-radius: calc(12px - 1px);
    --CardOverflow-offset: -1rem;
    --CardOverflow-radius: calc(12px - 1px);
    --Divider-inset: -1rem;
    --Card-radius: 12px;
    --Card-padding: 1rem;
    gap: 0.75rem 1rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 1px;
    border: 1px solid;
    border-color: #DADADC;
    height: 172px;
    margin-top: 20px;
}

.joy-47nslc {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(12px - 1px);
}

.joy-47nslc [data-first-child] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: calc(12px - 1px); /* 또는 11px */
    margin: 0;
    padding: 0;
}

.joy-1ymcrpj {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(12px - 1px); /* 또는 11px */
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.joy-19fxpay {
    display: flex;
    flex-direction: column;
    flex: 9999;
    z-index: 1;
    column-gap: 1rem;
    row-gap: max(2px, calc(0.1875 * 1rem));
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
@media (min-width: 0px) {
    .joy-eo56yu {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 16px;
    }
}
@media (min-width: 744px) {
    .joy-eo56yu {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 12px;
    }
}



.joy-eo56yu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@media (min-width: 0px) {
    .joy-o2mt47 {
        text-align: center;
        font-size: 24px;
    }
}
@media (min-width: 744px) {
    .joy-o2mt47 {
        text-align: left;
        font-size: 30px;
    }
}

.joy-szbwwm {
    color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #A4A4A8;
    border-radius: 18.5px;
    padding-left: 15px;
    padding-right: 9px;
    margin: 0px;
    height: 37px;
    display: flex;
    align-items: center;
}



.joy-o2mt47 {
    --Icon-fontSize: calc(1em * 1.33334);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33334;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    white-space: pre-line;
}

.joy-czbwv1 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 13px;
    line-height: 1;
    color: #FFFFFF;
    font-weight: 500;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: currentcolor;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: initial;
}

.joy-fhkbwe {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 2px;
    width: 12px;
    height: 12px;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: currentcolor;
}

.jk-feelog-div031 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.joy-16vwv4v {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media (min-width: 0px) {
    .joy-65n013 {
        padding-bottom: 20px;
    }
}
@media (min-width: 744px) {
    .joy-65n013 {
        padding-bottom: 24px;
    }
}



.joy-65n013 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: relative;
    align-items: flex-start;
    padding-top: 70px;
}

.joy-16vwv4v > * {
    border-bottom: 1px solid;
    border-bottom-color: rgba(118, 118, 127, 0.15);
}
@media (min-width: 0px) {
    .joy-1eriol4 {
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-1eriol4 {
        display: flex;
    }
}



.joy-1eriol4 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 4px 0px 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
    z-index: 1;
}

.joy-1stxrp2 {
    --Icon-color: #76767F;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: calc(40px * 0.4);
    line-height: 1;
    color: #202022;
    margin-inline-start: var(--Avatar-marginInlineStart);
    box-shadow: var(--Avatar-ring);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    --variant-borderWidth: 0px;
    width: 40px;
    height: 40px;
    --Avatar-size: 40px;
}

.jk-feelog-img001 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
@media (min-width: 0px) {
    .joy-17arh4m {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 744px) {
    .joy-17arh4m {
        padding-left: 0px;
        padding-right: 0px;
    }
}


@media (min-width: 0px) {
    .joy-17arh4m {
        align-items: flex-start;
    }
}
@media (min-width: 744px) {
    .joy-17arh4m {
        -webkit-box-align: center;
        align-items: center;
    }
}



.joy-17arh4m {
    display: flex;
    flex-direction: row;
    gap: 8px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    z-index: 1;
    padding-bottom: 4px;
}

.joy-xb6gjk {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
}
@media (min-width: 0px) {
    .joy-1vomu2x {
        display: flex;
    }
}
@media (min-width: 744px) {
    .joy-1vomu2x {
        display: none;
    }
}



.joy-1vomu2x {
    --Icon-color: #76767F;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: calc(32px * 0.4375); /* = 14px */
    line-height: 1;
    color: #202022;
    margin-inline-start: var(--Avatar-marginInlineStart);
    box-shadow: var(--Avatar-ring);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    --variant-borderWidth: 0px;
    width: 32px;
    height: 32px;
    --Avatar-size: 32px;
    flex-shrink: 0;
}
@media (min-width: 0px) {
    .joy-v2pzzj {
        align-items: flex-start;
    }
}
@media (min-width: 744px) {
    .joy-v2pzzj {
        -webkit-box-align: center;
        align-items: center;
    }
}


@media (min-width: 0px) {
    .joy-v2pzzj {
        flex-direction: column;
    }
}

@media (min-width: 744px) {
    .joy-v2pzzj {
        flex-direction: row;
    }
}


.joy-v2pzzj {
    display: flex;
    /* flex-flow: column wrap; */
    column-gap: 8px;
}

.jk-feelog-div062 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 0px) {
    .joy-1ry9yvs {
        font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.42858;
        color: #202022;
    }
}

@media (min-width: 744px) {
    .joy-1ry9yvs {
        font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        color: #202022;
    }
}



.joy-1ry9yvs {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.joy-151y3tr {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: initial;
}

.joy-1iqmx8b {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.joy-1g74u8a {
    --Icon-fontSize: calc(1em * 1);
    margin: 0px;
    display: inline;
    font-size: inherit;
}

.joy-hke6pf {
    --Icon-fontSize: calc(1em * 1);
    margin: 0px;
    display: inline;
    font-size: inherit;
}

.joy-151y3tr::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    margin: 0;
}

.jk-feelog-div021 {
    flex: 1 1 0%;
}

.joy-1caho3t.FlgIconButton-sizeSm-need {
    --Icon-fontSize: calc(32px / 1.6); /* = 20px */
    min-width: 32px;
    min-height: 32px;
}

.joy-1caho3t {
    --Icon-margin: initial;
    --Icon-color: #76767F;
    --Icon-fontSize: calc(32px / 1.6); /* = 20px */
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    --IconButton-size: 32px;
    color: #76767F;
}

.jk-feelog-main-svg01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var(--Icon-margin);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: currentcolor;
}

@media (min-width: 0px) {
    .joy-1ka30t1 {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 12px;
    }
}

@media (min-width: 744px) {
    .joy-1ka30t1 {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 16px;
    }
}

@media (min-width: 0px) {
    .joy-1ka30t1 {
        gap: 4px;
    }
}

@media (min-width: 744px) {
    .joy-1ka30t1 {
        gap: 6px;
    }
}



.joy-1ka30t1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.joy-63nzw0 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.025em;
    color: #202022;
}

@media (min-width: 744px) {
    .joy-63nzw0 {
        font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.025em;
        color: #202022;
    }
}

@media (min-width: 0px) {
    .joy-63nzw0 {
        font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.33334;
        color: #202022;
    }
}

.joy-bxmlpm {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #3E3E43;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
@media (min-width: 0px) {
    .joy-1r6jpu3 {
        margin-top: 4px;
        max-height: 20px;
    }
}
@media (min-width: 744px) {
    .joy-1r6jpu3 {
        margin-top: 6px;
        max-height: 24px;
    }
}



.joy-1r6jpu3 {
    display: flex;
    flex-flow: wrap;
    gap: 4px;
    overflow: hidden;
    z-index: 1;
}

.jk-feelog-a-004.FlgChip-colorNeutral-need.FlgChip-variantSoft-need:not(.Flg-disabled-need) {
    color: #76767F;
}

.jk-feelog-a-004.FlgChip-sizeSm-need {
    --Chip-paddingInline: 6px;
    --_Chip-minHeight: 20px;
    --Chip-decoratorChildHeight: 18px;
    font-size: 12px;
    min-width: 32px;
}
@media (min-width: 0px) {
    .jk-feelog-a-004 {
        display: flex;
    }
}
@media (min-width: 744px) {
    .jk-feelog-a-004 {
        display: none;
    }
}



.jk-feelog-a-004 {
    --Chip-decoratorChildOffset: min(calc(8px - (24px - 2 * 0px - 20px) / 2), 8px); /* = min(calc(8px - 2px), 8px) = min(6px, 8px) = 6px */
    --Chip-decoratorChildRadius: max(1.5rem - 0px - 2px, min(2px + 0px, 1.5rem / 2)); /* = max(1.5rem - 2px, min(2px, 0.75rem)) */
    --Chip-deleteRadius: var(--Chip-decoratorChildRadius);
    --Chip-deleteSize: 20px;
    --Avatar-radius: var(--Chip-decoratorChildRadius);
    --Avatar-size: 20px;
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --unstable_actionRadius: 1.5rem;
    --Icon-fontSize: 14px;
    gap: 3px;
    --_Chip-radius: 1.5rem;
    --_Chip-paddingBlock: max((24px - 2 * 0px - 20px) / 2, 0px); /* = max(2px, 0px) = 2px */
    min-height: 24px;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    background-color: #F2F2F3;
    --variant-borderWidth: 0px;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

.jk-feelog-span006 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    order: 1;
    min-inline-size: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.jk-feelog-a-005.FlgChip-colorNeutral-need.FlgChip-variantSoft-need:not(.Flg-disabled-need) {
    color: #76767F;
}
@media (min-width: 0px) {
    .jk-feelog-a-005 {
        display: none;
    }
}
@media (min-width: 744px) {
    .jk-feelog-a-005 {
        display: flex;
    }
}



.jk-feelog-a-005 {
    --Chip-decoratorChildOffset: min(calc(8px - (24px - 2 * 0px - 20px) / 2), 8px); /* = min(6px, 8px) */
    --Chip-decoratorChildRadius: max(1.5rem - 0px - 2px, min(2px + 0px, 0.75rem)); /* = max(calc, calc) */
    --Chip-deleteRadius: var(--Chip-decoratorChildRadius);
    --Chip-deleteSize: 20px;
    --Avatar-radius: var(--Chip-decoratorChildRadius);
    --Avatar-size: 20px;
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --unstable_actionRadius: 1.5rem;
    --Icon-fontSize: 16px;
    gap: 0.25rem;
    --_Chip-radius: 1.5rem;
    --_Chip-paddingBlock: max((24px - 2 * 0px - 20px) / 2, 0px); /* = 2px */
    min-height: 24px;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    background-color: #F2F2F3;
    --variant-borderWidth: 0px;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}
@media (min-width: 0px) {
    .joy-8a80tx {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 744px) {
    .joy-8a80tx {
        padding-left: 0px;
        padding-right: 0px;
    }
}



.joy-8a80tx {
    position: relative;
    --navigation-opacity: 0;
    z-index: 1;
}

.swiper-horizontal {
    touch-action: pan-y;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.joy-8a80tx .swiper-wrapper {
    cursor: pointer;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: initial;
    box-sizing: content-box;
}

.joy-8a80tx .swiper-slide {
    width: auto;
}

.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}

.joy-1wp9drt {
    width: 641.379px;
    height: 360px;
    max-height: 360px;
    border-radius: 12px;
    user-select: none;
}
@media (min-width: 0px) {
    .joy-1d38qr0 {
        left: 24px;
        display: none;
    }
}
@media (min-width: 1132px) {
    .joy-1d38qr0 {
        left: -24px;
    }
}

@media (min-width: 744px) {
    .joy-1d38qr0 {
        left: 16px;
        display: flex;
    }
}

.joy-1d38qr0.FlgIconButton-sizeLg-need {
    --Icon-fontSize: calc(48px / 1.714); /* ≈ 28px */
    min-width: 48px;
    min-height: 48px;
}



.joy-1d38qr0 {
    --Icon-margin: initial;
    --Icon-color: #A4A4A8;
    --Icon-fontSize: calc(48px / 1.571); /* ≈ 30.55px */
    --CircularProgress-size: 28px;
    --CircularProgress-thickness: 4px;
    min-width: 48px;
    min-height: 48px;
    font-size: 18px;
    padding-inline: 0.375rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 48px;
    top: calc(50% - 24px);
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.15s ease-out, opacity 0.15s ease-out;
}

@media (min-width: 1132px) {
    .joy-dvzf43 {
        right: -24px;
    }
}
@media (min-width: 0px) {
    .joy-dvzf43 {
        right: 24px;
        display: none;
    }
}
@media (min-width: 744px) {
    .joy-dvzf43 {
        right: 16px;
        display: flex;
    }
}



.joy-dvzf43.FlgIconButton-sizeLg-need {
    --Icon-fontSize: calc(48px / 1.714); /* ≈ 28px */
    min-width: 48px;
    min-height: 48px;
}

.joy-dvzf43 {
    --Icon-margin: initial;
    --Icon-color: #A4A4A8;
    --Icon-fontSize: calc(48px / 1.571); /* ≈ 30.55px */
    --CircularProgress-size: 28px;
    --CircularProgress-thickness: 4px;
    min-width: 48px;
    min-height: 48px;
    font-size: 18px;
    padding-inline: 0.375rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 48px;
    top: calc(50% - 24px);
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    z-index: 1;
    visibility: visible;
    opacity: var(--navigation-opacity);
    transition: visibility 0.15s ease-out, opacity 0.15s ease-out;
}
@media (min-width: 0px) {
    .joy-1ribkjo {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 744px) {
    .joy-1ribkjo {
        padding-left: 0px;
        padding-right: 0px;
    }
}



.joy-1ribkjo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.joy-1it29ig {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 8px;
}

.joy-5ax1kt {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.joy-1e395op {
    margin: 0px;
    display: flex;
    align-items: center;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
    --Icon-fontSize: 16px;
    --Typography-gap: 3px;
}

.joy-oqc71l {
    display: inline-flex;
    margin-inline-end: clamp(4px, 0.375em, 0.75rem);
}

.joy-ashs5q.FlgIconButton-sizeSm-need {
    --Icon-fontSize: calc(32px / 1.6); /* ≈ 20px */
    min-width: 32px;
    min-height: 32px;
}

.joy-ashs5q {
    --Icon-margin: initial;
    --Icon-color: #A4A4A8;
    --Icon-fontSize: calc(32px / 1.6); /* ≈ 20px */
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    --IconButton-size: 32px;
    z-index: 1;
    color: #76767F;
}
@media (min-width: 0px) {
    .joy-17wd1bi {
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media (min-width: 744px) {
    .joy-17wd1bi {
        padding-left: 0px;
        padding-right: 0px;
    }
}



.joy-17wd1bi {
    display: flex;
    padding-top: 20px;
    padding-bottom: 24px;
    visibility: visible;
}

.joy-1yo53pd {
    flex: 1 1 0%;
    display: none;
    -webkit-box-pack: center;
    justify-content: center;
}

.joy-oz3twp {
    --Icon-fontSize: calc(0.4 * 24px);
    --CircularProgress-trackColor: #F2F2F3;
    --CircularProgress-progressColor: #3478FF;
    --CircularProgress-percent: 67;
    --CircularProgress-linecap: round;
    --_root-size: 24px;
    --_track-thickness: 3px;
    --_progress-thickness: 3px;
    --CircularProgress-size: 24px;
    --_thickness-diff: calc(3px - 3px);
    --_inner-size: calc(24px - 2 * 0px);
    --_outlined-inset: 3px;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    margin: var(--CircularProgress-margin);
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    color: #145FF5;
    --variant-borderWidth: 0px;
}

.joy-18a5s3t {
    width: inherit;
    height: inherit;
    display: inherit;
    box-sizing: inherit;
    position: absolute;
    top: calc(-1 * 0px);
    left: calc(-1 * 0px);
}

.joy-1c73xhe {
    cx: 50%;
    cy: 50%;
    r: calc(12px - 3px / 2 + min(0px, 0px / 2)); /* => 12px - 1.5px + 0px = 10.5px */
    fill: transparent;
    stroke-width: 3px;
    stroke: #F2F2F3;
}

.joy-skc48w {
    --_progress-radius: calc(12px - 3px / 2 - max(0px, 0px / 2)); /* 12px - 1.5px - 0 = 10.5px */
    --_progress-length: calc(2 * 3.1415926535 * 10.5px); /* ≒ 65.9734px */
    cx: 50%;
    cy: 50%;
    r: 10.5px;
    fill: transparent;
    stroke-width: 3px;
    stroke: #3478FF;
    stroke-linecap: round;
    stroke-dasharray: 65.9734px;
    stroke-dashoffset: calc(65.9734px - 67 * 65.9734px / 100); /* ≒ 21.771px */
    transform-origin: center;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-animation: 0.8s linear 0s infinite normal none running animation-xnrbr3;
    animation: 0.8s linear 0s infinite normal none running animation-xnrbr3;
}

.joy-1fkv557.FlgButton-sizeMd-need {
    min-height: 40px;
    font-size: 16px;
}

.joy-1fkv557 {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: var(--Button-margin);
    border: none;
    background-color: #F2F2F3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #202022;
    flex: 1;
}
@media (min-width: 0px) {
    .joy-8cxh2n {
        display: none;
    }
}
@media (min-width: 1132px) {
    .joy-8cxh2n {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}



.joy-8cxh2n {
    /* display: flex; */
    flex-direction: column;
    gap: 48px;
    width: 375px;
    padding-top: 75px;
    padding-bottom: 32px;
    padding-left: 40px;
    border-left: 1px solid #E5E5EA;
}

.joy-1myle5f {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 153px;
}

.joy-111fecy {
    gap: 0.75rem 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #323232;
    font-weight: 500;
    border: 1px solid #DDE3E8;
    height: 172px;
}
@media (min-width: 0px) {
    .joy-sa8ghx {
        gap: 16px;
    }
}
@media (min-width: 744px) {
    .joy-sa8ghx {
        gap: 12px;
    }
}



.joy-sa8ghx {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.joy-ctk0lw {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    text-align: center;
    white-space: pre-line;
}

.joy-czbwv1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    margin: 0;
}

.joy-1i43dhb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
}

.joy-u5jzww {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: var(--joy-fontFamily-body, "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif);
    font-size: var(--joy-fontSize-sm);
    line-height: var(--joy-lineHeight-md);
    color: var(--variant-plainColor, rgba(var(--joy-palette-primary-mainChannel) / 1));
    font-weight: var(--joy-fontWeight-sm);
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: var(--joy-radius-xs);
    padding: 0;
    cursor: pointer;
    text-decoration-color: var(--variant-outlinedBorder, rgba(var(--joy-palette-primary-mainChannel) / var(--Link-underlineOpacity, 0.72)));
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentcolor;
    color: var(--joy-palette-text-primary);
}

.joy-h72smr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.joy-j4zuwg {
    font-size: 18px;
    line-height: 1.25;
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    color: #202022;
}

.joy-s1s0o1 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 28px;
    width: 20px;
    height: 20px;
    color: currentcolor;
}

.joy-ht0wgf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 12px;
    position: relative;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    min-height: 54px;
}

.jk-feelog-div028 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
}

.joy-lf9fqo {
    margin: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.joy-cboudr {
    display: flex;
    flex-direction: row;
    gap: 6px;
    -webkit-box-align: center;
    align-items: center;
}

.joy-loaz0u {
    display: flex;
    flex-direction: row;
    gap: 6px;
    position: relative;
    z-index: 1;
    -webkit-box-align: center;
    align-items: center;
}

.jk-feelog-div060 {
    margin-inline-start: 0;
    box-shadow: 0 0 0 2px #FFF;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    color: #3e3e42;
    background-color: #f0f0f0;
    width: 20px;
    height: 20px;
}

.joy-ixn4cl {
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-width: 100px;
}

.jk-feelog-p006 {
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #656667;
}

.joy-1x63z2m {
    --AspectRatio-paddingBottom: clamp(0px, calc(100% / 1.7777777777777777), 9999px);
    --Icon-color: #656667;
    display: block;
    flex-grow: initial;
    flex-basis: initial;
    flex-direction: column;
    margin: 0px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    width: 96px;
    border-radius: 8px;
    pointer-events: none;
}

.jk-feelog-div055 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    border-radius: inherit;
    height: 0;
    padding-bottom: calc(var(--AspectRatio-paddingBottom) - 2* 0px);
    overflow: hidden;
    -webkit-transition: inherit;
    transition: inherit;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px; /* Adjusted based on --joy-fontSize-md */
    line-height: 1.5; /* Adjusted based on --joy-lineHeight-md */
    color: #656667; /* Adjusted based on --joy-palette-neutral-softColor */
    font-weight: 400; /* Adjusted based on --joy-fontWeight-sm */
    --variant-borderWidth: 0px;
    background-color: #F2F2F3; /* Adjusted based on --joy-palette-neutral-softBg */
}

.jk-feelog-div055 [data-first-child] {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.joy-1x63z2m::after {
    display: block;
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.joy-1txva48 {
    --Divider-thickness: 1px;
    --Divider-lineColor: var(--joy-palette-divider);
    margin-inline: var(--_Divider-inset);
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: var(--Divider-lineColor);
    block-size: var(--Divider-thickness);
    margin-top: 16px;
    margin-bottom: 16px;
}

.joy-fvjjjv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 80px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}


.feelog-header-mainHeader {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
}

.feelog-header-mainDiv {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100dvh;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
    width: 1144px;
    position: fixed;
    z-index: 11111;
}



/* *************************시계**************************** */

.css-we1gxf {
    display: flex;
    padding: 24px 0px 6px;
}

.css-we1gxf .lottie-timer {
    width: 36px;
    height: 47px;
    margin-right: 5px;
}

.css-hb6k3w {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 136px;
    font-size: 32px;
    font-weight: 700;
    color: rgb(51, 51, 51);
}

.css-we1gxf .time-units span:not(:last-of-type) {
    margin-right: 10px;
}

.css-we1gxf .time-units span {
    position: relative;
    flex-shrink: 0;
    min-width: 38px;
    line-height: 47px;
}

.css-we1gxf .time-units span:not(:last-of-type)::after {
    content: ":";
    position: absolute;
    width: 11px;
    height: 50px;
    top: 0px;
    right: -11px;
    font-size: 25px;
}






























