body {
    margin: 0;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #FFFFFF;
}

body {
    margin: 0px;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}


.jk-feelog-section001 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.jk-feelog-div003 {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 500;
    background-color: #FFFFFF;
}

@media (min-width: 0px) {
    .jk-feelog-div004 {
        padding-right: env(safe-area-inset-right);
        padding-left: env(safe-area-inset-left);
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div004 {
        padding-right: env(safe-area-inset-right);
        padding-left: env(safe-area-inset-left);
        padding-top: 8px;
        padding-bottom: 0px;
    }
}

.jk-feelog-div004 {
    display: flex;
    flex-direction: row;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
}

@media (min-width: 0px) {
    .jk-feelog-div005 {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div005 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.jk-feelog-div005 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.jk-feelog-div006 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.jk-feelog-btn001.FlgIconButton-sizeSm-need {
    --Icon-fontSize: 20px;
    min-width: 32px;
    min-height: 32px;
}

.jk-feelog-btn001 {
    --Icon-margin: initial;
    --Icon-color: #76767F;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 32px;
}

.jk-feelog-main-svg01 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 16px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

.jk-feelog-input001 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /* max-width: 320px; */
}

.jk-feelog-div007 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    -webkit-box-align: center;
    align-items: center;
}

.jk-feelog-p003 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #3E3E43;
    --Typography-gap: 0;
}

.jk-feelog-span001 {
    display: inline-flex;
    margin-inline-start: clamp(4px, 0.375em, 0.75rem);
}

.jk-feelog-div008 {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

@media (min-width: 0px) {
    .jk-feelog-btn002 {
        display: none;
    }
}

@media (min-width: 744px) {
    .jk-feelog-btn002 {
        display: flex;
    }
}

.jk-feelog-btn002.FlgIconButton-sizeMd-need {
    --Icon-fontSize: 24px;
    min-width: 40px;
    min-height: 40px;
}

.jk-feelog-btn002 {
    --Icon-margin: initial;
    --Icon-color: #76767F;
    --Icon-fontSize: 26.67px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 40px;
}

.jk-feelog-btn003.FlgButton-sizeSm-need {
    min-height: 32px;
    font-size: 14px;
}

.jk-feelog-btn003 {
    --Icon-margin: initial;
    --Icon-color: currentColor;
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.375rem;
    min-height: 32px;
    font-size: 14px;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: var(--Button-margin);
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #FFFFFF;
    background-color: #202022;
    font-weight: 500;
}

@media (min-width: 0px) {
    .jk-feelog-div009 {
        height: 40px;
        padding-top: 4px;
        padding-bottom: 4px;
        -webkit-box-pack: start;
        justify-content: flex-start;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div009 {
        height: 48px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.jk-feelog-div009 {
    width: 100%;
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    display: flex;
    position: relative;
}

@media (min-width: 0px) {
    .jk-feelog-div010 {
        padding-left: 12px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div010 {
        padding-left: 16px;
    }
}

.jk-feelog-div010 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: auto hidden;
    -webkit-box-align: center;
    align-items: center;
    scrollbar-width: none;
    padding-right: 16px;
}

.jk-feelog-btn001:disabled {
    pointer-events: none;
    cursor: default;
    --Icon-color: currentColor;
    color: #A4A4A8;
}

.joy-1s98pom {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin: initial;
    margin-inline: initial;
    margin-block: var(--_Divider-inset);
    position: relative;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: 1px;
    block-size: initial;
    height: 22px;
    align-self: center;
}

.joy-1mupuz9.FlgSelect-sizeSm {
    --Select-minHeight: 32px;
}

.joy-1mupuz9:not([data-inverted-colors="false"]) {
    --Select-focusedHighlight: #3478FF;
}

.joy-1mupuz9 {
    --Select-radius: 8px;
    --Select-gap: 0.5rem;
    --Select-placeholderOpacity: 0.64;
    --Select-decoratorColor: #76767F;
    --Select-focusedThickness: 2px;
    --Select-focusedHighlight: #3478FF;
    --Select-indicatorColor: #76767F;
    --Select-minHeight: 2rem;
    --Select-paddingInline: 0.5rem;
    --Select-decoratorChildHeight: min(1.5rem, 2rem);
    --Icon-fontSize: 20px;
    --Select-decoratorChildOffset: min(calc(0.5rem - (2rem - 2 * 0px - min(1.5rem, 2rem)) / 2), 0.5rem);
    --_Select-paddingBlock: max((2rem - 2 * 0px - min(1.5rem, 2rem)) / 2, 0px);
    --Select-decoratorChildRadius: max(8px - 0px - var(--_Select-paddingBlock), min(var(--_Select-paddingBlock) + 0px, 4px));
    --Button-minHeight: min(1.5rem, 2rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.5rem, 2rem);
    --Button-radius: var(--Select-decoratorChildRadius);
    --IconButton-radius: var(--Select-decoratorChildRadius);
    box-sizing: border-box;
    min-height: 2rem;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FFFFFF;
    padding-block: 2px;
    padding-inline: 0.5rem;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 0px;
    box-shadow: none;
    padding: 0px 5px 0px 8px;
    min-width: 72px;
    max-width: 72px;
    height: 32px;
}

.joy-1mupuz9::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
}

.jk-feelog-btn009 {
    border: 0px;
    outline: 0px;
    background: none;
    padding: 0px;
    font-size: inherit;
    color: inherit;
    align-self: stretch;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    font-family: inherit;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    border: #76767F solid 1px;
}

.jk-feelog-btn009::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 8px;
}

.joy-qvkxo9 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
}

.joy-1mupuz9 > .FlgSelect-indicator-need {
    display: flex;
    margin-left: 0px;
}

.joy-zasklh {
    --Icon-fontSize: 18px;
    --Icon-color: #76767F;
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-inline-start: 0.5rem;
    margin-inline-end: calc(0.5rem / -4);
}

.joy-1pr8u0m.FlgSelect-sizeSm {
    --Select-minHeight: 32px;
}

.joy-1pr8u0m:not([data-inverted-colors="false"]) {
    --Select-focusedHighlight: #3478FF;
}

.joy-1pr8u0m {
    --Select-radius: 8px;
    --Select-gap: 0.5rem;
    --Select-placeholderOpacity: 0.64;
    --Select-decoratorColor: #76767F;
    --Select-focusedThickness: 2px;
    --Select-focusedHighlight: #3478FF;
    --Select-indicatorColor: #76767F;
    --Select-minHeight: 2rem;
    --Select-paddingInline: 0.5rem;
    --Select-decoratorChildHeight: min(1.5rem, 2rem);
    --Icon-fontSize: 20px;
    --Select-decoratorChildOffset: min(calc(0.5rem - (2rem - 2 * 0px - min(1.5rem, 2rem)) / 2), 0.5rem);
    --_Select-paddingBlock: max((2rem - 2 * 0px - min(1.5rem, 2rem)) / 2, 0px);
    --Select-decoratorChildRadius: max(8px - 0px - var(--_Select-paddingBlock), min(var(--_Select-paddingBlock) + 0px, 4px));
    --Button-minHeight: min(1.5rem, 2rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.5rem, 2rem);
    --Button-radius: var(--Select-decoratorChildRadius);
    --IconButton-radius: var(--Select-decoratorChildRadius);
    box-sizing: border-box;
    min-height: 2rem;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: #FFFFFF;
    padding-block: 2px;
    padding-inline: 0.5rem;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 0px;
    box-shadow: none;
    padding: 0px 5px 0px 8px;
    min-width: 104px;
    max-width: 104px;
    height: 32px;
}

.joy-1pr8u0m::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
}

.joy-1pr8u0m > .FlgSelect-indicator-need {
    display: flex;
}

*, ::before, ::after {
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.joy-s1s0o1 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 20px;
    height: 20px;
    color: currentcolor;
}

.joy-vidjsr {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 36px;
    background: linear-gradient(to left, #FFFFFF, transparent);
    pointer-events: none;
}

.jk-feelog-hr01 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin: initial;
    margin-inline: var(--_Divider-inset);
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
}

.post-content, .post-content div.fr-view {
    color: #202022;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.667;
}

@media (min-width: 744px) {
    .post-content, .post-content div.fr-view {
        font-size: 18px;
        line-height: 1.75;
    }
}

@media (min-width: 0px) {
    .joy-olnjwl {
        padding-top: 88px;
    }
}

@media (min-width: 744px) {
    .joy-olnjwl {
        padding-top: 96px;
    }
}

.joy-olnjwl {
    --Icon-color: #76767F;
    --ListItem-stickyBackground: #FFFFFF;
    --Sheet-background: #FFFFFF;
    background-color: #FFFFFF;
    position: relative;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    --variant-borderWidth: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 740px;
    margin: 0px auto;
}

@media (min-width: 0px) {
    .joy-1vob6kv {
        padding-top: 20px;
    }
}

@media (min-width: 744px) {
    .joy-1vob6kv {
        padding-top: 52px;
    }
}

@media (min-width: 0px) {
    .joy-1vob6kv {
        gap: 8px;
    }
}

@media (min-width: 744px) {
    .joy-1vob6kv {
        gap: 12px;
    }
}

.joy-1vob6kv {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.joy-18drzqh.FlgTextarea-variantPlain {
    background-color: transparent;
}

.joy-18drzqh:not([data-inverted-colors="false"]) {
    --Textarea-focusedHighlight: #3478FF;
}

@media (min-width: 0px) {
    .joy-18drzqh {
        font-size: 24px;
    }
}

@media (min-width: 744px) {
    .joy-18drzqh {
        font-size: 32px;
    }
}

.joy-18drzqh {
    --Textarea-radius: 8px;
    --Textarea-gap: 0.5rem;
    --Textarea-decoratorColor: #76767F;
    --Textarea-focused: 0;
    --Textarea-focusedHighlight: #3478FF;
    --Textarea-minHeight: 2.25rem;
    --Textarea-paddingBlock: calc(0.375rem - 0px);
    --Textarea-paddingInline: 0.75rem;
    --Textarea-decoratorChildHeight: min(1.75rem, 2.25rem);
    --Icon-fontSize: 24px;
    --_Textarea-paddingBlock: max((2.25rem - 2 * 0px - min(1.75rem, 2.25rem)) / 2, 0px);
    --Textarea-decoratorChildRadius: max(8px - 0px - var(--_Textarea-paddingBlock), min(var(--_Textarea-paddingBlock) + 0px, 4px));
    --Button-minHeight: min(1.75rem, 2.25rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.75rem, 2.25rem);
    --Button-radius: var(--Textarea-decoratorChildRadius);
    --IconButton-radius: var(--Textarea-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    padding-block: calc(0.375rem - 0px);
    border-radius: 8px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    color: #202022;
    --variant-borderWidth: 0px;
    background-color: #FFFFFF;
    box-shadow: none;
    --Textarea-placeholderColor: #76767F;
    --Textarea-placeholderOpacity: 1;
    flex: 1 1 0%;
    font-weight: 600;
    line-height: 1.333;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    --Textarea-focusedThickness: 0;
}

.joy-18drzqh::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
    box-shadow: inset 0 0 0 calc(0 * 0) #3478FF;
}

.jk-feelog-txtarea001 {
    resize: none;
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    padding-inline-end: 0.75rem;
    flex: 1 1 auto;
    align-self: stretch;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.joy-f1gulv.FlgTextarea-variantPlain {
    background-color: transparent;
}

.joy-f1gulv:not([data-inverted-colors="false"]) {
    --Textarea-focusedHighlight: #3478FF;
}

.joy-f1gulv {
    --Textarea-radius: 8px;
    --Textarea-gap: 0.5rem;
    --Textarea-decoratorColor: #76767F;
    --Textarea-focused: 0;
    --Textarea-focusedHighlight: #3478FF;
    --Textarea-minHeight: 2.25rem;
    --Textarea-paddingBlock: calc(0.375rem - 0px);
    --Textarea-paddingInline: 0.75rem;
    --Textarea-decoratorChildHeight: min(1.75rem, 2.25rem);
    --Icon-fontSize: 24px;
    --_Textarea-paddingBlock: max((2.25rem - 2 * 0px - min(1.75rem, 2.25rem)) / 2, 0px);
    --Textarea-decoratorChildRadius: max(8px - 0px - var(--_Textarea-paddingBlock), min(var(--_Textarea-paddingBlock) + 0px, 4px));
    --Button-minHeight: min(1.75rem, 2.25rem);
    --Button-paddingBlock: 0px;
    --IconButton-size: min(1.75rem, 2.25rem);
    --Button-radius: var(--Textarea-decoratorChildRadius);
    --IconButton-radius: var(--Textarea-decoratorChildRadius);
    box-sizing: border-box;
    min-width: 0px;
    cursor: text;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0.75rem;
    padding-block: calc(0.375rem - 0px);
    border-radius: 8px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    color: #202022;
    --variant-borderWidth: 0px;
    background-color: #FFFFFF;
    box-shadow: none;
    --Textarea-placeholderColor: #76767F;
    --Textarea-placeholderOpacity: 1;
    flex: 1 1 0%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    min-height: 0px;
    padding: 0px;
    margin: 0px;
    --Textarea-focusedThickness: 0;
}

.joy-f1gulv::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: 0px;
    box-shadow: inset 0 0 0 0 #3478FF;
}

@media (min-width: 0px) {
    .joy-1ca6dqr {
        height: 20px;
    }
}

@media (min-width: 744px) {
    .joy-1ca6dqr {
        height: 28px;
    }
}

.joy-1ca6dqr {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    position: relative;
    display: block;
}

.fr-box.fr-basic {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

div.fr-toolbar.fr-basic {
    display: none;
}

.fr-toolbar.fr-bottom, .fr-toolbar.fr-top {
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.fr-toolbar.fr-top {
    top: 0;
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.fr-toolbar {
    color: #222;
    background: #fff;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: left;
    border: 1px solid #ccc;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    padding-bottom: 0;
    -webkit-transition: padding-bottom .5s;
    -moz-transition: padding-bottom .5s;
    -ms-transition: padding-bottom .5s;
    -o-transition: padding-bottom .5s;
}

.fr-toolbar .fr-newline {
    clear: both;
    display: block;
    content: "";
    margin-left: 9px;
    margin-right: 9px;
    background: #efefef;
    height: 1px;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
}

.fr-box.fr-basic .fr-wrapper {
    top: 0;
    left: 0;
}

.fr-wrapper {
    position: relative;
    z-index: 1;
}

.fr-box.fr-basic .fr-element {
    box-sizing: border-box;
    overflow-x: visible;
    min-height: 60px;
    text-align: left;
}

.post-content div.fr-view {
    padding-left: 16px;
    padding-right: 16px;
}

.fr-view {
    word-wrap: break-word;
}

.fr-element {
    background: transparent;
    position: relative;
    z-index: 2;
    -webkit-user-select: auto;
}

.fr-element, .fr-element:focus {
    outline: 0 solid transparent;
}

.fr-basic .fr-element>:first-child {
    margin-top: 0 !important;
}

.post-content p {
    margin-bottom: 0;
    min-height: 1.7em;
}

@media (min-width: 744px) {
    .fr-element>* {
        margin-top: 18px;
    }
}

.fr-element>* {
    margin-top: 16px;
    margin-bottom: 0;
}

.post-content div.fr-view>:last-child {
    margin-bottom: 0;
}

.post-content span[style] {
    font-size: inherit !important;
    text-decoration: inherit;
}

.fr-wrapper .fr-placeholder {
    position: absolute;
    font-size: 14px;
    color: #76767F;
    font-family: sans-serif;
    z-index: 1;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.fr-wrapper:after {
    clear: both;
    display: block;
    content: "";
    height: 0;
}

.fr-second-toolbar:empty {
    min-height: calc(10px);
    position: relative;
    margin-top: calc(-1px);
    z-index: 2;
}

.fr-second-toolbar {
    display: none;
}

.fr-quick-insert {
    position: absolute;
    z-index: 100;
    white-space: nowrap;
    padding-right: 10px;
    box-sizing: content-box;
    display: none;
}

.fr-box .fr-visible a.fr-floating-btn {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.file .inner:not(.btn), .post-content a:not(.btn) {
    color: inherit;
}

.post-content a:not(.btn) {
    text-decoration: underline;
}

.post-content a:not([href]), .post-content a[href=""] {
    color: currentColor !important;
    text-decoration: none !important;
    cursor: auto !important;
}

.fr-box a.fr-floating-btn {
    box-shadow: 0 2px 8px -2px hsla(0, 0%, 8%, 0.08), 0 6px 12px -2px hsla(0, 0%, 8%, 0.08);
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 40px;
    width: 40px;
    background: #FFFFFF;
    color: #202022;
    -webkit-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    -moz-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    -ms-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    -o-transition: background 0.2s ease 0s, color 0.2s ease 0s, transform 0.2s ease 0s;
    outline: none;
    left: 0;
    top: 0;
    line-height: 40px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    text-align: center;
    display: block;
    box-sizing: border-box;
    border: none;
    pointer-events: auto;
}

.fr-qi-helper.open {
    display: flex !important;
}

.fr-quick-insert.fr-on a.fr-floating-btn svg {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.fr-quick-insert a.fr-floating-btn svg {
    margin: 8px;
    width: 24px;
    height: 24px;
}

.fr-box a.fr-floating-btn i, .fr-box a.fr-floating-btn svg {
    font-size: 14px;
    line-height: 40px;
}

.fr-box a.fr-floating-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* 배경색을 회색으로 바꿈 */
}

.fr-box a.fr-floating-btn svg {
    -webkit-transition: transform 0.2s ease 0s;
    -moz-transition: transform 0.2s ease 0s;
    -ms-transition: transform 0.2s ease 0s;
    -o-transition: transform 0.2s ease 0s;
    fill: #202022;
}

.fr-qi-helper {
    position: absolute;
    z-index: 3;
    padding-left: 20px;
    white-space: nowrap;
    display: flex;
}

.fr-qi-helper a.fr-btn.fr-floating-btn.fr-size-1 {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.fr-qi-helper a.fr-btn.fr-floating-btn {
    text-align: center;
    padding: 10px;
    display: flex;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.fr-qi-helper a.fr-btn.fr-floating-btn svg {
    fill: #202022;
}

.fr-box a.fr-floating-btn.fr-btn+.fr-btn {
    margin-left: 10px;
}

.jk-feelog-div011 {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    top: -52px;
    height: 76px;
    left: 0px;
    right: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    pointer-events: none;
    z-index: 10;
}

.jk-feelog-btn004 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px auto;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    position: relative;
    display: block;
    flex: 1 1 0%;
    min-height: 70px;
    width: 100%;
    max-width: 740px;
}

.jk-feelog-div012 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    box-shadow: var(--joy-shadow-md);
    border-radius: 8px;
    padding: 4px 8px;
    background-color: var(--joy-palette-background-popup);
    visibility: hidden;
    pointer-events: auto;
}

.jk-feelog-btn005.FlgIconButton-sizeLg-need {
    --Icon-fontSize: calc(48px / 1.714);
    min-width: 48px;
    min-height: 48px;
}

.jk-feelog-btn005 {
    --Icon-margin: initial;
    --Icon-color: #76767F;
    --Icon-fontSize: calc(48px / 1.571);
    --CircularProgress-size: 28px;
    --CircularProgress-thickness: 4px;
    min-width: 48px;
    min-height: 48px;
    font-size: 18px;
    padding-inline: 0.375rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: initial;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
    --IconButton-size: 48px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    pointer-events: auto;
}

.jk-feelog-main-svg02 {
    user-select: none;
    margin: initial;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: currentcolor;
}

@media (min-width: 992px) {
    .jk-feelog-div009 {
        -webkit-box-pack: center;
        justify-content: center;
    }
}

@media (min-width: 0px) {
    .joy-fyk9j9 {
        margin-top: 20px;
    }
}

@media (min-width: 744px) {
    .joy-fyk9j9 {
        margin-top: 28px;
    }
}

.joy-fyk9j9 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin-top: initial;
    margin-bottom: initial;
    margin-inline: var(--_Divider-inset);
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
    margin-left: 20px;
    margin-right: 20px;
}

.jk-feelog-div013 {
    position: fixed;
    z-index: 1300;
    inset: 0px;
    display: none;
}

.jk-feelog-div013.active {
    display: block;
  }

.jk-feelog-div014 {
    z-index: -1;
    position: fixed;
    inset: 0px;
    background-color: rgba(32, 32, 34, 0.25);
    -webkit-tap-highlight-color: transparent;
    backdrop-filter: none;
    animation: 0.2s ease-in-out 0s 1 normal forwards running animation-os2n7p;
}

@media (min-width: 744px) {
    .jk-feelog-div015.FlgModalDialog-sizeLg-need {
        width: 700px;
    }
}

.jk-feelog-div015 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    box-sizing: border-box;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    min-width: min(calc(100vw - 40px), 300px);
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100% - 80px);
    padding: 20px;
    border-radius: 16px;
    border-color: #DADADC;
    outline: 0px;
    border-width: 0px;
    gap: 0px;
}

.jk-feelog-div016 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .joy-1eay3sz {
        display: flex;
    }
}

@media (min-width: 744px) {
    .joy-1eay3sz {
        display: none;
    }
}

.joy-1eay3sz {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -12px;
    margin-bottom: -12px;
    margin-right: -16px;
}

.joy-148imzz {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0; /* --Button-margin 없을 경우 기본값 */
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #3478FF;
    font-weight: 500;
}

.joy-148imzz.FlgButton-sizeMd-need {
    min-height: 40px;
    font-size: 16px;
}

.joy-8zh8pd {
    --Icon-margin: initial;
    --Icon-color: var(--joy-palette-text-icon);
    --Icon-fontSize: var(--joy-fontSize-xl);
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: var(--Button-minHeight, 2.25rem);
    font-size: var(--joy-fontSize-sm);
    padding-block: var(--Button-paddingBlock, 0.375rem);
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: var(--Button-radius, var(--joy-radius-sm));
    margin: var(--Button-margin);
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: var(--joy-fontFamily-body);
    line-height: var(--joy-lineHeight-md);
    --variant-borderWidth: 0px;
    color: var(--variant-plainColor, var(--joy-palette-neutral-plainColor, var(--joy-palette-neutral-800)));
    font-weight: var(--joy-fontWeight-md);
}

.joy-8zh8pd {
    min-height: 2.25rem;
    font-size: 14px;
    padding-block: 0.375rem;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0; /* 기본값 처리 */
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #202022;
    font-weight: 500;
}

.joy-8zh8pd.FlgButton-sizeMd-need {
    min-height: 40px;
    font-size: 16px;
}

.jk-feelog-btn006 {
    min-width: 32px;
    min-height: 32px;
    font-size: 18px;
    padding-inline: 0.375rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    color: #3E3E43;
    top: 16px;
    right: 16px;
    left: none;
    display: flex;
}

.jk-feelog-main-svg03 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767F;
    margin: 0;
}

.jk-feelog-hr03 {
    margin-right: initial;
    margin-bottom: initial;
    margin-left: initial;
    margin-inline: 0px;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
    margin-top: 12px;
}

.jk-feelog-div017 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    column-gap: 20px;
    row-gap: max(2px, 3.75px);
    color: #76767F;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    flex: 9999 1 0%;
    overflow: auto;
    padding: 20px;
}

.jk-feelog-div018 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 0px) {
    .jk-feelog-div018 {
        gap: 34px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div018 {
        gap: 28px;
    }
}

.jk-feelog-div019 {
    display: flex;
    flex-direction: column;
}

@media (min-width: 0px) {
    .jk-feelog-div019 {
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div019 {
        flex-direction: row;
        gap: 36px;
    }
}

.jk-feelog-div020 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    width: 140px;
    flex-shrink: 0;
}

.jk-feelog-p004 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    flex-shrink: 0;
}

.jk-feelog-p005 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
}

.jk-feelog-div021 {
    flex: 1 1 0%;
}

.jk-feelog-div022 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.jk-feelog-div023 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.jk-feelog-div024 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    overflow: auto;
}

@media (min-width: 0px) {
    .jk-feelog-div024 {
        max-width: 100%;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div024 {
        max-width: 484px;
    }
}

.jk-feelog-btn007 {
    min-width: 128px;
    min-height: 128px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
    background-color: #F2F2F3;
}

.jk-feelog-btn007.FlgIconButton-sizeMd-need {
    min-width: 40px;
    min-height: 40px;
}

.jk-feelog-main-svg04 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 32px;
    height: 32px;
    color: rgba(118, 118, 127, 0.3);
}

.jk-feelog-p006 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
}

.jk-feelog-div025 {
    display: flex;
    flex-flow: wrap;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 8px;
    border-color: #DADADC;
}

.jk-feelog-div026 {
    box-sizing: border-box;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #FFFFFF;
    box-shadow: none;
    height: 24px;
    min-height: 24px;
    min-width: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-inline: 12px;
    border-radius: 8px;
    border-color: #DADADC;
    flex: 1 1 0%;
    border-style: none;
}

.jk-feelog-div026::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: -1px;
    box-shadow: inset 0 0 0 0px #3478FF;
}

.jk-feelog-input002 {
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    flex: 1 1 0%;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}

.jk-feelog-div027 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.42858;
    color: #76767F;
    margin: 0px;
    padding-top: 6px;
}

.jk-feelog-p007 {
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
    margin: 0px;
}

.jk-feelog-div028 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.jk-feelog-div029 {
    display: flex;
    position: relative;
    flex-direction: column;
}

.jk-feelog-btn008 {
    -webkit-tap-highlight-color: transparent;
    align-self: flex-start;
    gap: 2px;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    user-select: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
    color: #202022;
    margin: 0 0 6px 0;
    display: none;
}

.jk-feelog-div030 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 36px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    background-color: #FFFFFF;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    box-shadow: none;
    border-radius: 8px;
    padding-block: 3px;
    padding-inline: 12px;
    border-color: #DADADC;
    border: #DADADC solid 1px;
}

.jk-feelog-div030::before {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    inset: 0px;
    z-index: 1;
    border-radius: inherit;
    margin: -1px;
}

.jk-feelog-btn009 {
    border: 0px;
    outline: 0px;
    background: none;
    padding: 0px;
    font-size: inherit;
    color: inherit;
    align-self: stretch;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    font-family: inherit;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.jk-feelog-btn009::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 8px;
}

.jk-feelog-span002 {
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-inline-start: 8px;
    margin-inline-end: -3px;
}

.jk-feelog-main-svg05 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

.joy-195ir6n {
    flex-direction: column;
    display: none;
}

@media (min-width: 0px) {
    .joy-195ir6n {
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width: 744px) {
    .joy-195ir6n {
        flex-direction: row;
        gap: 36px;
    }
}

.jk-feelog-div041 {
    box-sizing: border-box;
    min-width: 0px;
    min-height: 36px;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #FFFFFF;
    box-shadow: none;
    padding-inline: 12px;
    border-radius: 8px;
    border-color: #DADADC;
}

.jk-feelog-div041.Flg-disabled-need {
    pointer-events: none;
    cursor: default;
    color: #A4A4A8;
    border-color: #EAEAEB;
}

.joy-fqt4w4 {
    border: none;
    min-width: 0px;
    outline: 0px;
    padding: 0px;
    flex: 1 1 0%;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-overflow: ellipsis;
}

.joy-tob0ta {
    display: inherit;
    -webkit-box-align: center;
    align-items: center;
    margin-inline-start: 8px;
    color: #76767F;
    cursor: initial;
}

.joy-26z8cv {
    margin: initial;
    margin-inline: initial;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: 1px;
    block-size: initial;
}

.joy-17c9gla {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    margin-left: 16px;
    margin-right: 4px;
}

.joy-1y42pj7 {
    font-size: 14px;
    gap: 8px;
    position: relative;
    display: inline-flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 16px;
    color: #202022;
    margin-top: 16px;
}

.joy-3p0wzn {
    box-sizing: border-box;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    color: #FFFFFF;
    background-color: #3478FF;
}

.joy-kit57i {
    border-radius: inherit;
    text-align: left;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.joy-1jj0cvj {
    margin: 0px;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.jk-feelog-div031 {
    display: flex;
    flex-direction: column;
}

.jk-feelog-main-svg03 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    color: #76767F;
    margin: 0;
}

.jk-feelog-hr04 {
    margin: initial;
    margin-inline: 0px;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
}

@media (min-width: 0px) {
    .jk-feelog-hr04 {
        display: none;
    }
}

@media (min-width: 744px) {
    .jk-feelog-hr04 {
        display: flex;
    }
}

.jk-feelog-div032 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 1;
    padding: 12px 20px;
    gap: 8px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

@media (min-width: 0px) {
    .jk-feelog-div032 {
        display: none;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div032 {
        display: flex;
    }
}

.jk-feelog-btn010 {
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #3478FF;
    font-weight: 500;
}

.jk-feelog-div032 > :not(.FlgIconButton-root-need) {
    flex: 0 0 auto;
}

.jk-feelog-btn010.FlgButton-sizeMd-need {
    min-height: 40px;
    font-size: 16px;
}

.jk-feelog-btn011 {
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 1rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 0;
    border: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    color: #202022;
    background-color: #F2F2F3;
    font-weight: 500;
}

.jk-feelog-btn011.FlgButton-sizeMd-need {
    min-height: 40px;
    font-size: 16px;
}

.joy-1g753be {
    gap: 0.25rem;
    min-height: 24px;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 24px;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    background-color: #EBF2FF;
    color: #145FF5;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

.jk-feelog-span006 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    order: 1;
    min-inline-size: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.joy-1i201st {
    display: inherit;
    order: 2;
    z-index: 1;
    pointer-events: none;
}

.joy-1rgf1fl {
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #145FF5;
    background-color: #EBF2FF;
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    pointer-events: visible;
    border-radius: 50%;
    z-index: 1;
    padding: 0px;
}

.jk-feelog-main-svg01 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 16px;
    width: 1em;
    height: 1em;
    color: currentcolor;
}

.jk-feelog-div026 {
    box-sizing: border-box;
    cursor: text;
    position: relative;
    display: flex;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #A4A4A8;
    font-weight: 400;
    background-color: #FFFFFF;
    box-shadow: none;
    height: 24px;
    min-height: 24px;
    min-width: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-inline: 12px;
    border-radius: 8px;
    border-color: #DADADC;
    border-style: none;
    flex: 1 1 0%;
}

.jk-feelog-ul001 {
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    color: #202022;
    min-width: max-content;
    max-height: 44vh;
    box-shadow: 0 0 #000, 0px 2px 8px -2px rgba(21, 21, 21, 0.08), 0px 6px 12px -2px rgba(21, 21, 21, 0.08);
    z-index: 1000;
    background-color: #ffffff;
    width: 100%;
    margin: initial;
    padding-block: 0.375rem;
    padding-inline: 0.375rem;
    list-style: none;
    border-color: #DADADC;
    overflow: auto;
    outline: 0px;
    border-radius: 8px;
    border-width: 0px;
}

.jk-feelog-li003 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    text-align: initial;
    background-color: initial;
    cursor: pointer;
    padding-inline-start: calc(0.75rem + 0px);
    padding-inline-end: calc(0.75rem + 0px);
    min-block-size: 2.25rem;
    min-inline-size: 0px;
    color: #202022;
    font: inherit;
    gap: 0.625rem;
    text-decoration: initial;
    margin-inline: 0px;
    padding-block: calc(0.25rem - 0px);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 8px;
    flex: none;
}

.jk-feelog-li003.Flg-focusVisible,
.jk-feelog-li003:focus-visible {
    outline-offset: -2px;
    outline: 2px solid #3478FF;
    z-index: 1;
}

.jk-feelog-li003.Flg-selected {
    background-color: #EAEAEB;
}

.jk-feelog-li003 {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    text-align: initial;
    background-color: initial;
    cursor: pointer;
    padding-inline-start: calc(0.75rem + 0px);
    padding-inline-end: calc(0.75rem + 0px);
    min-block-size: 2.25rem;
    min-inline-size: 0px;
    color: #202022;
    font: inherit;
    gap: 0.625rem;
    text-decoration: initial;
    margin-inline: 0px;
    padding-block: calc(0.25rem - 0px);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 8px;
    flex: none;
}

.select-options {
    position: absolute;
    width: 300px;
    background-color: white;
    border: 1px solid #dadadc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(21, 21, 21, 0.08);
    margin-top: 4px;
    z-index: 11111;
  }
  
  .select-options[hidden] {
    display: none;
  }

  .select-options li:hover {
    background-color: #F2F2F3; /* joy-palette-neutral-100 */
    cursor: pointer;
  }

  #select-toggle {
    position: relative;
  }
  
  #select-options {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    width: 100%;
    z-index: 9999;
    transform: none !important;
    pointer-events: auto;
  }

  #select-options li {
    padding: 8px 12px;
    cursor: pointer;
    pointer-events: auto; 
  }

  .note-editable {
    background-color: #f9f9f9; /* 은은한 회색 */
    color: #202022; /* 텍스트 컬러도 조정 가능 */
    padding: 16px;
    border-radius: 8px;
  }

  .note-fontname{
    width: 130px;
  }

  #preview-section {
    overflow-y: auto; 
    padding: 16px 1px 16px 16px;
    box-sizing: border-box; 
}

#title-input {
    border: none;
    outline: none;
    font-size: 2rem; /* 제목 스타일 유지 */
    font-weight: 600;
    width: 100%;
    background-color: transparent;
  }

  #hidden-file-input {
    display: none !important; 
  }

  .modal-backdrop {
    display: none !important;
}


.inline-publish-section{
    max-width: 740px;
}










