<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>메인페이지</title>
        <link rel="stylesheet" href="/css/main/main-jg.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/footer.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />


    </head>
    <body>
        <div class="joy-91keta">
            <!-- 헤더 넣을 곳 -->
            <header id="main-header"
                    th:replace="~{main/header.html :: #main-header}"></header>
            <!-- 헤더 넣을 곳 -->
            <div class="joy-1j46z6j">
                <nav class="MuiBox-root joy-18lu9f5">
                    <ul class="subnavigation joy-1wegxv0">
                        <li class="joy-6u9hs2">
                            <a
                                href="/"
                                class="MuiTypography-root MuiTypography-body-md joy-1xzjzsf"
                                >피드</a
                            >
                        </li>
                        <li class="joy-hrba6h">
                            <a
                                href="/request"
                                class="MuiTypography-root MuiTypography-body-md joy-10c7stv"
                                >마음일기</a
                            >
                        </li>
                    </ul>
                </nav>
                <div class="MuiBox-root joy-1yxq76r">
                    <div class="joy-fvjjjv">
                        <main class="joy-11dfn0q" id="main-content">
                            <nav
                                class="MuiSheet-root MuiSheet-variantPlain MuiSheet-colorNeutral joy-3ys6m0"
                            >
                                <ul class="MuiStack-root joy-v6a3cw">
                                    <li>
                                        <a
                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeXl MuiChip-variantSolid joy-90lb7v"
                                            href="/?feed-type=recommendation"
                                            ><span
                                                class="MuiChip-label MuiChip-labelXl joy-tymi7a"
                                                id=":rjr:"
                                                >포스트</span
                                            ></a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeXl MuiChip-variantSoft joy-14fbtec"
                                            href="/?feed-type=subscription"
                                            ><span
                                                class="MuiChip-label MuiChip-labelXl joy-tymi7a"
                                                id=":rjs:"
                                                >응원</span
                                            ></a
                                        >
                                    </li>
                                </ul>
                            </nav>
                            <div class="MuiBox-root joy-0">
                                <div class="joy-j7qwjs">
                                    <div class="joy-16vwv4v">
                                        <article
                                            class="MuiStack-root joy-65n013"
                                        >
                                            <a
                                                class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-1eriol4"
                                                href="/@pampa234"
                                                ><div
                                                    class="MuiAvatar-root MuiAvatar-variantPlain MuiAvatar-colorNeutral MuiAvatar-sizeMd joy-1stxrp2"
                                                >
                                                    <img
                                                        alt=""
                                                        src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png?w=100&amp;h=100&amp;q=65"
                                                        loading="lazy"
                                                        class="MuiAvatar-img aTag_divImg_01"
                                                    /></div
                                            ></a>
                                            <div
                                                class="MuiStack-root joy-11dfn0q"
                                            >
                                                <div
                                                    class="MuiStack-root joy-17arh4m"
                                                >
                                                    <div
                                                        class="MuiStack-root joy-xb6gjk"
                                                    >
                                                        <div
                                                            class="MuiAvatar-root MuiAvatar-variantPlain MuiAvatar-colorNeutral MuiAvatar-sizeSm joy-1vomu2x"
                                                        >
                                                            <img
                                                                alt=""
                                                                src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png?w=100&amp;h=100&amp;q=65"
                                                                loading="lazy"
                                                                class="MuiAvatar-img aTag_divImg_01"
                                                            />
                                                        </div>
                                                        <div
                                                            class="MuiStack-root joy-v2pzzj"
                                                        >
                                                            <div
                                                                class="MuiStack-root diary_nicknameWrap_01"
                                                            >
                                                                <p
                                                                    class="MuiTypography-root MuiTypography-title-md joy-1ry9yvs"
                                                                >
                                                                    팜파그라스
                                                                </p>
                                                            </div>
                                                            <div
                                                                class="MuiBox-root joy-0"
                                                            >
                                                                <a
                                                                    class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                                    href="/@pampa234"
                                                                    ><span
                                                                        class="MuiTypography-root MuiTypography-body-sm joy-1iqmx8b"
                                                                        ><time
                                                                            class="MuiTypography-root MuiTypography-inherit joy-1g74u8a"
                                                                            >2025.
                                                                            3.
                                                                            10.</time
                                                                        ><span
                                                                            class="MuiTypography-root MuiTypography-inherit joy-hke6pf"
                                                                            >&nbsp;·&nbsp;</span
                                                                        >텍스트
                                                                        정원</span
                                                                    ></a
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="MuiBox-root joy-1rr4qq7"
                                                    ></div>
                                                    <button
                                                        tabindex="0"
                                                        aria-haspopup="menu"
                                                        aria-expanded="false"
                                                        aria-controls=":r12:"
                                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm MuiMenuButton-root MuiMenuButton-variantOutlined MuiMenuButton-colorNeutral MuiMenuButton-sizeMd joy-1caho3t menu-button"
                                                        type="button"
                                                    >
                                                        <svg
                                                            focusable="false"
                                                            aria-hidden="true"
                                                            viewBox="0 0 24 24"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                        >
                                                            <path
                                                                d="M20.125 12a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm-6.25 0a1.875 1.875 0 1 1-3.751 0 1.875 1.875 0 0 1 3.751 0ZM5.75 13.875a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75Z"
                                                                fill="currentcolor"
                                                            ></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div
                                                    class="MuiStack-root joy-1ka30t1"
                                                >
                                                    <div
                                                        class="MuiStack-root joy-j7qwjs"
                                                    >
                                                        <a
                                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                            href="/@pampa234/post/18985410"
                                                            ><h2
                                                                class="MuiTypography-root MuiTypography-h4 joy-63nzw0"
                                                            >
                                                                글 쓰는
                                                                사람이라면
                                                                필수로 알아야 할
                                                                맞춤법 10가지
                                                            </h2></a
                                                        >
                                                        <h3
                                                            class="MuiTypography-root MuiTypography-body-md joy-fnkwgv"
                                                        >
                                                            일상에도 쉽게 적용할
                                                            수 있는 맞춤법 팁
                                                        </h3>
                                                    </div>
                                                    <p
                                                        class="MuiTypography-root MuiTypography-body-md joy-bxmlpm"
                                                    >
                                                        글쟁이라면 꼭 한 번쯤은
                                                        신경 써보고 찾아봤을
                                                        문제가 하나 있다. 바로
                                                        문장이다. 적는 동안에는
                                                        술술 써졌지만 다음 날
                                                        보면 이게 한국말인지
                                                        모를 만큼 엉망인 경우가
                                                        많다. 퇴고를 거치면
                                                        나아지지만, 역시나
                                                        어렵다. 이 문장 쓰기
                                                        시리즈는 맞춤법부터
                                                        시작하여 어떻게 하면
                                                        좋은 문장, 가독성 있는
                                                        문장을 쓸 수 있는지까지
                                                        다룰 예정이다. 이번
                                                        포스트에서는 글 쓰는
                                                        사람들도 자주 틀리는
                                                        맞춤법 10가지를 다뤘다.
                                                        주술 호응을 잘 맞추고
                                                        비문을 없애는 것도
                                                        좋지만, 그보다 먼저
                                                        선행되어야 할 것이 바로
                                                        맞춤법이기 때문이다.
                                                        맞춤법 검사기가
                                                        좋아졌다지만, 급하게
                                                        메시지를 보낼 때나
                                                        종이에 글을 적어야만
                                                        하는 상황이면 혼란이
                                                        오기 쉽다. 글 쓰는
                                                        사람인데 맞춤법을 틀리면
                                                        부끄럽기도 하다.
                                                        그렇다고 문법 공부를
                                                        하자니 예외도 많고
                                                        어렵다. 합성어,
                                                        이중피동, 의존명사,
                                                        선어말어미, 부사격 조사,
                                                        관형사형 어미,
                                                        사이시옷……. 가장 좋은
                                                        방법은 문법 공부와
                                                        더불어, 교정교열된 글을
                                                        익숙해지
                                                    </p>
                                                    <p
                                                        class="MuiTypography-root MuiTypography-body-sm joy-zpfz47"
                                                    >
                                                        300P
                                                    </p>
                                                    <div
                                                        class="MuiStack-root joy-1r6jpu3"
                                                    >
                                                        <a
                                                            class="MuiChip-root MuiChip-colorNeutral MuiChip-sizeMd MuiChip-variantSoft joy-7upex7"
                                                            href="/search?keyword=소설"
                                                            ><span
                                                                class="MuiChip-label MuiChip-labelMd joy-tymi7a"
                                                                id=":r15:"
                                                                >응원</span
                                                            ></a
                                                        >
                                                    </div>
                                                </div>
                                                <div
                                                    class="MuiBox-root joy-8a80tx"
                                                >
                                                    <div
                                                        class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden"
                                                        style="width: 100%"
                                                    >
                                                        <div
                                                            class="swiper-wrapper"
                                                            style="
                                                                transform: translate3d(
                                                                    0px,
                                                                    0px,
                                                                    0px
                                                                );
                                                            "
                                                        >
                                                            <div
                                                                class="swiper-slide swiper-slide-active"
                                                                style="
                                                                    margin-right: 12px;
                                                                "
                                                            >
                                                                <img
                                                                    class="MuiBox-root joy-1hn5ivd"
                                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2025/03/10/16/28/06aa548219311949132025401.jpg?w=400&amp;h=300&amp;q=65"
                                                                    alt=""
                                                                    draggable="false"
                                                                    loading="lazy"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button
                                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeLg joy-1d38qr0"
                                                        type="button"
                                                    >
                                                        <svg
                                                            focusable="false"
                                                            aria-hidden="true"
                                                            viewBox="0 0 24 24"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                        >
                                                            <path
                                                                d="M8.713 11.332a.934.934 0 0 0 0 1.325l5.25 5.254a.937.937 0 0 0 1.324-1.324l-4.586-4.59 4.59-4.586a.937.937 0 0 0-1.324-1.324l-5.254 5.245Z"
                                                                fill="currentcolor"
                                                            ></path>
                                                        </svg></button
                                                    ><button
                                                        class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeLg joy-acdvj6"
                                                        type="button"
                                                    >
                                                        <svg
                                                            focusable="false"
                                                            aria-hidden="true"
                                                            viewBox="0 0 24 24"
                                                            width="24"
                                                            height="24"
                                                            fill="none"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                        >
                                                            <path
                                                                d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                                                fill="currentcolor"
                                                            ></path>
                                                        </svg>
                                                    </button>
                                                </div>
                                                <div
                                                    class="MuiStack-root joy-1ribkjo"
                                                >
                                                    <div
                                                        class="MuiStack-root joy-1it29ig"
                                                    >
                                                        <div
                                                            class="MuiStack-root joy-5ax1kt"
                                                        >
                                                            <p
                                                                class="MuiTypography-root MuiTypography-body-sm joy-1e395op"
                                                            >
                                                                <span
                                                                    class="MuiTypography-startDecorator joy-oqc71l"
                                                                    ><svg
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                        viewBox="0 0 24 24"
                                                                        width="24"
                                                                        height="24"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                                    >
                                                                        <path
                                                                            d="M11.999 5.125c-2.547 0-4.64 1.156-6.246 2.645C4.249 9.168 3.21 10.828 2.679 12c.531 1.172 1.57 2.832 3.07 4.23 1.61 1.489 3.703 2.645 6.25 2.645s4.64-1.156 6.246-2.645c1.504-1.398 2.543-3.058 3.074-4.23-.53-1.172-1.57-2.832-3.07-4.23-1.61-1.489-3.703-2.645-6.25-2.645ZM4.476 6.398c1.84-1.71 4.367-3.148 7.523-3.148 3.156 0 5.684 1.438 7.524 3.148 1.828 1.7 3.05 3.727 3.632 5.122.13.308.13.652 0 .96-.582 1.395-1.804 3.426-3.633 5.122-1.84 1.71-4.367 3.148-7.523 3.148-3.156 0-5.684-1.438-7.523-3.148-1.829-1.696-3.051-3.727-3.63-5.122a1.242 1.242 0 0 1 0-.96c.579-1.395 1.801-3.426 3.63-5.122Zm7.523 8.727a3.124 3.124 0 1 0 0-6.25h-.078a2.502 2.502 0 0 1-3.047 3.047V12a3.124 3.124 0 0 0 3.125 3.125Zm0-8.125a5 5 0 1 1 0 10 5 5 0 0 1 0-10Z"
                                                                            fill="currentcolor"
                                                                        ></path></svg></span
                                                                >1.1천
                                                            </p>
                                                            <p
                                                                class="MuiTypography-root MuiTypography-body-sm joy-1e395op"
                                                            >
                                                                <span
                                                                    class="MuiTypography-startDecorator joy-oqc71l"
                                                                    ><svg
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                        viewBox="0 0 24 24"
                                                                        width="24"
                                                                        height="24"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                                    >
                                                                        <path
                                                                            d="m10.82 20.116-.097-.09-6.844-6.355A5.882 5.882 0 0 1 2 9.359v-.13C2 6.48 3.953 4.12 6.656 3.606A5.71 5.71 0 0 1 12 5.417a5.562 5.562 0 0 1 .977-.871 5.73 5.73 0 0 1 4.367-.945A5.73 5.73 0 0 1 22 9.23v.129c0 1.636-.68 3.199-1.879 4.312l-6.844 6.355-.097.09c-.32.297-.742.465-1.18.465a1.72 1.72 0 0 1-1.18-.465Zm.52-12.625a.205.205 0 0 1-.04-.043l-.695-.78-.003-.005A3.85 3.85 0 0 0 3.875 9.23v.13c0 1.113.465 2.18 1.281 2.937L12 18.651l6.844-6.355a4.012 4.012 0 0 0 1.281-2.937v-.13a3.851 3.851 0 0 0-6.723-2.566l-.004.004-.003.004-.696.781c-.011.016-.027.028-.039.043a.935.935 0 0 1-1.32 0v-.004Z"
                                                                            fill="currentcolor"
                                                                        ></path></svg></span
                                                                >123
                                                            </p>
                                                            <p
                                                                class="MuiTypography-root MuiTypography-body-sm joy-1e395op"
                                                            >
                                                                <span
                                                                    class="MuiTypography-startDecorator joy-oqc71l"
                                                                    ><svg
                                                                        focusable="false"
                                                                        aria-hidden="true"
                                                                        viewBox="0 0 24 24"
                                                                        width="24"
                                                                        height="24"
                                                                        fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                                    >
                                                                        <path
                                                                            d="M6.832 17.535a1.877 1.877 0 0 1 1.742-.25c1.035.375 2.194.59 3.428.59 4.87 0 8.123-3.145 8.123-6.25s-3.253-6.25-8.123-6.25c-4.87 0-8.122 3.145-8.122 6.25 0 1.25.484 2.453 1.394 3.484.336.38.5.88.46 1.387a6.92 6.92 0 0 1-.44 1.93 9.811 9.811 0 0 0 1.538-.887v-.004Zm-3.999 1.586c.07-.105.137-.21.2-.316.39-.649.76-1.5.835-2.457-1.172-1.332-1.863-2.961-1.863-4.723 0-4.488 4.475-8.125 9.997-8.125C17.526 3.5 22 7.137 22 11.625c0 4.488-4.475 8.125-9.998 8.125-1.448 0-2.823-.25-4.065-.7-.465.34-1.222.805-2.12 1.196a9.564 9.564 0 0 1-1.957.629c-.031.008-.062.012-.094.02-.171.03-.34.058-.515.074-.008 0-.02.004-.027.004-.2.02-.399.03-.598.03a.625.625 0 0 1-.445-1.066 5.606 5.606 0 0 0 .629-.797l.011-.019h.012Z"
                                                                            fill="currentcolor"
                                                                        ></path></svg></span
                                                                >0
                                                            </p>
                                                        </div>
                                                        <div
                                                            class="MuiStack-root joy-5ax1kt"
                                                        >
                                                            <button
                                                                class="MuiIconButton-root MuiIconButton-variantPlain MuiIconButton-colorNeutral MuiIconButton-sizeSm joy-ashs5q scrap-button"
                                                                type="button"
                                                            >
                                                                <svg
                                                                    focusable="false"
                                                                    aria-hidden="true"
                                                                    viewBox="0 0 24 24"
                                                                    width="24"
                                                                    height="24"
                                                                    fill="none"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-4rp8fm"
                                                                >
                                                                    <path
                                                                        d="M4.5 3.875C4.5 2.84 5.34 2 6.375 2v17.242l5.082-3.629a.933.933 0 0 1 1.09 0l5.078 3.63V3.874H6.375V2h11.25c1.035 0 1.875.84 1.875 1.875v17.188a.938.938 0 0 1-1.48.762L12 17.526l-6.02 4.297a.938.938 0 0 1-1.48-.762V3.875Z"
                                                                        fill="currentcolor"
                                                                    ></path>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="MuiBox-root joy-17wd1bi">
                                        <div class="MuiBox-root joy-1yo53pd">
                                            <span
                                                role="progressbar"
                                                style="
                                                    --CircularProgress-percent: 67;
                                                "
                                                class="MuiCircularProgress-root MuiCircularProgress-colorPrimary MuiCircularProgress-variantSoft MuiCircularProgress-sizeSm joy-oz3twp"
                                                ><svg
                                                    class="MuiCircularProgress-svg joy-18a5s3t"
                                                >
                                                    <circle
                                                        class="MuiCircularProgress-track joy-1c73xhe"
                                                    ></circle>
                                                    <circle
                                                        class="MuiCircularProgress-progress joy-skc48w"
                                                    ></circle>
                                                </svg>
                                            </span>
                                        </div>
                                        <button
                                            class="MuiButton-root MuiButton-variantSoft MuiButton-colorNeutral MuiButton-sizeMd joy-1fkv557"
                                            type="button"
                                        >
                                            더 보기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <aside class="joy-8cxh2n">
                            <div class="joy-1myle5f">
                                <section
                                    class="MuiCard-root MuiCard-vertical MuiCard-variantOutlined MuiCard-colorNeutral MuiCard-sizeMd joy-111fecy"
                                >
                                    <div class="e1e6st7u5 css-we1gxf e17lobue1">
                                        <div id="lottie-timer"></div>
                                        <div
                                            class="time-units css-hb6k3w e17lobue0"
                                        >
                                            <span id="hour">--</span>
                                            <span id="minute">--</span>
                                            <span id="second">--</span>
                                        </div>
                                    </div>
                                </section>
                                <section class="joy-1i43dhb">
                                    <a
                                        class="MuiLink-root MuiLink-colorPrimary MuiLink-body-sm MuiLink-underlineNone joy-u5jzww"
                                        href="/@blog"
                                        ><div class="joy-h72smr">
                                            <h2
                                                class="MuiTypography-root MuiTypography-title-lg joy-j4zuwg"
                                            >
                                                포스타입 공식 채널
                                            </h2>
                                            <svg
                                                focusable="false"
                                                aria-hidden="true"
                                                viewBox="0 0 24 24"
                                                width="24"
                                                height="24"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-s1s0o1"
                                            >
                                                <path
                                                    d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                                    fill="currentcolor"
                                                ></path>
                                            </svg>
                                        </div>
                                    </a>
                                    <div class="joy-j7qwjs">
                                        <article class="joy-ht0wgf">
                                            <div class="joy-bco1gb">
                                                <a
                                                    href="/@blog/post/19114287"
                                                    class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                    ><h2
                                                        class="MuiTypography-root MuiTypography-title-sm joy-lf9fqo"
                                                    >
                                                        3월 수익에 관한 가상
                                                        출금 정보 제공 안내
                                                    </h2></a
                                                >
                                                <div class="joy-cboudr">
                                                    <div class="joy-loaz0u">
                                                        <div
                                                            class="MuiAvatar-root MuiAvatar-variantSoft MuiAvatar-colorNeutral MuiAvatar-sizeXs2 joy-1fpbmdi"
                                                        >
                                                            <img
                                                                alt="이용자 포스타입"
                                                                src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                                loading="lazy"
                                                                class="MuiAvatar-img aTag_divImg_01"
                                                            />
                                                        </div>
                                                        <a
                                                            href="/profile/@1ll3c6"
                                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                            ><span
                                                                class="MuiTypography-root MuiTypography-title-sm joy-ixn4cl"
                                                                >포스타입</span
                                                            ></a
                                                        >
                                                    </div>
                                                    <p
                                                        class="MuiTypography-root MuiTypography-body-sm joy-zpfz47"
                                                    >
                                                        4일 전
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                class="MuiAspectRatio-root joy-1x63z2m"
                                            >
                                                <div
                                                    class="MuiAspectRatio-content MuiAspectRatio-variantSoft MuiAspectRatio-colorNeutral joy-1h16"
                                                >
                                                    <img
                                                        class="MuiBox-root joy-0"
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/24/12/55/40be7d13128072962910900921.png?w=100&amp;h=56&amp;q=65"
                                                        alt="포스트 3월 수익에 관한 가상 출금 정보 제공 안내"
                                                        data-first-child=""
                                                    />
                                                </div>
                                            </div>
                                        </article>
                                        <hr
                                            class="MuiDivider-root MuiDivider-horizontal joy-1txva48"
                                        />
                                        <article class="joy-ht0wgf">
                                            <div class="joy-bco1gb">
                                                <a
                                                    href="/@blog/post/19143537"
                                                    class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                    ><h2
                                                        class="MuiTypography-root MuiTypography-title-sm joy-lf9fqo"
                                                    >
                                                        포스타입 프리미엄을
                                                        출시합니다.
                                                    </h2></a
                                                >
                                                <div class="joy-cboudr">
                                                    <div class="joy-loaz0u">
                                                        <div
                                                            class="MuiAvatar-root MuiAvatar-variantSoft MuiAvatar-colorNeutral MuiAvatar-sizeXs2 joy-1fpbmdi"
                                                        >
                                                            <img
                                                                alt="이용자 포스타입"
                                                                src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                                loading="lazy"
                                                                class="MuiAvatar-img aTag_divImg_01"
                                                            />
                                                        </div>
                                                        <a
                                                            href="/profile/@1ll3c6"
                                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                            ><span
                                                                class="MuiTypography-root MuiTypography-title-sm joy-ixn4cl"
                                                                >포스타입</span
                                                            ></a
                                                        >
                                                    </div>
                                                    <p
                                                        class="MuiTypography-root MuiTypography-body-sm joy-zpfz47"
                                                    >
                                                        5일 전
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                class="MuiAspectRatio-root joy-1x63z2m"
                                            >
                                                <div
                                                    class="MuiAspectRatio-content MuiAspectRatio-variantSoft MuiAspectRatio-colorNeutral joy-1h16"
                                                >
                                                    <img
                                                        class="MuiBox-root joy-0"
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2025/04/01/09/22/90d3e79346899524472783111.png?w=100&amp;h=56&amp;q=65"
                                                        alt="포스트 포스타입 프리미엄을 출시합니다."
                                                        data-first-child=""
                                                    />
                                                </div>
                                            </div>
                                        </article>
                                        <hr
                                            class="MuiDivider-root MuiDivider-horizontal joy-1txva48"
                                        />
                                        <article class="joy-ht0wgf">
                                            <div class="joy-bco1gb">
                                                <a
                                                    href="/@blog/post/19108440"
                                                    class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                    ><h2
                                                        class="MuiTypography-root MuiTypography-title-sm joy-lf9fqo"
                                                    >
                                                        대표 이미지를 20개
                                                        설정할 수 있고,
                                                        에디터에서 마우스 없이
                                                        서식을 적용할 수
                                                        있습니다.
                                                    </h2></a
                                                >
                                                <div class="joy-cboudr">
                                                    <div class="joy-loaz0u">
                                                        <div
                                                            class="MuiAvatar-root MuiAvatar-variantSoft MuiAvatar-colorNeutral MuiAvatar-sizeXs2 joy-1fpbmdi"
                                                        >
                                                            <img
                                                                alt="이용자 포스타입"
                                                                src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                                loading="lazy"
                                                                class="MuiAvatar-img aTag_divImg_01"
                                                            />
                                                        </div>
                                                        <a
                                                            href="/profile/@1ll3c6"
                                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                            ><span
                                                                class="MuiTypography-root MuiTypography-title-sm joy-ixn4cl"
                                                                >포스타입</span
                                                            ></a
                                                        >
                                                    </div>
                                                    <p
                                                        class="MuiTypography-root MuiTypography-body-sm joy-zpfz47"
                                                    >
                                                        2025. 3. 27.
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                class="MuiAspectRatio-root joy-1x63z2m"
                                            >
                                                <div
                                                    class="MuiAspectRatio-content MuiAspectRatio-variantSoft MuiAspectRatio-colorNeutral joy-1h16"
                                                >
                                                    <img
                                                        class="MuiBox-root joy-0"
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/24/12/55/40be7d13128072962910900921.png?w=100&amp;h=56&amp;q=65"
                                                        alt="포스트 대표 이미지를 20개 설정할 수 있고, 에디터에서 마우스 없이 서식을 적용할 수 있습니다."
                                                        data-first-child=""
                                                    />
                                                </div>
                                            </div>
                                        </article>
                                        <hr
                                            class="MuiDivider-root MuiDivider-horizontal joy-1txva48"
                                        />
                                        <article class="joy-ht0wgf">
                                            <div class="joy-bco1gb">
                                                <a
                                                    href="/@blog/post/19102478"
                                                    class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                    ><h2
                                                        class="MuiTypography-root MuiTypography-title-sm joy-lf9fqo"
                                                    >
                                                        지금 리퀘스트를 신청하면
                                                        1,000P를 드려요!
                                                    </h2></a
                                                >
                                                <div class="joy-cboudr">
                                                    <div class="joy-loaz0u">
                                                        <div
                                                            class="MuiAvatar-root MuiAvatar-variantSoft MuiAvatar-colorNeutral MuiAvatar-sizeXs2 joy-1fpbmdi"
                                                        >
                                                            <img
                                                                alt="이용자 포스타입"
                                                                src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=50&amp;h=50&amp;q=65"
                                                                loading="lazy"
                                                                class="MuiAvatar-img aTag_divImg_01"
                                                            />
                                                        </div>
                                                        <a
                                                            href="/profile/@1ll3c6"
                                                            class="MuiLink-root MuiLink-colorPrimary MuiLink-body-md MuiLink-underlineNone joy-151y3tr"
                                                            ><span
                                                                class="MuiTypography-root MuiTypography-title-sm joy-ixn4cl"
                                                                >포스타입</span
                                                            ></a
                                                        >
                                                    </div>
                                                    <p
                                                        class="MuiTypography-root MuiTypography-body-sm joy-zpfz47"
                                                    >
                                                        2025. 3. 26.
                                                    </p>
                                                </div>
                                            </div>
                                            <div
                                                class="MuiAspectRatio-root joy-1x63z2m"
                                            >
                                                <div
                                                    class="MuiAspectRatio-content MuiAspectRatio-variantSoft MuiAspectRatio-colorNeutral joy-1h16"
                                                >
                                                    <img
                                                        class="MuiBox-root joy-0"
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2025/03/26/16/06/6fe8a010988068916321789154.png?w=100&amp;h=56&amp;q=65"
                                                        alt="포스트 지금 리퀘스트를 신청하면 1,000P를 드려요!"
                                                        data-first-child=""
                                                    />
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </section>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <!-- 검색창 들어가야하는 곳 -->
        </div>
        <!-- footer 넣을 곳 -->
        <footer id="main-footer"
                th:replace="~{main/footer.html :: #main-footer}"></footer>
        <!-- footer 넣을 곳 -->
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js"></script>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/main/main-clock.js"></script>
    <script src="/js/post/post-event.js"></script>
</html>
