body {
    margin: 0;
    color: #202022;
    /* font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    /* font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif; */
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

body {
    margin: 0px;
    color: #202022;
    /* font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}

.jk-feelog-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: #f9f9fa;
}

@media (min-width: 1132px) {
    .jk-feelog-footer-div01 {
        padding: 0;
    }
}

@media (min-width: 744px) {
    .jk-feelog-footer-div01 {
        padding: 0 24px;
    }
}

@media (min-width: 0px) {
    .jk-feelog-footer-div01 {
        padding: 0 20px;
    }
}

.jk-feelog-footer-div01 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1080px;
    width: 100%;
    height: 64px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -8px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*,
::before,
::after {
    box-sizing: inherit;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.jk-feelog-footer-div02 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 12px;
}

.jk-feelog-btn-main-a.FlgIconButton-sizeMd-need {
    --Icon-fontSize: calc(40px / 1.667); /* ≈ 24px */
    min-width: 40px;
    min-height: 40px;
}

.jk-feelog-btn-main-a {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --IconButton-size: 40px;
    --Icon-fontSize: calc(40px / 1.5); /* ≈ 26.67px */
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    min-width: 40px;
    min-height: 40px;
    font-size: 16px;
    padding-inline: 0.25rem;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-weight: 500;
    margin: var(--IconButton-margin);
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
}

.jk-feelog-main-svg01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: var(--Icon-margin);
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: currentColor;
}

.jk-feelog-btn-main-a02.FlgButton-sizeSm-need {
    min-height: 32px;
    font-size: 14px;
}

.jk-feelog-btn-main-a02 {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.375rem;
    min-height: 2rem;
    font-size: 14px;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: var(--Button-margin);
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-weight: 500;
    line-height: 1.5;
    --variant-borderWidth: 1px;
    color: #202022;
    border: 1px solid;
    border-color: #dadadc;
}

.jk-feelog-hr01 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin: initial;
    margin-inline: var(--_Divider-inset);
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: initial;
    block-size: 1px;
}

@media (min-width: 1132px) {
    .jk-feelog-div001 {
        padding: 32px 0 64px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div001 {
        padding: 32px 24px 64px;
    }
}

.jk-feelog-div001 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 1080px;
}

.jk-feelog-div002 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.jk-feelog-btn-main-a03 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #76767f;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: currentColor;
    padding-block: min(0.1em, 4px);
    padding-inline: 0.25em;
    margin-inline: -0.25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    --variant-borderWidth: 0px;
}

.jk-feelog-hr02 {
    --Divider-thickness: 1px;
    --Divider-lineColor: rgba(118, 118, 127, 0.15);
    margin: initial;
    margin-inline: initial;
    margin-block: var(--_Divider-inset);
    position: relative;
    align-self: center;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: 1px;
    block-size: initial;
    height: 12px;
}

.joy-4ay03q {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #76767f;
    font-weight: 600;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: currentColor;
    padding-block: min(0.1em, 4px);
    padding-inline: 0.25em;
    margin-inline: -0.25em;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    --variant-borderWidth: 0px;
}

.jk-feelog-li001:not([hidden]) {
    --_ListItem-display: flex;
}

.jk-feelog-li001 {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex: none;
    list-style-type: disc;
    position: relative;
    --variant-borderWidth: 0px;
    color: #202022;
}

.jk-feelog-li002 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #76767f;
    font-weight: 600;
}

@media (min-width: 992px) {
    .joy-1cu2i4e {
        display: none;
    }
}

.joy-1cu2i4e.FlgButton-sizeSm-need {
    min-height: 32px;
    font-size: 14px;
}

@media (min-width: 0px) {
    .joy-1cu2i4e {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

.joy-1cu2i4e {
    --Icon-margin: initial;
    --Icon-color: #76767f;
    --Icon-fontSize: 18px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.375rem;
    min-height: 2rem;
    font-size: 14px;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 8px;
    margin: var(--Button-margin);
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-weight: 500;
    line-height: 1.5;
    --variant-borderWidth: 1px;
    color: #202022;
    border: 1px solid;
    border-color: #dadadc;
    width: 100%;
    padding: 12px;
    margin-top: 24px;
}

.jk-feelog-span009 {
    --Icon-margin: 0 0 0 calc(0.5rem / -2);
    --CircularProgress-margin: 0 0 0 calc(0.5rem / -2);
    display: inherit;
    margin-right: 0.5rem;
}

.joy-1789zd7 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: 24px;
    color: black;
}

.joy-1789zd7 g > rect {
    fill: black;
}

.joy-1789zd7 g > path {
    fill: white;
}

.joy-1789zd7 clipPath rect {
    fill: white;
}

.joy-1n1c5ok {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .jk-feelog-footer-div03 {
        margin-top: 32px;
    }
}

@media (min-width: 0px) {
    .jk-feelog-footer-div03 {
        margin-top: 24px;
    }
}

.jk-feelog-footer-div03 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.jk-feelog-p001 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #76767f;
}

@media (min-width: 744px) {
    .jk-feelog-p002 {
        margin-top: 8px;
    }
}

@media (min-width: 0px) {
    .jk-feelog-p002 {
        margin-top: 24px;
    }
}

.jk-feelog-p002 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic",
        sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #76767f;
}
