body {
    margin: 0;
}

body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; */
    font-family: "Noto Sans KR", "Open Sans", "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    color: #2F3941;
    background-color: #FFFFFF;
}

.header {
    z-index: 1000;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid #ddd; */
}

.header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    height: 48px;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .header .header-container {
        height: 60px;
        margin: auto;
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .header .header-container {
        height: 60px;
        margin: auto;
        padding: 0 40px;
    }
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 24px;
}

a {
    color: rgba(68, 68, 68, 1);
    text-decoration: none;
    /* font-size: 16px; */
}

.logo a {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.logo .logo-img {
    display: block;
    width: 27px;
    height: 27px;
    margin-bottom: 0px;
    background: url(/hc/theming_assets/01HZKPZSVP09MHS1WM1N6QWH5C) no-repeat 0 0;
    background-size: contain;
    border-radius: 5px;
}

.logo .brand-link {
    margin-left: 10px;
}

@media (min-width: 768px) {
    .logo .brand-link {
        font-size: 18px;
    }
}

.user-nav {
    list-style: none;
}

.user-nav {
    display: inline-block;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .user-nav {
        position: relative;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-nav-list {
    display: flex;
}

.user-info {
    position: relative;
}

.dropdown {
    position: relative;
}

.user-info {
    display: inline-block;
}

.dropdown-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user-info > .dropdown-toggle {
    gap: 4px;
}

.user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.dropdown-chevron-icon {
    margin-left: 4px;
}

.user-info > .dropdown-toggle svg {
    vertical-align: middle;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    /* display: none; */
}

.user-info .dropdown-menu {
    font-size: 13px;
    margin-top: 1px;
    text-align: left;
    z-index: 1000;
    box-shadow: 0px 20px 30px 0px rgba(23, 73, 77, 0.15);
    width: 100%;
    left: 0;
    padding: 7px 0;
}

.user-info .dropdown-menu [role=menuitem] {
    padding: 0 7px;
    color: #2f3941;
    cursor: pointer;
    display: block;
    -webkit-appearance: none;
    text-align: start;
}

.nav-wrapper-mobile {
    display: none;
}

.menu-button-mobile {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.icon-menu {
    margin-left: 8px;
}

.menu-list-mobile {
    display: none;
}

.menu-list-mobile-items {
    list-style: none;
}

.user-avatar-item {
    display: flex;
    align-items: center;
    padding: 8px;
}

.nav-divider {
    border-top: 1px solid #ddd;
    margin: 8px 0;
}

body > main {
    /* padding-top: 48px; */
}

@media (min-width: 768px) {
    body > main {
        /* padding-top: 60px; */
    }
}

@media (min-width: 1024px) {
    body > main {
        min-height: 65vh;
    }
}

.new-request-body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-request-body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body-layout {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    max-width: 1000px;
}

@media (min-width: 768px) {
    .body-layout {
        padding: 0 40px;
    }
}

@media (min-width: 1024px) {
    .body-layout {
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .form {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .form-header {
        margin-bottom: 40px;
        font-size: 14px;
        word-break: keep-all;
    }
}

.form-header {
    margin-bottom: 30px;
    font-size: 14px;
    word-break: keep-all;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif; */
    font-family: "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    line-height: 1.333333;
    margin-top: 0;
    color: #000;
}

h1 {
    font-size: 32px;
}

.article-body h2, h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 32px;
}

.request-page-header {
    font-size: 32px;
    font-weight: 600;
}

.wysiwyg-color-blue {
    color: blue;
}

.wysiwyg-color-blue {
    font-weight: 500;
    color: rgba(52, 120, 255, 1);
}

.request-block {
    display: block;
    padding: 1em 1.5em;
    margin: 1em 0;
    border: 1px solid #EFEDED;
    font-size: 14px;
    color: #444444;
    background-color: #ffffff;
}

input, textarea {
    color: #000;
    font-size: 14px;
}

input {
    font-weight: 300;
    max-width: 100%;
    box-sizing: border-box;
    outline: none;
    transition: border .12s ease-in-out;
}

.form-field label {
    display: block;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
}

.nesty-input, .nesty-panel {
    box-sizing: border-box;
}

.nesty-input {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 1px;
    box-shadow: inset 0 1px #e3e3e3;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0;
    max-width: 250px;
    min-width: 150px;
    overflow: hidden;
    padding: 0 20px 0 5px;
    position: relative;
    text-overflow: ellipsis;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
}

.nesty-input {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: none;
    padding: 0 15px 0 10px;
}

.form-field .nesty-input {
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    outline: none;
    vertical-align: middle;
}

.nesty-input:after {
    color: #999;
    content: "▾";
    line-height: 1em;
    position: absolute;
    right: 10px;
    top: 25%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url($assets-dropdown-arrow-svg) no-repeat #fff;
    background-position: right 10px center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px 30px 8px 10px;
    outline: none;
    color: #555;
    width: 100%;
}

select:not(:-internal-list-box):not([multiple]) option {
    min-inline-size: 24px;
    min-block-size: max(24px, 1lh);
    font-weight: -internal-auto-base(normal, inherit);
    padding-block-end: -internal-auto-base(1px, 0);
    display: -internal-auto-base(block, flex);
    align-items: center;
    padding-inline: -internal-auto-base(2px, 0.5em);
    gap: 0.5em;
}

.form-field::after {
    content: "";
    clear: both;
    display: block;
}

.form-field ~ .form-field {
    margin-top: 25px;
}

.form-field label {
    display: block;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
}

.form-field.required > label::after {
    content: "*";
    color: #f00;
    margin-left: 2px;
}

.form-field input {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
}

.form-field input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-field p {
    color: #5a6d7c;
    font-size: 12px;
    margin: 5px 0;
}

.form .suggestion-list {
    font-size: 13px;
    margin-top: 30px;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 2px;
    resize: vertical;
    width: 100%;
    outline: none;
    padding: 10px;
}

.form-field textarea {
    vertical-align: middle;
}

.request-form textarea {
    min-height: 120px;
}

.form-field input[type="checkbox"] {
    position: relative;
    top: 4px;
    float: left;
    width: auto;
    margin-right: 8px;
}

.upload-dropzone {
    border: 1px solid #ddd;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.upload-dropzone input[type=file] {
    /* filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); */
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.upload-dropzone span {
    color: #d1d1d1;
    display: inline-block;
    line-height: 24px;
    padding: 10px;
}

.upload-dropzone span {
    color: #5a6d7c;
}

.upload-dropzone a {
    text-decoration: none;
    font-size: 13px;
}

#upload-error {
    display: none;
    margin-top: 10px;
}

.upload-pool {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.form footer {
    margin-top: 40px;
    padding-top: 30px;
}

.button-large, input[type="submit"] {
    background-color: rgba(52, 120, 255, 1);
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 190px;
    padding: 0 1.9286em;
    width: 100%;
}

@media (min-width: 768px) {
    .button-large, input[type="submit"] {
        width: auto;
    }
}

.footer {
    padding: 30px 0;
    margin-top: 40px;
    font-size: 13px;
    color: #777;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 60px;
    }
}

.footer-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
}

@media (min-width: 1024px) {
    .footer-inner {
        display: flex;
    }
}

@media (min-width: 1160px) {
    .footer-inner {
        padding: 0;
        width: 90%;
    }
}

.footer a {
    color: #5a6d7c;
}

.footer-logo a {
    display: block;
    width: 70px;
    height: 18px;
    margin-bottom: 10px;
    background: url(/hc/theming_assets/01HZKPZTBR4FB1D6BVK45930GS) no-repeat 0 0;
    background-size: 70px 16px;
    opacity: 0.5;
    color: transparent;
}

@media (min-width: 1024px) {
    .footer-logo a {
        margin: 1px 20px 1px 0;
    }
}

.d-flex {
    display: flex;
}

.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 12px;
}

.footer li {
    display: inline;
    margin-right: 7px;
}

.footer li + li::before {
    content: "";
    position: relative;
    top: .15em;
    display: inline-block;
    height: 1em;
    margin-right: 10px;
    border-left: 1px solid #ddd;
}

.footer li:last-child {
    margin-right: 20px;
}

.footer-language-selector {
    color: #5a6d7c;
    display: inline-block;
    font-weight: 300;
}

.nesty-panel, .nesty-panel ul {
    overflow-x: hidden;
    overflow-y: auto;
}

.nesty-panel {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    height: 150px;
    min-width: 100px;
    position: absolute !important;
    z-index: 999;
    border-radius: 4px;
}

.nesty-panel {
    height: auto;
    max-height: 150px;
}

.nesty-panel ul {
    background: #fff;
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100% !important;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.nesty-panel li {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
    line-height: 1;
    margin: 0 !important;
    min-height: 27px;
    padding: 5px !important;
    position: relative;
    box-sizing: border-box;
}

.nesty-panel li:focus {
    background: #e9e9e9;
    outline: none;
}

.nesty-panel li:hover {
    background: #e9e9e9;
    outline: none;
}

.nesty-panel li.nesty-selected {
    font-weight: bold;
}

.nesty-panel li.nesty-selected {
    font-weight: bold;
}































































