body {
    margin: 0;
    color: #333333;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
}
/* 헤더 여기부터 */
.flog-header-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid;
    border-color: #d1d1d1;
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
}
.flog-div-32 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    max-width: 1144px;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
@media (min-width: 0px) {
    .flog-div-32 {
        margin-right: 20px;
        padding: 4px 8px;
        height: 48px;
    }
}
@media (min-width: 744px) {
    .flog-div-32 {
        margin-right: 0px;
        padding: 12px 32px;
        height: 64px;
    }
}
.flog-a-10 {
    cursor: pointer;
}
@media (min-width: 0px) {
    .flog-a-10 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 11px 8px;
    }
}
@media (min-width: 744px) {
    .flog-a-10 {
        display: none;
        padding: 8px;
    }
}
.flog-svg-4 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
    width: 96px;
    height: 18px;
    color: black;
}
.flog-a-11 {
    cursor: pointer;
}
@media (min-width: 0px) {
    .flog-a-11 {
        display: none;
        padding: 11px 8px;
    }
}
@media (min-width: 744px) {
    .flog-a-11 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 8px;
    }
}
.flog-svg-1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: #666666;
    width: 128px;
    height: 24px;
    color: black;
}
.flog-div-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 744px) {
    .flog-div-8 {
        display: initial;
    }
}
@media (min-width: 0px) {
    .flog-div-8 {
        display: none;
    }
}
.flog-button-3 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: 20px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.375rem;
    min-height: 32px;
    font-size: 14px;
    padding-block: 4px;
    padding-inline: 12px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #333333;
    padding-left: 6px;
    padding-right: 6px;
}
.flog-button-3.FeelogMenuButton-sizeSm {
    min-height: 32px;
}
.flog-div-9 {
    --Icon-color: #666666;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: calc(32px * 0.4375);
    line-height: 1;
    color: #333333;
    width: 32px;
    height: 32px;
    margin-inline-start: 0px;
    box-shadow: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --variant-borderWidth: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.flog-img-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
@media (min-width: 744px) {
    .flog-div-10 {
        display: block;
    }
}
@media (min-width: 0px) {
    .flog-div-10 {
        display: none;
    }
}
.flog-span-4 {
    --Badge-minHeight: 0.5rem;
    --Badge-paddingX: 0.25rem;
    --Badge-ringSize: 2px;
    --Badge-ring: 0 0 0 var(--Badge-ringSize) #f5f5f5;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    --Badge-ringSize: 0;
}
.flog-button-4 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentColor;
}
.flog-div-11 {
    --Icon-color: #666666;
    margin-inline-start: 0px;
    box-shadow: none;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --variant-borderWidth: 0px;
    color: #333333;
    width: 36px;
    height: 36px;
}
.flog-img-1 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}
.flog-span-5 {
    --Icon-color: currentColor;
    --Icon-fontSize: calc(1em * 1.5);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    box-shadow: none;
    line-height: 1.5;
    padding: 0 calc(4px - 0px);
    min-height: 8px;
    min-width: 8px;
    border-radius: 8px;
    z-index: 600;
    background-color: #d32f2f;
    top: 0;
    right: 0;
    -webkit-transform: scale(1) translateX(50%) translateY(-50%);
    -moz-transform: scale(1) translateX(50%) translateY(-50%);
    -ms-transform: scale(1) translateX(50%) translateY(-50%);
    transform: scale(1) translateX(50%) translateY(-50%);
    transform-origin: 100% 0%;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    --variant-borderWidth: 0px;
    white-space: nowrap;
}
.flog-span-5.FeelogBadge-invisible {
    -webkit-transform: scale(0) translateX(50%) translateY(-50%);
    -moz-transform: scale(0) translateX(50%) translateY(-50%);
    -ms-transform: scale(0) translateX(50%) translateY(-50%);
    transform: scale(0) translateX(50%) translateY(-50%);
}

/* 헤더 여기까지 */
.flog-main-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.flog-div-33 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}
@media (min-width: 0px) {
    .flog-div-33 {
        padding: 24px 16px 64px;
        max-width: 320px;
    }
}
@media (min-width: 744px) {
    .flog-div-33 {
        padding: 40px 0 64px 0;
        max-width: 320px;
    }
}
.flog-h1-2 {
    --Icon-fontSize: calc(1em * 1.25);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    color: #333333;
}
.flog-div-34 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}
.flog-h1-2 {
    --Icon-fontSize: calc(1em * 1.25);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.025em;
    color: #333333;
}
.flog-p-8 {
    --Icon-fontSize: calc(1em * 1.5);
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    font-weight: 400;
    color: #b3b3b3;
}
.flog-a-12 {
    --Icon-fontSize: 1.25em;
    --Icon-color: currentColor;
    --CircularProgress-size: 1.25em;
    --CircularProgress-thickness: 3px;
    font: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: rgba(52, 120, 255, 0.72);
    color: rgba(52, 120, 255, 1);
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-decoration-color: currentColor;
    color: #333333;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
.flog-a-13 {
    --Icon-margin: initial;
    --Icon-color: #666666;
    --Icon-fontSize: 24px;
    --CircularProgress-size: 20px;
    --CircularProgress-thickness: 2px;
    --Button-gap: 0.5rem;
    min-height: 36px;
    font-size: 14px;
    padding-block: 6px;
    padding-inline: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    --variant-borderWidth: 0px;
    color: #333333;
    background-color: #e0e0e0;
    font-weight: 500;
}
.flog-a-13.FeelogButton-sizeMd {
    min-height: 40px;
    font-size: 16px;
}

@media (min-width: 0px) {
    .flog-a-13.FeelogButton-sizeMd {
        max-width: 300px;
    }
}
@media (min-width: 744px) {
    .flog-a-13.FeelogButton-sizeMd {
        max-width: 100%;
    }
}
