<!-- 2025.04.08 조승찬 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/challenge/challenge-detail.css" />
        <title>첼린지 목록</title>
    </head>
    <body>
        <div class="FeelogStack-root flog-div-1">
            <!-- 헤더 넣을 곳 -->

            <div class="feelog-header-mainDiv" id="header-container"></div>
            <script>
                // Load header.html and insert it in#header-placeholder
                fetch("../main/header.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("header-container").innerHTML = data;
                    })
                    .catch((error) => console.error("Error loading header:", error));
            </script>
            <!-- 헤더 넣을 곳 -->
            <div class="FeelogStack-root flog-div-12">
                <div class="FeelogStack-root flog-div-13">
                    <nav class="subnavigation FeelogBox-root flog-nav-2">
                        <div class="FeelogStack-root flog-div-14">
                            <div class="FeelogStack-root flog-div-15">
                                <button
                                    aria-label="뒤로 가기"
                                    class="FeelogIconButton-root FeelogIconButton-variantPlain FeelogIconButton-colorNeutral FeelogIconButton-sizeMd flog-button-5"
                                    type="button"
                                >
                                    <svg
                                        focusable="false"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="FeelogSvgIcon-root FeelogSvgIcon-sizeMd flog-svg-3"
                                    >
                                        <path
                                            d="M3.54 12.682a.949.949 0 0 1-.29-.68c0-.258.105-.5.29-.68l6.874-6.562a.937.937 0 0 1 1.293 1.355l-5.18 4.95h13.286c.519 0 .937.418.937.937 0 .52-.418.938-.938.938H6.527l5.184 4.945a.938.938 0 0 1-1.293 1.355l-6.875-6.562-.004.004Z"
                                            fill="currentcolor"
                                        ></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </nav>
                    <div class="FeelogStack-root flog-div-16">
                        <article class="FeelogStack-root flog-article-1">
                            <header class="FeelogStack-root flog-header-2">
                                <div class="FeelogStack-root flog-div-17">
                                    <h4 class="FeelogBox-root flog-h4-1">
                                        <a
                                            href="/@blog/series/371"
                                            class="FeelogTypography-root FeelogTypography-body-md flog-a-3"
                                            >포스타입 공지사항</a
                                        >
                                    </h4>
                                    <h1 class="FeelogTypography-root FeelogTypography-h1 flog-h1-1">
                                        3월 수익에 관한 가상 출금 정보 제공 안내
                                    </h1>
                                    <h2 class="FeelogTypography-root FeelogTypography-body-md flog-h2-2">
                                        5월 수수료 정책 변경에 따른 후속 안내입니다.
                                    </h2>
                                    <div class="FeelogStack-root flog-div-18">
                                        <a
                                            href="/profile/@1ll3c6"
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-4"
                                            ><div
                                                class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeMd flog-div-19"
                                            >
                                                <img
                                                    alt="채널 포스타입"
                                                    src="https://d3mcojo3jv0dbr.cloudfront.net/2022/10/14/09/27/66fc5bd61c3d9969c7e6cb8845fb3e3e.png?w=100&amp;h=100&amp;q=65"
                                                    loading="lazy"
                                                    class="FeelogAvatar-img flog-img-1"
                                                /></div
                                        ></a>
                                        <div class="FeelogStack-root flog-div-20">
                                            <a class="FeelogBox-root flog-a-5" href="/profile/@1ll3c6"
                                                ><p class="FeelogTypography-root FeelogTypography-title-md flog-p-1">
                                                    포스타입
                                                </p></a
                                            >
                                            <div class="FeelogStack-root flog-div-21">
                                                <p class="FeelogTypography-root FeelogTypography-body-md flog-p-2">
                                                    2025. 4. 2.
                                                </p>
                                                <p class="FeelogTypography-root FeelogTypography-body-md flog-p-3">·</p>
                                                <p class="FeelogTypography-root FeelogTypography-body-md flog-p-2">
                                                    조회 2.2천
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                            <div class="FeelogStack-root flog-div-22">
                                <div class="flog-div-23" style="width: 100%; max-width: 700px">
                                    <div
                                        class="post-content v2 flog-div-23 text-justify font-sans-serif font-size-level3"
                                        id="post-content"
                                        style="visibility: visible"
                                    >
                                        <p>안녕하세요, 포스타입입니다.</p>
                                        <p>
                                            3월 17일 포스타입 수익 출금 수수료 정책의 변경에 대해 안내해 드린 바
                                            있습니다. 당시 안내에서 말씀드렸던 3월 수익에 관한 가상 출금 시뮬레이션
                                            정보가 모두 집계되어 추가 안내해 드립니다.
                                        </p>
                                        <blockquote class="blockquote-type2">
                                            <p>
                                                5월 1일부터 적용될 수수료 정책 변경 안내는
                                                <a href="https://www.postype.com/@blog/post/18957957" target="_blank"
                                                    >여기</a
                                                >에서 확인하실 수 있습니다.
                                            </p>
                                        </blockquote>
                                        <div><hr class="hr hr-solid-short" /></div>
                                        <h4>가상 출금 정보는 실제 출금 내역이 아닙니다.</h4>
                                        <p>
                                            가상 출금 정보는 5월 이후 적용될 수수료 정책이 3, 4월 수익에 미리 적용되는
                                            것으로 가정해 출금 수수료와 입금액의 변화를 미리 보여드리기 위한 가상
                                            시뮬레이션입니다.
                                        </p>
                                        <p>
                                            가상 출금 정보는 실제 3월 출금 신청(4월 입금)과 4월 출금 신청(5월 입금)
                                            내역과 다르며, 3월 이전 발생한 수익을 포함하지 않습니다. 5월 수수료 정책
                                            개편 전 실제 출금 신청 수익과 입금액은 기존과 마찬가지로
                                            <a href="https://www.postype.com/withdrawal/list" target="_blank"
                                                >[수익] &gt; [출금 내역]</a
                                            >에서 확인하실 수 있습니다.
                                        </p>
                                        <p>
                                            더불어 각 월(3월 또는 4월)에 발생한 수익이 포스타입의 출금 요건 1만 원에
                                            미치지 못한 경우, 가상 출금 정보 역시 제공되지 않습니다. 또, 펀딩 등
                                            크리에이터 채널에서 발생한 계약 수익분은 실제 출금 대상이 아니지만
                                            시뮬레이션 대상에 포함되어 나타날 수 있습니다.
                                        </p>
                                    </div>

                                    <section class="FeelogStack-map-section flog-section-1">
                                        <article>
                                            <header class="FeelogStack-map-header flog-header-3">
                                                <hgroup>
                                                    <h4 class="FeelogStack-map-h4 flog-h4-2">행사 위치</h4>
                                                </hgroup>
                                            </header>

                                            <div id="mapContainer">
                                                <div id="map"></div>
                                                <div id="fullMap">
                                                    <img
                                                        src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M17 3h4v4M15 9l6-6M7 21H3v-4M9 15l-6 6M4 11V6c0-1.105.895-2 2-2h5M20 13v5c0 1.105-.895 2-2 2h-6'/%3E %3C/svg%3E"
                                                        alt="map fullscreen"
                                                    />
                                                </div>
                                                <div id="mapMessage">종합운동장역 5번 출구</div>
                                            </div>
                                        </article>
                                    </section>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <!-- footer 넣을 곳 -->
            <div class="joy-17imqrx" id="footer-container"></div>
            <script>
                // Load footer.html and insert it into #footer-placeholder
                fetch("../main/footer.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("footer-container").innerHTML = data;
                    })
                    .catch((error) => console.error("Error loading footer:", error));
            </script>
            <!-- footer 넣을 곳 -->
        </div>
    </body>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=dca5cc5ce3946cf9a7295748f1aa7d12&libraries=services"></script>
    <script src="/js/challenge/challenge-detail-event.js"></script>
    <script src="/js/main/main-modal.js"></script>
</html>
