<!-- 2025.04.08 조승찬 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/challenge/task-list.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/footer.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <title>첼린지 목록</title>
    </head>
    <body>
        <div class="FeelogStack-root flog-div-1">
            <!-- 헤더 넣을 곳 -->
            <header id="main-header"
                    th:replace="~{main/header.html :: #main-header}"></header>
            <!-- 헤더 넣을 곳 -->

            <div class="FeelogStack-root flog-div-12">
                <div class="FeelogStack-root flog-div-13">
                    <nav class="subnavigation FeelogBox-root flog-nav-2">
                        <ul
                            class="FeelogList-root FeelogList-vertical FeelogList-variantPlain FeelogList-colorNeutral FeelogList-sizeMd flog-ul-1"
                        >
                            <a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain selected flog-a-7"
                                href="/challenge/task-list"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-5">
                                    오늘 첼린지
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="/challenge/challenging-list"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    진행 챌린지
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="/challenge/completed-list"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    완료 챌린지
                                </p></a
                            >
                        </ul>
                    </nav>
                    <main class="FeelogStack-root flog-main-1">
                        <section class="FeelogStack-root flog-section-2">
                            <div class="FeelogStack-root flog-div-25">
                                <h2 class="FeelogTypography-root FeelogTypography-h3 flog-h2-3">
                                </h2>
                            </div>
                            <div class="FeelogGrid-root FeelogGrid-container FeelogGrid-direction-xs-row flog-div-26">
<!--                                2025.04.19 조승찬 :: 개인 과제 -->
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <div class="FeelogBox-root flog-a-8"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="개별 과제"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;"
                                                        th:if="${individual.memberTaskPoolFileName != null && !individual.memberTaskPoolFileName.isEmpty()}"
                                                        th:src="@{/files/display(path=|${individual.memberTaskPoolFilePath}/${individual.memberTaskPoolFileName}|)}"
                                                /><img
                                                    alt="개별 과제"
                                                    loading="lazy"
                                                    decoding="async"
                                                    data-nimg="fill"
                                                    style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;"
                                                    th:if="${individual.memberTaskPoolFileName == null || individual.memberTaskPoolFileName.isEmpty()}"
                                                    th:src="@{/images/challenge.jfif}"
                                            /></div
                                            ></div>
                                            <div class="FeelogStack-root flog-div-30">
                                                <div class="FeelogStack-root flog-a-9"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1" th:text="${individual.memberTaskPoolContent}">
                                                    </h3>
                                                    <button
                                                            class="challenge-member-task"
                                                            th:classappend="${individual.challengeComplete != null && (individual.challengeComplete.name() == 'COMPLETED' || individual.challengeComplete.name() == 'ONGOING') ? 'selected' : ''}"
                                                            th:attr="data-challengeid=${individual.id}, data-taskid=${individual.taskId}"
                                                            th:attrappend="disabled=${individual.challengeComplete != null && individual.challengeComplete.name() == 'COMPLETED' ? 'disabled' : null}"
                                                            th:text="${individual.challengeComplete != null ? (individual.challengeComplete.name() == 'COMPLETED' ? '완료' : (individual.challengeComplete.name() == 'ONGOING' ? '중단' : '도전')) : '도전'}">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
<!--                                2025.04.19 조승찬 :: 공통 과제 보여주기-->
                                <th:block th:each="common:${commons}">
                                    <section
                                            class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                    >
                                        <div class="FeelogStack-root flog-div-27">
                                            <div class="FeelogStack-root flog-div-28">
                                                <div class="FeelogBox-root flog-a-8"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                            alt="공통 과제"
                                                            loading="lazy"
                                                            decoding="async"
                                                            data-nimg="fill"
                                                            style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                            th:src="${common.commonTaskImg != null && !common.commonTaskImg.isEmpty() ? common.commonTaskImg : '/images/challenge.jfif'}"
                                                    /></div
                                                ></div>
                                                <div class="FeelogStack-root flog-div-30">
                                                    <div class="FeelogStack-root flog-a-9" >
                                                        <h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1" th:text="${common.commonTaskName}">
                                                        </h3>
                                                        <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6" th:text="${common.commonTaskAddr}"></p>
                                                        <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6" th:text="${common.commonTaskTell}"></p>
                                                        <a class="FeelogTypography-root FeelogTypography-body-md flog-p-6 custom-link"
                                                           th:if="${common.commonTaskUrl != null && !common.commonTaskUrl.isEmpty()}"
                                                           th:href="${common.commonTaskUrl}">HomePage
                                                        </a>
                                                        <button
                                                                class="challenge-common-task"
                                                                th:classappend="${common.challengeComplete != null && (common.challengeComplete.name() == 'COMPLETED' || common.challengeComplete.name() == 'ONGOING') ? 'selected' : ''}"
                                                                th:attr="data-challengeid=${common.id}, data-taskid=${common.taskId}"
                                                                th:attrappend="disabled=${common.challengeComplete != null && common.challengeComplete.name() == 'COMPLETED' ? 'disabled' : null}"
                                                                th:text="${common.challengeComplete != null ? (common.challengeComplete.name() == 'COMPLETED' ? '완료' : (common.challengeComplete.name() == 'ONGOING' ? '중단' : '도전')) : '도전'}">
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </th:block>
                            </div>
                        </section>
                    </main>
                </div>
            </div>

            <!-- footer 넣을 곳 -->
            <footer id="main-footer"
                    th:replace="~{main/footer.html :: #main-footer}"></footer>
            <!-- footer 넣을 곳 -->
    </body>
    <script th:inline="javascript">
        const loginMember = [[${session.member}]]
        const loginMemberId = Number(loginMember.id);
    </script>
    <script src="/js/challenge/task-list-event.js"></script>
    <script src="/js/challenge/task-list-service.js"></script>
    <script src="/js/challenge/task-list-layout.js"></script>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/main/notification.js"></script>
    <script src="/js/main/main-search-modal.js"></script>
</html>
