<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>게시글 상세</title>
        <link rel="stylesheet" href="/css/post/read.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <style>
            @font-face {
                font-family: "Postype Sans-serif KR";
                font-display: swap;
                src: local("Pretendard SemiBold"),
                    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2)
                        format("woff2"),
                    url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff/Pretendard-SemiBold.woff)
                        format("woff");
            }
        </style>
    </head>
    <body th:object="${post}">
        <main class="feelog_main_01">
            <header id="main-header"
                    th:replace="~{main/header.html :: #main-header}"></header>
            <div class="post_container_03">
                <article class="post_article_01">
                    <header class="article_header_01">
                        <div class="post_wrap_01">
                            <h1 class="post_h1_01" th:text="${post.postTitle}">
                            </h1>
                            <div class="post_info_01">
                                <a
                                    href="/profile/@822am3"
                                    class="channel_info_01"
                                    ><div class="imgWrap_05">
                                    <img th:alt="${post.channelTitle}"
                                         loading="lazy"
                                         decoding="async"
                                         data-nimg="fill"
                                         style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; object-fit: cover; color: transparent;"
                                         th:src="${post.memberFilePath != null}
                                          ? '/files/display?path=' + ${post.memberFilePath} + '/' + ${post.memberFileName}
                                          : '/images/default.png'" />
                                </div
                                ></a>
                                <div class="header-div-container">
                                    <div class="diary_container_01">
                                        <a
                                            class="noNameWrap_01"
                                            href="/profile/@822am3"
                                            ><p
                                                class="diary_nicknameWrap_01 noName_01"
                                                th:text="${post.channelTitle}"
                                            >
                                            </p></a
                                        >
                                        <div class="post_info_02">
                                            <p class="post_date_01" th:text="${post.updatedDate.substring(0, 10)}">
                                            </p>
                                            <p class="date_readcount_01">·</p>
                                            <p class="post_date_01" th:text="'조회 ' + ${post.postReadCount} + ' 회'">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="button-wrap">
                                        <button
                                            th:data-index="${post.id}"
                                            aria-haspopup="menu"
                                            aria-expanded="false"
                                            aria-controls="font-size-setting"
                                            tabindex="0"
                                            aria-label="포스트 더보기 메뉴"
                                            class="post_moreButton_01 post-button menu-button"
                                            type="button"
                                        >
                                            <svg
                                                focusable="false"
                                                aria-hidden="true"
                                                viewBox="0 0 24 24"
                                                width="24"
                                                height="24"
                                                fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="post_moreButton_svg_01"
                                            >
                                                <path
                                                    d="M20.125 12a1.875 1.875 0 1 1-3.75 0 1.875 1.875 0 0 1 3.75 0Zm-6.25 0a1.875 1.875 0 1 1-3.751 0 1.875 1.875 0 0 1 3.751 0ZM5.75 13.875a1.875 1.875 0 1 1 0-3.75 1.875 1.875 0 0 1 0 3.75Z"
                                                    fill="currentcolor"
                                                ></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="post_content_container_01">
                        <div
                            class="editor-v5"
                            style="width: 100%; max-width: 700px"
                        >
                            <div
                                class="post-content v2 editor-v5 text-left font-sans-serif font-size-level3"
                                id="post-content"
                                style="visibility: visible"
                                th:utext="${post.postContent}"
                            >
                            </div>
                        </div>
                    </div>
                    <section class="tag_container_01">
                        <h6 class="tag_h6_01" th:text="${post.tags}">태그</h6>
<!--                        검색 url 추가-->
                        <a
                            href="/search/post?keyword=소설&amp;options_tags=1"
                            class="aTag_myDiary_01 aTag_myDiary_03 tag_wrap_01"
                            th:each="tag : ${post.tags}"
                            ><span
                                class="Md aTag_span_01"
                                id=":Rq7aekvffafl7lqakq:"
                                th:text="${tag}"
                                ></span
                            ></a>
                    </section>
                    <section class="post-navigation post_section_01 channel-posts">
                        <div class="nextButton_container_01"></div>
                    </section>
                    <section class="aithink_container_01">
                        <div class="aithink_wrap_01">
<!--                            채널주소 추가-->
                            <a href="/@pampa234" class="channelWrap_01"
                                ><div class="channel_imgContainer_01">
                                    <div class="imgWrap_03123">
                                        <div
                                            class="img_wrap_01"
                                            data-first-child=""
                                        >
                                            <img th:if="${post.channelFilePath != null}"
                                                 th:alt="${post.channelTitle}"
                                                 loading="lazy"
                                                 decoding="async"
                                                 data-nimg="fill"
                                                 style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; object-fit: cover; color: transparent;"
                                                 th:src="@{'/files/display?path=' + ${post.channelFilePath} + '/' + ${post.channelFileName}}" />

                                            <img th:unless="${post.channelFilePath != null}"
                                                 alt="기본 이미지"
                                                 loading="lazy"
                                                 decoding="async"
                                                 data-nimg="fill"
                                                 style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; right: 0; bottom: 0; object-fit: cover; color: transparent;"
                                                 th:src="@{/images/avatar_blank.png}" />
                                        </div>
                                    </div></div
                            ></a>
                            <div class="aithink_div_01">
                                <!--                            채널주소 추가-->
                                <a href="/@pampa234" class="channelWrap_01"
                                    ><span
                                        class="diary_nicknameWrap_01channel_span_01"
                                        th:text="${post.channelTitle}"
                                        ></span
                                    ></a
                                >
                                <p class="post_point_01" th:text="'구독자 ' + ${post.subscribeCount} + 명"></p>
                            </div>
                        </div>
                        <div class="add_channelWrap_01">
                            <!-- 구독 버튼 -->
                            <button
                                    class="more_diaryButton_01 add_channelButton_01 subscribe-button"
                                    type="button"
                                    th:data-index="${post.channelId}"
                                    th:if="${session.member == null or post.subscribe == false}">
                                구독
                            </button>

                            <!-- 구독 중 버튼 -->
                            <button
                                    class="MuiButton-root MuiButton-variantSoft MuiButton-colorNeutral MuiButton-sizeMd subscribe-button subscribing"
                                    type="button"
                                    th:data-index="${post.channelId}"
                                    th:if="${session.member != null and post.subscribe == true}">
                                구독 중
                            </button>
                        </div>
                    </section>
                    <section class="recommend_post_container_01">
                        <p class="diary_nicknameWrap_01recommend_p_01">
                            추천 포스트
                        </p>
                        <div class="recommend_post_wrap_01">
                        </div>
                        <div class="more_diaryContainer_01">
                            <button
                                class="more_diaryButton_01 more_diaryButton_02"
                                type="button"
                            >
                                <span class="more_diaryButton_span_01"
                                    ><svg
                                        focusable="false"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="more_diaryButton_svg_01"
                                    >
                                        <path
                                            d="M18.867 7.664a8.12 8.12 0 1 0-.472 9.34.94.94 0 1 1 1.48 1.16A9.984 9.984 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2a9.987 9.987 0 0 1 8.12 4.162V4.028a.94.94 0 1 1 1.88 0v4.576c0 .52-.42.94-.94.94h-4.576a.94.94 0 0 1 0-1.88h2.383Z"
                                            fill="currentcolor"
                                        ></path></svg></span
                                >추천 콘텐츠 더 보기
                            </button>
                        </div>
                    </section>
                    <section class="" id="comments">
                        <div class="reply_container_01">
                            <p class="diary_nicknameWrap_01 reply_count_01" th:text="${post.replyCount} + '개의 댓글'"></p>
                            <!-- 로그인 후 댓글창 -->
                            <div class="comment-list comment_container_01" th:if="${session.member != null}">
                                <label for="comment" class="tag_h6_01"
                                    >작가에게 힘이 되는 한마디 남기기</label
                                >
                                <div class="reply_wrap_01">
                                    <div
                                        class="reply_nicknameWrap_01 reply_nicknameWrap_02"
                                    >
                                        <div class="nickname_div_01">
                                            <div class="nickname_imgWrap_01">
                                                <img
                                                    th:if="${session.member !=null}"
                                                    alt=""
                                                    th:src="'/files/display?path=' + ${session.member.memberFilePath} + '/' + ${session.member.memberFileName}"
                                                    loading="lazy"
                                                    class="aTag_divImg_01"
                                                />
                                                <img
                                                    th:if="${session.member ==null}"
                                                    alt=""
                                                    th:src="@{/images/avatar_blank.png}"
                                                    loading="lazy"
                                                    class="aTag_divImg_01"
                                                />
                                            </div>
                                            <p
                                                class="diary_nicknameWrap_01title_h5_01"
                                                th:text="${session.member.memberNickname}"
                                            >
                                            </p>
                                        </div>
                                    </div>
                                    <textarea
                                        rows="1"
                                        aria-label="작가에게 힘이 되는 한마디 남기기"
                                        placeholder="작가에게 힘이 되는 한마디 남기기"
                                        maength="2000"
                                        class="textareaInput_01 textareaInput_02"
                                        style="height: 21px; overflow: hidden"
                                    ></textarea
                                    ><textarea
                                        aria-hidden="true"
                                        class="textareaInput_01 textareaInput_02"
                                        readonly=""
                                        tabindex="-1"
                                        style="
                                            visibility: hidden;
                                            position: absolute;
                                            overflow: hidden;
                                            height: 0px;
                                            top: 0px;
                                            left: 0px;
                                            transform: translateZ(0px);
                                            padding-top: 0px;
                                            padding-bottom: 0px;
                                            width: 666px;
                                        "
                                    ></textarea>
                                    <div
                                        class="upload_buttonContainer_01 upload_buttonContainer_02"
                                    >
                                        <div class="uploadButton_wrap_01">
                                            <div class="uploadButton_div_01">
                                                <div class="image-wrap-reply">
                                                    <label for="upload-image" class="uploadButton_01 uploadButton_02">
                                                        <svg focusable="false" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg" class="post_moreButton_svg_01">
                                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.745 2.85c-.895 0-1.716.495-2.133 1.286L6.766 5.74H4.752A2.9 2.9 0 0 0 1.85 8.637v9.616a2.9 2.9 0 0 0 2.902 2.897h14.496a2.9 2.9 0 0 0 2.902-2.897V8.637a2.9 2.9 0 0 0-2.902-2.897h-2.005l-.849-1.606a2.411 2.411 0 0 0-2.132-1.284H9.745ZM9.27 5.006a.538.538 0 0 1 .476-.287h4.517c.2 0 .383.11.476.287l.89 1.686c.299.565.886.918 1.524.918h2.096c.569 0 1.03.46 1.03 1.027v9.616c0 .567-.461 1.027-1.03 1.027H4.752c-.569 0-1.03-.46-1.03-1.027V8.637c0-.567.461-1.027 1.03-1.027h2.105c.64 0 1.226-.354 1.524-.919l.888-1.685ZM12 8.704a4.372 4.372 0 0 0-4.376 4.368A4.372 4.372 0 0 0 12 17.44a4.372 4.372 0 0 0 4.376-4.368A4.372 4.372 0 0 0 12 8.704Zm-2.504 4.368c0-1.38 1.121-2.498 2.504-2.498a2.501 2.501 0 0 1 2.504 2.498c0 1.38-1.121 2.499-2.504 2.499a2.501 2.501 0 0 1-2.504-2.499Z" fill="currentcolor"></path>
                                                        </svg>
                                                    </label>
                                                    <input id="upload-image" accept="image/jpeg, image/png, image/heic, image/heif, image/webp" type="file" style="display: none">
                                                </div>
                                                <div
                                                    class="button_container_01"
                                                >
                                                    <div class="button_wrap_02">
                                                        <!-- 댓글 내용 있을 시 uploadButton_css_01:hover 사용 -->
                                                        <!-- 댓글 내용 없을 시 reply-button-disabled 사용-->
                                                        <button
                                                            class="button_disabled_01 upload-buttonSize_01 uploadButton_css_01"
                                                            type="button"
                                                            th:data-index="${post.id}"
                                                        >
                                                            등록
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-list comment_container_01" th:if="${session.member == null}">
                                <div
                                    class="button_disabled_01 button_disabled_01 comment-folded button_disabled_02"
                                >
                                    <div
                                        class="reply_nicknameWrap_01 reply_nicknameWrap_03"
                                    >
                                        <div
                                            class="nickname_imgWrap_01"
                                        >
                                            <div class=" img_wrap_01">
                                                <img
                                                    alt=""
                                                    loading="lazy"
                                                    decoding="async"
                                                    data-nimg="fill"
                                                    src="https://d33pksfia2a94m.cloudfront.net/studio/assets/img/common/avatar_default_icon.png?w=100&amp;h=100&amp;q=65"
                                                    style="
                                                        position: absolute;
                                                        height: 100%;
                                                        width: 100%;
                                                        inset: 0px;
                                                        object-fit: cover;
                                                        color: transparent;
                                                    "
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <textarea
                                        rows="1"
                                        aria-label="로그인 이용자만 댓글을 작성할 수 있어요."
                                        disabled=""
                                        placeholder="로그인 이용자만 댓글을 작성할 수 있어요."
                                        class="textareaInput_01 button_disabled_01 textareaInput_02"
                                        style="height: 32px; overflow: hidden"
                                    ></textarea
                                    ><textarea
                                        aria-hidden="true"
                                        class="textareaInput_01 button_disabled_01 textareaInput_02"
                                        readonly=""
                                        tabindex="-1"
                                        style="
                                            visibility: hidden;
                                            position: absolute;
                                            overflow: hidden;
                                            height: 0px;
                                            top: 0px;
                                            left: 0px;
                                            transform: translateZ(0px);
                                            padding-top: 0px;
                                            padding-bottom: 0px;
                                            width: 622px;
                                        "
                                    ></textarea>
                                </div>
                            </div>
                            <div class="reply-container"></div>
                        </div>
                    </section>
                </article>
            </div>
            <nav class="footer_navBar">
                <div class="nav_container_02">
                    <div class="nav_wrap_01">
                        <button
                            aria-label="좋아요"
                            class="upload-buttonSize_01 like_button_01 like-post-button"
                            type="button"
                            th:data-index="${post.id}"
                        >
                            <span class="more_diaryButton_span_01"
                                >
                                <svg
                                        th:if="${post.liked == false}"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="like_svg_01"
                                >
                                    <path
                                        d="m10.82 20.116-.097-.09-6.844-6.355A5.882 5.882 0 0 1 2 9.359v-.13C2 6.48 3.953 4.12 6.656 3.606A5.71 5.71 0 0 1 12 5.417a5.562 5.562 0 0 1 .977-.871 5.73 5.73 0 0 1 4.367-.945A5.73 5.73 0 0 1 22 9.23v.129c0 1.636-.68 3.199-1.879 4.312l-6.844 6.355-.097.09c-.32.297-.742.465-1.18.465a1.72 1.72 0 0 1-1.18-.465Zm.52-12.625a.205.205 0 0 1-.04-.043l-.695-.78-.003-.005A3.85 3.85 0 0 0 3.875 9.23v.13c0 1.113.465 2.18 1.281 2.937L12 18.651l6.844-6.355a4.012 4.012 0 0 0 1.281-2.937v-.13a3.851 3.851 0 0 0-6.723-2.566l-.004.004-.003.004-.696.781c-.011.016-.027.028-.039.043a.935.935 0 0 1-1.32 0v-.004Z"
                                        fill="currentcolor"
                                    ></path>
                                </svg
                            >
                                <svg
                                        th:if="${post.liked == true}"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="joy-fkbdob"
                                >
                                   <path d="M7.313 3.268a5.319 5.319 0 0 0-3.761 1.585A5.492 5.492 0 0 0 2 8.667c0 1.415.566 2.81 1.552 3.814l7.86 8.004c.323.33.853.33 1.177 0l7.859-8.004A5.444 5.444 0 0 0 22 8.667c0-1.428-.557-2.8-1.552-3.814a5.27 5.27 0 0 0-3.76-1.585 5.27 5.27 0 0 0-3.761 1.585L12 5.797l-.927-.944a5.319 5.319 0 0 0-3.76-1.585Z" fill="currentcolor"></path>
                                </svg
                                >
                            </span>
                            <p class="" th:text="${post.likeCount}"></p></button
                        ><button
                            aria-label="댓글"
                            class="upload-buttonSize_01 like_button_01 reply-count-button"
                            type="button"
                        >
                            <span class="more_diaryButton_span_01"
                                ><svg
                                    focusable="false"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="post_menuButton_svg_01"
                                >
                                    <path
                                        d="M6.832 17.535a1.877 1.877 0 0 1 1.742-.25c1.035.375 2.194.59 3.428.59 4.87 0 8.123-3.145 8.123-6.25s-3.253-6.25-8.123-6.25c-4.87 0-8.122 3.145-8.122 6.25 0 1.25.484 2.453 1.394 3.484.336.38.5.88.46 1.387a6.92 6.92 0 0 1-.44 1.93 9.811 9.811 0 0 0 1.538-.887v-.004Zm-3.999 1.586c.07-.105.137-.21.2-.316.39-.649.76-1.5.835-2.457-1.172-1.332-1.863-2.961-1.863-4.723 0-4.488 4.475-8.125 9.997-8.125C17.526 3.5 22 7.137 22 11.625c0 4.488-4.475 8.125-9.998 8.125-1.448 0-2.823-.25-4.065-.7-.465.34-1.222.805-2.12 1.196a9.564 9.564 0 0 1-1.957.629c-.031.008-.062.012-.094.02-.171.03-.34.058-.515.074-.008 0-.02.004-.027.004-.2.02-.399.03-.598.03a.625.625 0 0 1-.445-1.066 5.606 5.606 0 0 0 .629-.797l.011-.019h.012Z"
                                        fill="currentcolor"
                                    ></path></svg
                            ></span>
                            <p class="" th:text="${post.replyCount}"></p></button
                        ><button
                            class="uploadButton_01 nocomment_01 scrap-button_01"
                            type="button"
                            th:data-index="${post.id}"
                        >
                        <svg th:if="${post.scraped == false}"  aria-hidden="true" viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="MuiSvgIcon-root MuiSvgIcon-sizeMd post_menuButton_svg_01">
                            <path d="M4.5 3.875C4.5 2.84 5.34 2 6.375 2v17.242l5.082-3.629a.933.933 0 0 1 1.09 0l5.078 3.63V3.874H6.375V2h11.25c1.035 0 1.875.84 1.875 1.875v17.188a.938.938 0 0 1-1.48.762L12 17.526l-6.02 4.297a.938.938 0 0 1-1.48-.762V3.875Z" fill="currentcolor"></path>
                        </svg>
                        <svg th:if="${post.scraped == true}" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="MuiSvgIcon-root MuiSvgIcon-sizeMd joy-1wbk7pq">
                            <path d="M4.5 3.875v17.176a.95.95 0 0 0 1.496.777L12 17.625l6.004 4.203a.95.95 0 0 0 1.496-.777V3.875C19.5 2.84 18.66 2 17.625 2H6.375C5.34 2 4.5 2.84 4.5 3.875Z" fill="currentcolor"></path>
                        </svg>
                        </button>
                    </div>
                    <div class="moveButton_container_01">
                        <a
                            href="/@pampa234/post/18881035"
                            class="upload-buttonSize_01 like_button_01 previous-post"
                            ><span class="more_diaryButton_span_01"
                                ><svg
                                    focusable="false"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="post_menuButton_svg_01"
                                >
                                    <path
                                        d="M7.588 11.332a.934.934 0 0 0 0 1.325l7.5 7.504a.937.937 0 0 0 1.324-1.324l-6.836-6.84 6.84-6.836a.937.937 0 0 0-1.324-1.324l-7.504 7.495Z"
                                        fill="currentcolor"
                                    ></path></svg
                            ></span>
                            <p class="button_text_02">이전</p></a
                        ><a
                            href="/@pampa234/post/19114845"
                            class="upload-buttonSize_01 like_button_01 next-post"
                            ><p class="button_text_02">다음</p>
                            <span class="moveButton_span_01"
                                ><svg
                                    focusable="false"
                                    aria-hidden="true"
                                    viewBox="0 0 24 24"
                                    width="24"
                                    height="24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="post_menuButton_svg_01"
                                >
                                    <path
                                        d="M16.416 11.332a.934.934 0 0 1 0 1.325l-7.5 7.504a.937.937 0 0 1-1.324-1.324L14.428 12l-6.84-6.84a.937.937 0 0 1 1.324-1.324l7.504 7.495Z"
                                        fill="currentcolor"
                                    ></path></svg></span
                        ></a>
                    </div>
                </div>
            </nav>
        </main>
    </body>
    <script th:inline="javascript">
        const postInfo = [[${post}]];
        const loginMember = [[${session.member}]]
        if(loginMember){
            const loginMemberId = Number(loginMember.id);
        }
    </script>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/main/main-search-modal.js"></script>
    <script src="/js/post/date-from-now.js"></script>
    <script src="/js/post/file-service.js"></script>
    <script src="/js/post/read-service.js"></script>
    <script src="/js/post/read-layout.js"></script>
    <script src="/js/post/read-event.js"></script>
</html>
