<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Feelog Search</title>
        <link rel="stylesheet" href="/css/search/search.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/footer.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    </head>
    <body>
    <!-- 헤더 넣을 곳 -->
    <header id="main-header"
            th:replace="~{main/header.html :: #main-header}"></header>
    <!-- 헤더 넣을 곳 -->
        <div class="FlgStack-root-need jk-feelog-div033">
            <hr class="joy-11tckv3" />
            <div class="FlgStack-root-need joy-1q3aa9y">
                <main class="FlgStack-root-need joy-11xvnm7">
                    <div class="FlgStack-root-need joy-jk18hr">
                        <div
                            class="FlgStack-root-need joy-h4cwe0"
                            data-google-interstitial="false"
                        >
                            <div class="FlgStack-root-need joy-ax7otn">
                                <div class="FlgBox-root-need jk-feelog-div021">
                                    <form>
                                        <div
                                            class="FlgInput-root-need FlgInput-variantSoft joy-gd7et"
                                        >
                                            <div class="joy-prz8ey">
                                                <svg
                                                    focusable="false"
                                                    aria-hidden="true"
                                                    viewBox="0 0 24 24"
                                                    width="24"
                                                    height="24"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    class="jk-feelog-main-svg01"
                                                >
                                                    <path
                                                        d="M16.375 10.125a6.25 6.25 0 1 0-12.5 0 6.25 6.25 0 0 0 12.5 0Zm-1.207 6.371a8.086 8.086 0 0 1-5.043 1.754A8.124 8.124 0 0 1 2 10.125 8.124 8.124 0 0 1 10.125 2a8.124 8.124 0 0 1 8.125 8.125c0 1.906-.656 3.66-1.754 5.043l5.23 5.23a.937.937 0 0 1-1.324 1.324l-5.234-5.226Z"
                                                        fill="currentcolor"
                                                    ></path>
                                                </svg>
                                            </div>
                                            <input
                                                aria-label="검색어 입력"
                                                maxlength="50"
                                                class="FlgInput-input-need joy-eq6fv7"
                                                placeholder="검색어를 입력해 주세요."
                                                name="keyword"
                                            />
                                            <div
                                                class="FlgInput-endDecorator joy-tob0ta"
                                            >
                                                <button
                                                    type="button"
                                                    class="jk-feelog-btn014"
                                                >
                                                    <svg
                                                        focusable="false"
                                                        aria-hidden="true"
                                                        viewBox="0 0 24 24"
                                                        width="24"
                                                        height="24"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="joy-18nqtbw"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20ZM9.707 8.293a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                                                            fill="currentcolor"
                                                        ></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div
                                            class="FlgInput-root-need FlgInput-variantSoft FlgInput-sizeSm joy-1rvaho9"
                                        >
                                            <div class="joy-prz8ey">
                                                <svg
                                                    focusable="false"
                                                    aria-hidden="true"
                                                    viewBox="0 0 24 24"
                                                    width="24"
                                                    height="24"
                                                    fill="none"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    class="jk-feelog-main-svg01"
                                                >
                                                    <path
                                                        d="M16.375 10.125a6.25 6.25 0 1 0-12.5 0 6.25 6.25 0 0 0 12.5 0Zm-1.207 6.371a8.086 8.086 0 0 1-5.043 1.754A8.124 8.124 0 0 1 2 10.125 8.124 8.124 0 0 1 10.125 2a8.124 8.124 0 0 1 8.125 8.125c0 1.906-.656 3.66-1.754 5.043l5.23 5.23a.937.937 0 0 1-1.324 1.324l-5.234-5.226Z"
                                                        fill="currentcolor"
                                                    ></path>
                                                </svg>
                                            </div>
                                            <!--<input
                                                aria-label="검색어 입력"
                                                maxlength="50"
                                                class="FlgInput-input-need joy-eq6fv7"
                                                value="청"
                                                name="keyword"
                                            />-->
                                            <div
                                                class="FlgInput-endDecorator joy-tob0ta"
                                            >
                                                <button
                                                    type="button"
                                                    class="jk-feelog-btn014"
                                                >
                                                    <svg
                                                        focusable="false"
                                                        aria-hidden="true"
                                                        viewBox="0 0 24 24"
                                                        width="24"
                                                        height="24"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        class="joy-18nqtbw"
                                                    >
                                                        <path
                                                            fill-rule="evenodd"
                                                            clip-rule="evenodd"
                                                            d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20ZM9.707 8.293a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                                                            fill="currentcolor"
                                                        ></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <input class="sr-only" type="submit" />
                                    </form>
                                </div>

                            </div>
                            <div class="FlgBox-root-need joy-79elbk">
                                <nav class="FlgBox-root-need joy-1a2ckny">
                                    <ul class="search-tab FlgList-sizeMd-need joy-13gry7j">
                                        <a
                                            th:href="@{/search/search(keyword=${keyword})}"
                                            th:class="${type} == null ? 'default joy-yhpm4r' : 'joy-1t2bmje'"
                                            ><p
                                                th:class="${type} == null ? 'joy-7rqbdn' : 'joy-r8ur5l'">
                                                전체
                                            </p></a
                                        ><a
                                            th:href="@{/search/search(keyword=${keyword}, type='diary')}"
                                            th:class="${type} == 'diary' ? 'default joy-yhpm4r' : 'joy-1t2bmje'"
                                            ><p
                                            th:class="${type} == 'diary' ? 'joy-7rqbdn' : 'joy-r8ur5l'">
                                                마음 일기
                                            </p></a
                                        ><a
                                            th:href="@{/search/search(keyword=${keyword}, type='post')}"
                                            th:class="${type} == 'post' ? 'default joy-yhpm4r' : 'joy-1t2bmje'"
                                            ><p th:class="${type} == 'post' ? 'joy-7rqbdn' : 'joy-r8ur5l'">
                                                포스트
                                            </p></a
                                        ><a
                                            th:href="@{/search/search(keyword=${keyword}, type='cheer')}"
                                            th:class="${type} == 'cheer' ? 'default joy-yhpm4r' : 'joy-1t2bmje'"
                                            ><p th:class="${type} == 'cheer' ? 'joy-7rqbdn' : 'joy-r8ur5l'">
                                                응원글
                                            </p></a
                                        ><a
                                            th:href="@{/search/search(keyword=${keyword}, type='channel')}"
                                            th:class="${type} == 'channe;' ? 'default joy-yhpm4r' : 'joy-1t2bmje'"
                                            ><p th:class="${type} == 'channel' ? 'joy-7rqbdn' : 'joy-r8ur5l'">
                                                채널
                                            </p></a
                                        >
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="FlgStack-root-need joy-spflnw">
                            <div th:if="${type} == null or ${type} == 'diary'">
                            <div class="FlgStack-root-need jk-feelog-div031">
                                <header class="joy-1yenopd">
                                    [마음 일기]
                                </header>
                                <div class="FlgStack-root-need joy-6ye9za container-diary">
                                    <div class="FlgBox-root-need joy-1hw15it" th:each="diary : ${diaries}" data-google-interstitial="false">
                                        <div class="FlgStack-root-need joy-w5a8kp diary-card" th:attr="data-diary-id=${diary.id}">
                                            <div class="FlgStack-root-need joy-16yrq9k ">
                                                <span class="FlgStack-root-need joy-1kkt86i"  role="link" style="cursor: pointer;" th:attr="data-href='/diary/diary-read?id=' + ${diary.id}">
                                                    <h3 class="joy-qs45i0" th:text="${diary.title}">제목</h3>
                                                    <p class="main-post-subtitle jk-feelog-p010">
                                                        <span class="joy-i9tg8j" th:utext="${#strings.abbreviate(diary.content, 100)}">내용 일부</span>
                                                    </p>
                                                </span>
                                                <div class="FlgStack-root-need joy-1q1zl3i">
                                                    <a th:each="tag : ${diary.tagsList}"
                                                       th:href="@{/search/search(keyword=${tag})}"
                                                       class="FlgChip-root-need FlgChip-colorNeutral-need FlgChip-sizeSm-need FlgChip-variantSoft-need jk-feelog-a-004">
                                                        <span class="tag FlgChip-label-need jk-feelog-span006"
                                                              th:attr="data-tag-content=${tag}"
                                                              th:text="'#' + ${tag}">태그</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <a class="FlgBox-root-need joy-rtjsnx" th:href="@{'/diary/diary-read?id=' + ${diary.id}}">
                                                <img th:src="${#strings.isEmpty(diary.thumbnailUrl)
                                                                            || diary.thumbnailUrl == '/'
                                                                            || diary.thumbnailUrl == 'null'
                                                                            ? '/images/channel_banner.png'
                                                                            : '/files/display?path=' + diary.thumbnailUrl}"
                                                     style="position: absolute; height: 100%; width: 100%; object-fit: cover;" alt="썸네일" />
                                            </a>
                                        </div>
                                        <div class="FlgStack-root-need joy-k2m8sx" data-google-interstitial="false">
                                            <div class="FlgStack-root-need joy-1uop93y">
                                                <a th:href="@{'/profile/' + ${diary.memberId}}" class="joy-12vg8yv">
                                                    <div class="main-post-avatar joy-auxif9">
                                                        <img th:src="@{'/files/display?path=' + ${diary.memberProfileImg}}" alt="프로필 이미지" class="jk-feelog-img001" />
                                                    </div>
                                                </a>
                                                <div class="FlgStack-root-need joy-1n1ctis">
                                                    <p class="joy-ux2rns">
                                                        <a class="FlgTypography-inherit joy-1w8agmd" th:href="@{'/profile/' + ${diary.memberId}}" th:text="${diary.nickname}">닉네임</a>
                                                    </p>
                                                    <div class="FlgStack-root-need main-post-metadata joy-14ly3d9">
                                                        <p class="jk-feelog-p013" th:text="${diary.createdDate}">날짜</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="jk-feelog-hr01">

                                    </div>
                                </div>
                                <div class="FlgBox-root-need joy-lbtr12">
                                    <button
                                            class="FlgButton-sizeMd-need joy-47vq9z load-more-btn-diary"
                                            th:data-type="diary"
                                            th:data-offset="5"
                                            th:data-keyword="${keyword == null ? '' : keyword}">
                                    마음 일기 더 보기</button
                                    >
                                </div>

                            </div>
                            </div>
                            <div th:if="${type} == null or ${type} == 'post'">
                            <div
                                class="FlgStack-root-need jk-feelog-div031"
                                data-google-interstitial="false"
                            >
                                <header class="joy-1yenopd">[포스트]</header>
                                <div class="FlgStack-root-need joy-4473rl container-post">
                                    <div class="FlgStack-root-need joy-12smpxv post-card"
                                         th:each="post : ${channelPosts}"
                                         th:attr="data-post-id=${post.id}">

        <span class="FlgBox-root-need joy-1lrlkwu"
              role="link"
              style="cursor: pointer;"
              th:attr="data-href='/post/read?id=' + ${post.id}">
            <div class="FlgBox-root-need jk-feelog-div056">
                <img th:src="${#strings.isEmpty(post.thumbnailUrl)
            || post.thumbnailUrl == '/'
            || post.thumbnailUrl == 'null'
            ? '/images/channel_banner.png'
            : '/files/display?path=' + post.thumbnailUrl}"
                     alt="대표 이미지"
                     loading="lazy" decoding="async"
                     style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover;" />
            </div>
        </span>

                                        <div class="FlgStack-root-need joy-pvvyl1">
            <span role="link" style="cursor: pointer;" th:attr="data-href='/post/read?id=' + ${post.id}">
                <h3 class="joy-j4zrps" th:text="${post.title}">제목</h3>
            </span>
                                            <span role="link" style="cursor: pointer;" th:attr="data-href='/post/read?id=' + ${post.id}">
                <p class="joy-if6bzd" th:utext="${#strings.abbreviate(post.content, 100)}">내용 요약</p>
            </span>
                                            <p class="joy-mf6g6b">
                                                <a class="FlgTypography-inherit joy-1onqwxe"
                                                   th:href="@{'/profile/' + ${post.memberId}}"
                                                   th:text="${post.nickname}">닉네임</a>
                                            </p>
                                            <div class="FlgStack-root-need joy-cs0i1i">
                                                <a th:each="tag : ${post.tagsList}"
                                                   th:href="@{/search/search(keyword=${tag})}"
                                                   class="FlgChip-root-need FlgChip-colorNeutral-need FlgChip-sizeSm-need FlgChip-variantSoft-need joy-1e5bhkj">
                                                    <span class="tag FlgChip-label-need jk-feelog-span006" th:text="${tag}">태그</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="FlgBox-root-need joy-lbtr12">
                                    <button
                                        class="FlgButton-sizeMd-need joy-47vq9z load-more-btn-post"
                                        th:data-type="post"
                                        th:data-offset="5"
                                        th:data-keyword="${keyword == null ? '' : keyword}"
                                        >포스트 더 보기</button
                                    >
                                </div>
                            </div>
                            </div>

                            <div th:if="${type} == null or ${type} == 'cheer'">
                                <div
                                        class="FlgStack-root-need jk-feelog-div031"
                                        data-google-interstitial="false"
                                >
                                    <header class="joy-1yenopd">[응원글]</header>
                                    <div class="FlgStack-root-need joy-4473rl container-cheer">
                                        <div class="FlgStack-root-need joy-12smpxv cheer-card"
                                             th:each="cheer : ${channelPostsCheer}"
                                             th:attr="data-cheer-id=${cheer.id}">

    <span class="FlgBox-root-need joy-1lrlkwu"
          role="link" style="cursor: pointer;"
          th:attr="data-href='/post/read?id=' + ${cheer.id}">
        <div class="FlgBox-root-need jk-feelog-div056">
            <img th:src="${#strings.isEmpty(cheer.thumbnailUrl)
            || cheer.thumbnailUrl == '/'
            || cheer.thumbnailUrl == 'null'
            ? '/images/channel_banner.png'
            : '/files/display?path=' + cheer.thumbnailUrl}"
                 alt="대표 이미지"
                 loading="lazy" decoding="async"
                 style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;" />
        </div>
    </span>

                                            <div class="FlgStack-root-need joy-pvvyl1">
        <span role="link" style="cursor: pointer;" th:attr="data-href='/post/read?id=' + ${cheer.id}">
            <h3 class="joy-j4zrps" th:text="${cheer.title}">제목</h3>
        </span>
                                                <span role="link" style="cursor: pointer;" th:attr="data-href='/post/read?id=' + ${cheer.id}">
            <p class="joy-if6bzd" th:utext="${#strings.abbreviate(cheer.content, 100)}">내용 요약</p>
        </span>
                                                <p class="joy-mf6g6b">
                                                    <a class="FlgTypography-inherit joy-1onqwxe"
                                                       th:href="@{'/profile/' + ${cheer.memberId}}"
                                                       th:text="${cheer.nickname}">닉네임</a>
                                                </p>
                                                <div class="FlgStack-root-need joy-cs0i1i">
                                                    <a th:each="tag : ${cheer.tagsList}"
                                                       th:href="@{/search/search(keyword=${tag})}"
                                                       class="FlgChip-root-need FlgChip-colorNeutral-need FlgChip-sizeSm-need FlgChip-variantSoft-need joy-1e5bhkj">
                <span class="tag FlgChip-label-need jk-feelog-span006"
                      th:attr="data-tag-content=${tag}"
                      th:text="'#' + ${tag}">태그</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="FlgBox-root-need joy-lbtr12">
                                        <button
                                                class="FlgButton-sizeMd-need joy-47vq9z load-more-btn-cheer"
                                                th:data-type="cheer"
                                                th:data-offset="5"
                                                th:data-keyword="${keyword == null ? '' : keyword}"
                                        >응원글 더 보기</button
                                        >
                                    </div>
                                </div>
                            </div>

                            <div th:if="${type} == null or ${type} == 'channel'">
                            <div
                                class="FlgStack-root-need jk-feelog-div031"
                                data-google-interstitial="false"
                            >
                                <header class="joy-1yenopd">
                                    [채널]
                                </header>
                                <div class="FlgStack-root-need joy-4473rl container-channel">
                                    <div class="FlgBox-root-need joy-c1ffoy" th:each="channel : ${channels}">
                                        <a th:href="@{'/feelog.com/@' + ${channel.channelUrl}}" style="height: fit-content">
                                            <div class="joy-1mszhh9">
                                                <div class="jk-feelog-div055">
                                                    <div class="FlgBox-root-need jk-feelog-div056" data-first-child="">
                                                        <img th:src="@{'/files/display?path=' + ${channel.thumbnailUrl}}"
                                                             alt="채널 대표 이미지" loading="lazy" decoding="async"
                                                             style="position:absolute;height:100%;width:100%;inset:0;object-fit:cover;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="joy-18i1ml1">
                                                <div class="jk-feelog-div055">
                                                    <div class="FlgBox-root-need jk-feelog-div056" data-first-child="">
                                                        <img th:src="${#strings.isEmpty(channel.thumbnailUrl)
            || channel.thumbnailUrl == '/'
            || channel.thumbnailUrl == 'null'
            ? '/images/channel_banner.png'
            : '/files/display?path=' + channel.thumbnailUrl}"
                                                             alt="프로필 미리보기" loading="lazy" decoding="async"
                                                             style="position:absolute;height:100%;width:100%;inset:0;object-fit:cover;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="FlgStack-root-need joy-1x7p52c">
                                            <div class="FlgStack-root-need joy-187jtt">
                                                <div class="FlgStack-root-need joy-1n1ctis">
                                                    <a th:href="@{'/channel/' + ${channel.id}}">
                                                        <h3 class="joy-1wgv3md" th:text="${channel.title}">채널 제목</h3>
                                                    </a>
                                                    <p class="joy-1xn91ef">
                                                        <a class="FlgTypography-inherit joy-1l8panl"
                                                           th:text="${channel.nickname}">멤버 닉네임</a>·
                                                        <a class="FlgTypography-inherit joy-4xpt5n"
                                                           th:text="${channel.subscriberCount} + '명'">구독자 수</a>
                                                    </p>
                                                </div>
                                                <div class="FlgStack-root-need joy-19sxttz">
                                                    <button
                                                            class="FlgButton-sizeSm-need joy-ubyl7c subscribe-btn"
                                                            type="button"
                                                            th:data-channel-id="${channel.id}"
                                                            th:text="${channel.subscribed} ? '구독 취소' : '구독'">
                                                    </button>

                                                </div>
                                            </div>
                                            <p class="joy-1dtob7v" th:text="${channel.description}">채널 소개</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="FlgBox-root-need joy-1iwjh4a">
                                    <button
                                        class="FlgButton-sizeMd-need joy-47vq9z load-more-btn-channel"
                                        th:data-type="channel"
                                        th:data-offset="5"
                                        th:data-keyword="${keyword == null ? '' : keyword}"
                                        >채널 더 보기</button
                                    >
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <section class="FlgStack-root-need joy-5x3w9r" data-google-interstitial="false">
                        <div class="FlgStack-root-need joy-1p7f5no">
                            <p class="joy-artgpu">연관 검색어</p>
                            <div class="FlgStack-root-need joy-tz0dn6">
                                <th:block th:each="keyword, iterStat : ${relatedKeywords}" th:if="${iterStat.index} < 10">
                                    <a class="FlgChip-root-need FlgChip-colorNeutral-need FlgChip-sizeLg FlgChip-variantSoft-need joy-1sf5u6j"
                                       th:href="@{/search/search(keyword=${keyword})}">
                <span class="FlgChip-label-need FlgChip-label-needLg jk-feelog-span006"
                      th:text="'#' + ${keyword}">#키워드</span>
                                    </a>
                                </th:block>
                            </div>
                        </div>

                        <div class="FlgStack-root-need joy-1t7isdu">
                            <div class="FlgStack-root-need jk-feelog-div022">
                                <p class="joy-artgpu">추천 태그</p>
                                <div class="FlgStack-root-need joy-tz0dn6">
                                    <a th:each="tag : ${recommendedTags}"
                                       class="FlgChip-root-need FlgChip-colorNeutral-need FlgChip-sizeLg FlgChip-variantSoft-need joy-1sf5u6j"
                                       th:href="@{/search/search(keyword=${tag})}">
                    <span class="FlgChip-label-need FlgChip-label-needLg jk-feelog-span006"
                          th:text="'#' + ${tag}">#태그</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>




        <!-- footer 넣을 곳 -->
        <footer id="main-footer"
                th:replace="~{main/footer.html :: #main-footer}"></footer>
        <!-- footer 넣을 곳 -->
    </body>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/search/search.js"></script>
    <script src="/js/subscribe/subscribe.js"></script>
    <script src="/js/main/main-search-modal.js"></script>
    <script src="/js/main/notification.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const keyword = /*[[${keyword}]]*/ '';
        if (keyword) {
            sessionStorage.setItem('searchKeyword', keyword);
            console.log("서버에서 받은 키워드 sessionStorage에 재저장:", keyword);
        }
        /*]]>*/
    </script>
</html>
