<!-- 2025.04.06 조승찬 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/myPage/notify-admin-list.css" />
        <title>관리자 알림 목록</title>
    </head>
    <body>
        <div class="FeelogStack-root flog-div-1">
            <!-- 헤더 넣을 곳 -->

            <div class="feelog-header-mainDiv" id="header-container"></div>
            <script>
                // Load header.html and insert it in#header-placeholder
                fetch("../main/header.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("header-container").innerHTML = data;
                    })
                    .catch((error) => console.error("Error loading header:", error));
            </script>
            <!-- 헤더 넣을 곳 -->
            <div class="FeelogStack-root flog-div-12">
                <div class="FeelogStack-root flog-div-13">
                    <nav class="subnavigation FeelogBox-root flog-nav-2">
                        <ul
                            class="FeelogList-root FeelogList-vertical FeelogList-variantPlain FeelogList-colorNeutral FeelogList-sizeMd flog-ul-1"
                        >
                            <a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="?type=comment_and_community"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    댓글
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="?type=order_and_payments"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    커뮤니티
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain selected flog-a-7"
                                href="?type=admin_notification"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-5">
                                    관리자 알림
                                </p></a
                            >
                        </ul>
                    </nav>
                    <main class="FeelogStack-root flog-main-4">
                        <div class="FeelogStack-root flog-div-60">
                            <div class="FeelogStack-root flog-div-61">
                                <div class="FeelogBox-root flog-div-62">
                                    <span class="FeelogBadge-root flog-span-4"
                                        ><a
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-18"
                                            ><div
                                                class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeLg flog-div-63"
                                            >
                                                <img
                                                    alt=""
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/brand/symbol-80.png?w=100&amp;h=100&amp;q=65"
                                                    loading="lazy"
                                                    class="FeelogAvatar-img flog-img-1"
                                                /></div></a
                                        ><span
                                            class="FeelogBadge-badge FeelogBadge-invisible FeelogBadge-anchorOriginTopLeft FeelogBadge-variantSolid FeelogBadge-colorDanger FeelogBadge-sizeSm flog-span-11"
                                        ></span
                                    ></span>
                                    <div class="FeelogStack-root flog-article-1">
                                        <div class="FeelogBox-root flog-div-64">
                                            <h6 class="FeelogTypography-root FeelogTypography-body-md flog-h6-1">
                                                <span
                                                    class="FeelogTypography-root FeelogTypography-title-md flog-span-12"
                                                    >포스트를 썸네일 없이 발행하고 있진 않으신가요? 썸네일만 넣어도
                                                    조회수가 36% 높아져요!</span
                                                ><span
                                                    class="FeelogTypography-root FeelogTypography-body-sm flog-span-13"
                                                >
                                                    3일 전</span
                                                >
                                            </h6>
                                        </div>
                                        <div class="FeelogBox-root flog-div-65">
                                            <div
                                                class="FeelogSheet-root FeelogSheet-variantSoft FeelogSheet-colorNeutral flog-div-66"
                                            >
                                                <div class="FeelogStack-root flog-div-67">
                                                    <a
                                                        class="FeelogBox-root flog-a-19"
                                                        href="https://www.postype.com/notification/2317727988"
                                                        ><p
                                                            class="FeelogTypography-root FeelogTypography-body-md flog-p-12"
                                                        >
                                                            조승찬 님, 썸네일을 포함한 포스트의 경우 그렇지 않은
                                                            포스트에 비해 조회수는 36%, 구매·후원 수는 40% 더 높다는
                                                            사실 알고 계셨나요?&nbsp; 지금 바로 제목과 작품 내용,
                                                            분위기와 관련성이 높은 이미지를 썸네일로 설정하여 작품을 좀
                                                            더 매력적으로 세팅해 보세요. 관련하여 더욱 자세한 팁은
                                                            크리에이터 가이드 '#2. 조회수 높이는 포스트 제목&amp;썸네일
                                                            노하우' 를 통해 확인하실 수 있어요. 그럼, 한 단계 더 성장한
                                                            크리에이터 조승찬 님의 모습 기대할게요! 창작에 수익을
                                                            더하다, 필로그.
                                                        </p></a
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="FeelogDivider-root FeelogDivider-horizontal flog-hr-2" />
                                <div class="FeelogBox-root flog-div-62">
                                    <span class="FeelogBadge-root flog-span-4"
                                        ><a
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-18"
                                            ><div
                                                class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeLg flog-div-63"
                                            >
                                                <img
                                                    alt=""
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/brand/symbol-80.png?w=100&amp;h=100&amp;q=65"
                                                    loading="lazy"
                                                    class="FeelogAvatar-img flog-img-1"
                                                /></div></a
                                        ><span
                                            class="FeelogBadge-badge FeelogBadge-invisible FeelogBadge-anchorOriginTopLeft FeelogBadge-variantSolid FeelogBadge-colorDanger FeelogBadge-sizeSm flog-span-11"
                                        ></span
                                    ></span>
                                    <div class="FeelogStack-root flog-article-1">
                                        <div class="FeelogBox-root flog-div-64">
                                            <h6 class="FeelogTypography-root FeelogTypography-body-md flog-h6-1">
                                                <span
                                                    class="FeelogTypography-root FeelogTypography-title-md flog-span-12"
                                                    >누구나 팬을 모으고 수익을 올릴 수 있는 필로그에 오신 것을
                                                    환영합니다!</span
                                                ><span
                                                    class="FeelogTypography-root FeelogTypography-body-sm flog-span-13"
                                                >
                                                    4일 전</span
                                                >
                                            </h6>
                                        </div>
                                        <div class="FeelogBox-root flog-div-65">
                                            <div
                                                class="FeelogSheet-root FeelogSheet-variantSoft FeelogSheet-colorNeutral flog-div-66"
                                            >
                                                <div class="FeelogStack-root flog-div-67">
                                                    <a
                                                        class="FeelogBox-root flog-a-19"
                                                        href="https://www.postype.com/notification/2315901526"
                                                        ><p
                                                            class="FeelogTypography-root FeelogTypography-body-md flog-p-12"
                                                        >
                                                            창작에 수익을 더하다,&nbsp;필로그에 오신 것을 환영합니다.
                                                            필로그에서는 자신만의 세계를 키워 나갈 크리에이터,
                                                            크리에이터를 열렬히 응원할 팬을 찾고 있어요.그 출발점에 서
                                                            계신 조승찬 님을 위해 필로그에서 가이드를 준비했어요.아래
                                                            가이드를 참고하시고, 필로그에서의 활동을 시작해
                                                            보세요!&nbsp;Q. 팬을 모으고 창작 수익을 올리고
                                                            싶다면?&nbsp;➡️ 필로그 크리에이터 첫 걸음 가이드와 튜토리얼
                                                            영상을 참고해 보세요. 크리에이터로 내딛는 첫 걸음이 보다
                                                            수월할 거예요. Q. 내 취향의 콘텐츠를 즐기고 크리에이터를
                                                            응원하고 싶다면?➡️ 필로그 팬·구독자 첫 걸음 가이드를 참고해
                                                            보세요. 필로그의 수많은 크리에이터가 소중한 팬을 기다리고
                                                            있어요!
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="FeelogDivider-root FeelogDivider-horizontal flog-hr-2" />
                                <div class="FeelogBox-root flog-div-62">
                                    <span class="FeelogBadge-root flog-span-4"
                                        ><a
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-18"
                                            ><div
                                                class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeLg flog-div-63"
                                            >
                                                <img
                                                    alt=""
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/brand/symbol-80.png?w=100&amp;h=100&amp;q=65"
                                                    loading="lazy"
                                                    class="FeelogAvatar-img flog-img-1"
                                                /></div></a
                                        ><span
                                            class="FeelogBadge-badge FeelogBadge-invisible FeelogBadge-anchorOriginTopLeft FeelogBadge-variantSolid FeelogBadge-colorDanger FeelogBadge-sizeSm flog-span-11"
                                        ></span
                                    ></span>
                                    <div class="FeelogStack-root flog-article-1">
                                        <div class="FeelogBox-root flog-div-64">
                                            <h6 class="FeelogTypography-root FeelogTypography-body-md flog-h6-1">
                                                <span
                                                    class="FeelogTypography-root FeelogTypography-title-md flog-span-12"
                                                    >누구나 팬을 모으고 수익을 올릴 수 있는 필로그에 오신 것을
                                                    환영합니다!</span
                                                ><span
                                                    class="FeelogTypography-root FeelogTypography-body-sm flog-span-13"
                                                >
                                                    4일 전</span
                                                >
                                            </h6>
                                        </div>
                                        <div class="FeelogBox-root flog-div-65">
                                            <div
                                                class="FeelogSheet-root FeelogSheet-variantSoft FeelogSheet-colorNeutral flog-div-66"
                                            >
                                                <div class="FeelogStack-root flog-div-67">
                                                    <a
                                                        class="FeelogBox-root flog-a-19"
                                                        href="https://www.postype.com/notification/2315901526"
                                                        ><p
                                                            class="FeelogTypography-root FeelogTypography-body-md flog-p-12"
                                                        >
                                                            창작에 수익을 더하다,&nbsp;필로그에 오신 것을 환영합니다.
                                                            필로그에서는 자신만의 세계를 키워 나갈 크리에이터,
                                                            크리에이터를 열렬히 응원할 팬을 찾고 있어요.그 출발점에 서
                                                            계신 조승찬 님을 위해 필로그에서 가이드를 준비했어요.아래
                                                            가이드를 참고하시고, 필로그에서의 활동을 시작해
                                                            보세요!&nbsp;Q. 팬을 모으고 창작 수익을 올리고
                                                            싶다면?&nbsp;➡️ 필로그 크리에이터 첫 걸음 가이드와 튜토리얼
                                                            영상을 참고해 보세요. 크리에이터로 내딛는 첫 걸음이 보다
                                                            수월할 거예요. Q. 내 취향의 콘텐츠를 즐기고 크리에이터를
                                                            응원하고 싶다면?➡️ 필로그 팬·구독자 첫 걸음 가이드를 참고해
                                                            보세요. 필로그의 수많은 크리에이터가 소중한 팬을 기다리고
                                                            있어요!
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="FeelogDivider-root FeelogDivider-horizontal flog-hr-2" />
                                <div class="FeelogBox-root flog-div-62">
                                    <span class="FeelogBadge-root flog-span-4"
                                        ><a
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-18"
                                            ><div
                                                class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeLg flog-div-63"
                                            >
                                                <img
                                                    alt=""
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/brand/symbol-80.png?w=100&amp;h=100&amp;q=65"
                                                    loading="lazy"
                                                    class="FeelogAvatar-img flog-img-1"
                                                /></div></a
                                        ><span
                                            class="FeelogBadge-badge FeelogBadge-invisible FeelogBadge-anchorOriginTopLeft FeelogBadge-variantSolid FeelogBadge-colorDanger FeelogBadge-sizeSm flog-span-11"
                                        ></span
                                    ></span>
                                    <div class="FeelogStack-root flog-article-1">
                                        <div class="FeelogBox-root flog-div-64">
                                            <h6 class="FeelogTypography-root FeelogTypography-body-md flog-h6-1">
                                                <span
                                                    class="FeelogTypography-root FeelogTypography-title-md flog-span-12"
                                                    >누구나 팬을 모으고 수익을 올릴 수 있는 필로그에 오신 것을
                                                    환영합니다!</span
                                                ><span
                                                    class="FeelogTypography-root FeelogTypography-body-sm flog-span-13"
                                                >
                                                    4일 전</span
                                                >
                                            </h6>
                                        </div>
                                        <div class="FeelogBox-root flog-div-65">
                                            <div
                                                class="FeelogSheet-root FeelogSheet-variantSoft FeelogSheet-colorNeutral flog-div-66"
                                            >
                                                <div class="FeelogStack-root flog-div-67">
                                                    <a
                                                        class="FeelogBox-root flog-a-19"
                                                        href="https://www.postype.com/notification/2315901526"
                                                        ><p
                                                            class="FeelogTypography-root FeelogTypography-body-md flog-p-12"
                                                        >
                                                            창작에 수익을 더하다,&nbsp;필로그에 오신 것을 환영합니다.
                                                            필로그에서는 자신만의 세계를 키워 나갈 크리에이터,
                                                            크리에이터를 열렬히 응원할 팬을 찾고 있어요.그 출발점에 서
                                                            계신 조승찬 님을 위해 필로그에서 가이드를 준비했어요.아래
                                                            가이드를 참고하시고, 필로그에서의 활동을 시작해
                                                            보세요!&nbsp;Q. 팬을 모으고 창작 수익을 올리고
                                                            싶다면?&nbsp;➡️ 필로그 크리에이터 첫 걸음 가이드와 튜토리얼
                                                            영상을 참고해 보세요. 크리에이터로 내딛는 첫 걸음이 보다
                                                            수월할 거예요. Q. 내 취향의 콘텐츠를 즐기고 크리에이터를
                                                            응원하고 싶다면?➡️ 필로그 팬·구독자 첫 걸음 가이드를 참고해
                                                            보세요. 필로그의 수많은 크리에이터가 소중한 팬을 기다리고
                                                            있어요!
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="FeelogDivider-root FeelogDivider-horizontal flog-hr-2" />
                                <div class="FeelogBox-root flog-div-62">
                                    <span class="FeelogBadge-root flog-span-4"
                                        ><a
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-18"
                                            ><div
                                                class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeLg flog-div-63"
                                            >
                                                <img
                                                    alt=""
                                                    src="https://d33pksfia2a94m.cloudfront.net/assets/img/brand/symbol-80.png?w=100&amp;h=100&amp;q=65"
                                                    loading="lazy"
                                                    class="FeelogAvatar-img flog-img-1"
                                                /></div></a
                                        ><span
                                            class="FeelogBadge-badge FeelogBadge-invisible FeelogBadge-anchorOriginTopLeft FeelogBadge-variantSolid FeelogBadge-colorDanger FeelogBadge-sizeSm flog-span-11"
                                        ></span
                                    ></span>
                                    <div class="FeelogStack-root flog-article-1">
                                        <div class="FeelogBox-root flog-div-64">
                                            <h6 class="FeelogTypography-root FeelogTypography-body-md flog-h6-1">
                                                <span
                                                    class="FeelogTypography-root FeelogTypography-title-md flog-span-12"
                                                    >누구나 팬을 모으고 수익을 올릴 수 있는 필로그에 오신 것을
                                                    환영합니다!</span
                                                ><span
                                                    class="FeelogTypography-root FeelogTypography-body-sm flog-span-13"
                                                >
                                                    4일 전</span
                                                >
                                            </h6>
                                        </div>
                                        <div class="FeelogBox-root flog-div-65">
                                            <div
                                                class="FeelogSheet-root FeelogSheet-variantSoft FeelogSheet-colorNeutral flog-div-66"
                                            >
                                                <div class="FeelogStack-root flog-div-67">
                                                    <a
                                                        class="FeelogBox-root flog-a-19"
                                                        href="https://www.postype.com/notification/2315901526"
                                                        ><p
                                                            class="FeelogTypography-root FeelogTypography-body-md flog-p-12"
                                                        >
                                                            창작에 수익을 더하다,&nbsp;필로그에 오신 것을 환영합니다.
                                                            필로그에서는 자신만의 세계를 키워 나갈 크리에이터,
                                                            크리에이터를 열렬히 응원할 팬을 찾고 있어요.그 출발점에 서
                                                            계신 조승찬 님을 위해 필로그에서 가이드를 준비했어요.아래
                                                            가이드를 참고하시고, 필로그에서의 활동을 시작해
                                                            보세요!&nbsp;Q. 팬을 모으고 창작 수익을 올리고
                                                            싶다면?&nbsp;➡️ 필로그 크리에이터 첫 걸음 가이드와 튜토리얼
                                                            영상을 참고해 보세요. 크리에이터로 내딛는 첫 걸음이 보다
                                                            수월할 거예요. Q. 내 취향의 콘텐츠를 즐기고 크리에이터를
                                                            응원하고 싶다면?➡️ 필로그 팬·구독자 첫 걸음 가이드를 참고해
                                                            보세요. 필로그의 수많은 크리에이터가 소중한 팬을 기다리고
                                                            있어요!
                                                        </p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="FeelogDivider-root FeelogDivider-horizontal flog-hr-2" />
                                <div class="FeelogBox-root flog-div-68">
                                    <div class="FeelogStack-root flog-div-31" data-google-interstitial="false">
                                        <a
                                            type="button"
                                            class="FeelogIconButton-root FeelogIconButton-variantSoft FeelogIconButton-colorNeutral FeelogIconButton-sizeSm flog-a-20"
                                            href="?type=comment_and_community&amp;page=1"
                                            >더보기</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <!-- footer 넣을 곳 -->
            <div class="joy-17imqrx" id="footer-container"></div>
            <script>
                // Load footer.html and insert it into #footer-placeholder
                fetch("../main/footer.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("footer-container").innerHTML = data;
                    })
                    .catch((error) => console.error("Error loading footer:", error));
            </script>
            <!-- footer 넣을 곳 -->
        </div>
    </body>
    <script src="../../static/js/myPage/notify-admin-list-event.js"></script>
    <script src="../../static/js/main/main-modal.js"></script>
</html>
