<!-- 2025.04.06 조승찬 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/myPage/notify-reply-list.css" />
        <link rel="stylesheet" href="/css/main/header.css">
        <link rel="stylesheet" href="/css/main/footer.css">
        <link rel="stylesheet" href="/css/main/search-modal.css">
        <link rel="stylesheet" href="/css/all/message.css" />
        <title>알림 목록</title>
    </head>
    <body>
        <div class="FeelogStack-root flog-div-1">
            <!-- 헤더 넣을 곳 -->
            <header id="main-header"
                    th:replace="~{main/header.html :: #main-header}"></header>
            <!-- 헤더 넣을 곳 -->
            <div class="FeelogStack-root flog-div-12">
                <div class="FeelogStack-root flog-div-13">
                    <nav class="subnavigation FeelogBox-root flog-nav-2">
                        <ul
                            class="FeelogList-root FeelogList-vertical FeelogList-variantPlain FeelogList-colorNeutral FeelogList-sizeMd flog-ul-1"
                        >
                            <a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain selected flog-a-7"
                                href="/myPage/notify-reply-list"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-5">
                                    댓글
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="/myPage/notify-community-list"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    커뮤니티
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="/myPage/notify-admin-list"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    관리자 알림
                                </p></a
                            >
                        </ul>
                    </nav>
                    <main class="FeelogStack-root flog-main-4">
                        <div class="FeelogStack-root flog-div-60">
                            <div class="FeelogStack-root flog-div-61">

<!--                                2025.04.23 조승찬 리스트 보여주기-->
                                <th:block th:each="reply : ${replies}">
                                    <div class="FeelogBox-root flog-div-62">
                                    <span class="FeelogBadge-root flog-span-4"
                                    >
<!--                                        개인 채널로 이동시켜 주기-->
                                        <a
                                            href="/*{memberChannel}"
                                            class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-18"
                                    ><div
                                            class="FeelogAvatar-root FeelogAvatar-variantSoft FeelogAvatar-colorNeutral FeelogAvatar-sizeLg flog-div-63"
                                    >
                                                <img
                                                        alt=""
                                                        th:if="*{reply.memberFileName != null && !reply.memberFileName.isEmpty()}"
                                                        th:src="@{/files/display(path=|*{reply.memberFilePath}/*{reply.memberFileName}|)}"
                                                        loading="lazy"
                                                        class="FeelogAvatar-img flog-img-1"
                                                />
                                                <img
                                                        alt=""
                                                        th:if="*{reply.memberFileName == null || reply.memberFileName.isEmpty()}"
                                                        src="https://d33pksfia2a94m.cloudfront.net/assets/img/avatar/avatar_blank.png?w=100&amp;h=100&amp;q=65"
                                                        loading="lazy"
                                                        class="FeelogAvatar-img flog-img-1"
                                                /></div></a
                                    ><span
                                            class="FeelogBadge-badge FeelogBadge-invisible FeelogBadge-anchorOriginTopLeft FeelogBadge-variantSolid FeelogBadge-colorDanger FeelogBadge-sizeSm flog-span-11"
                                    ></span
                                    ></span>
                                        <div class="FeelogStack-root flog-article-1">
                                            <div class="FeelogBox-root flog-div-64">
                                                <h6 class="FeelogTypography-root FeelogTypography-body-md flog-h6-1">
                                                <span
                                                        class="FeelogTypography-root FeelogTypography-body-md flog-span-23"
                                                >
<!--                                                    개인 채널로 이동시켜 주기-->
                                                    <a
                                                        href="/*{memberChannel}"
                                                        class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-title-md FeelogLink-underlineNone flog-a-26"
                                                        th:text="*{reply.memberNickname}"
                                                ></a
                                                >
                                                    님이 회원님의 포스트에 댓글을 남겼어요.</span
                                                ><span
                                                        class="FeelogTypography-root FeelogTypography-body-sm flog-span-13" th:text="*{reply.timeAgo}"
                                                ></span
                                                >
                                                </h6>
                                            </div>
<!--                                            커뮤니티로 이동시켜주기 -->
                                            <a
                                                    href="community/*{channelId}"
                                                    class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-27"
                                            ><span class="FeelogTypography-root FeelogTypography-body-md flog-span-24"  th:text="' : ' + *{reply.replyContent}"
                                            >
                                            </span></a
                                            >
<!--                                            댓글 일 때 해당 포스트 상세보기로 이동 시켜주기-->
                                            <div class="FeelogBox-root flog-div-65">
                                                <a
                                                        href=""
                                                        class="FeelogLink-root FeelogLink-colorPrimary FeelogLink-body-md FeelogLink-underlineNone flog-a-28"
                                                ><div class="FeelogStack-root flog-div-109">
                                                    <span
                                                            class="FeelogTypography-root FeelogTypography-title-md flog-span-25" th:text="*{reply.postTitle}"
                                                    >abcabcd</span
                                                    >
                                                </div></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="FeelogDivider-root FeelogDivider-horizontal flog-hr-2" />
                                </th:block>

                                <!--페이징 처리-->
                                <form th:action="@{/myPage/notify-reply-list}" name="pageForm">
                                    <input type="hidden" name="page" th:value="1"   class="notifyReplyList"> <!-- 기본페이지는 1페이지 -->
                                    <div class="paging-wrap">
                                        <div class="pagination-container">
                                            <a class="change-page" th:if="${pagination.prev}" th:href="${pagination.startPage - 1}">
                                                <button class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 iItkLq">
                                                    <img
                                                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                                            class="PaginationButtonGroup__Icon-x0iffd-2 jVxRns"
                                                    />
                                                </button>
                                            </a>
                                            <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                                <a class="change-page" th:if="${pagination.page != page}" th:href="${page}"><code th:text="${page}"></code></a>
                                                <code th:unless="${pagination.page != page}" th:text="${page}"></code>
                                            </th:block>
                                            <a class="change-page" th:if="${pagination.next}" th:href="${pagination.endPage + 1}">
                                                <button class="Button-bqxlp0-0 ButtonPage__StyledButton-k07u44-0 iItkLq" >
                                                    <img
                                                            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Cpath fill='none' d='M0 0h40v40H0z'/%3E %3Cpath stroke='%23DDD' stroke-width='1.5' d='M18 16l4 4-4 4'/%3E %3C/g%3E %3C/svg%3E"
                                                            class="PaginationButtonGroup__Icon-x0iffd-2 dQqQMu"
                                                    />
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <!-- footer 넣을 곳 -->
        <footer id="main-footer"
                th:replace="~{main/footer.html :: #main-footer}"></footer>
        <!-- footer 넣을 곳 -->
    </body>
    <script th:inline="javascript">
        const loginMember = [[${session.member}]]
        const loginMemberId = Number(loginMember.id);
    </script>
    <script src="/js/myPage/notify-reply-list-event.js"></script>
    <script src="/js/main/main-modal.js"></script>
    <script src="/js/main/notification.js"></script>
    <script src="/js/main/main-search-modal.js"></script>
</html>
