<!-- 2025.04.08 조승찬 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/css/challenge/challenge-list.css" />
        <title>첼린지 목록</title>
    </head>
    <body>
        <div class="FeelogStack-root flog-div-1">
            <!-- 헤더 넣을 곳 -->

            <div class="feelog-header-mainDiv" id="header-container"></div>
            <script>
                // Load header.html and insert it in#header-placeholder
                fetch("../main/header.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("header-container").innerHTML = data;
                    })
                    .catch((error) => console.error("Error loading header:", error));
            </script>
            <!-- 헤더 넣을 곳 -->

            <div class="FeelogStack-root flog-div-12">
                <div class="FeelogStack-root flog-div-13">
                    <nav class="subnavigation FeelogBox-root flog-nav-2">
                        <ul
                            class="FeelogList-root FeelogList-vertical FeelogList-variantPlain FeelogList-colorNeutral FeelogList-sizeMd flog-ul-1"
                        >
                            <a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="/messages"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    오늘 첼린지
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain selected flog-a-7"
                                href="/messages/blockList"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-5">
                                    진행 챌린지
                                </p></a
                            ><a
                                class="FeelogListItem-root FeelogListItem-colorNeutral FeelogListItem-variantPlain flog-a-6"
                                href="/messages/blockList"
                                ><p data-first-child="" class="FeelogTypography-root FeelogTypography-body-md flog-p-4">
                                    완료 챌린지
                                </p></a
                            >
                        </ul>
                    </nav>
                    <main class="FeelogStack-root flog-main-1">
                        <section class="FeelogStack-root flog-section-2">
                            <div class="FeelogStack-root flog-div-25">
                                <h2 class="FeelogTypography-root FeelogTypography-h3 flog-h2-3">
                                    시리즈<!-- -->
                                    <!-- -->8<!-- -->개
                                </h2>
                            </div>
                            <div class="FeelogGrid-root FeelogGrid-container FeelogGrid-direction-xs-row flog-div-26">
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/371"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 포스타입 공지사항"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/24/12/55/40be7d13128072962910900921.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/371"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        포스타입 공지사항
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        제품 업데이트 및 서비스 개선에 관한 새 소식
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 205화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/373"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 포스타입 이벤트"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/22/13/22/f3108c14233495385321284258.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/373"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        포스타입 이벤트
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        혜택이 가득한 이용자 참여 이벤트
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 123화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/585023"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 포스타입 크리에이터 인터뷰"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/22/13/22/1e688f2874805986830011235.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/585023"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        포스타입 크리에이터 인터뷰
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        포스타입에서 활동하는 크리에이터의 경험과 노하우
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 46화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/202726"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 포스타입 추천 콘텐츠"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/23/18/50/1d4d332112119278089530951.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/202726"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        포스타입 추천 콘텐츠
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        포스타입이 추천하는 재미있고 유용한 콘텐츠
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 59화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/372"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 포스타입 크리에이터 가이드"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/04/22/13/23/96b84e12740649209178127069.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/372"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        포스타입 크리에이터 가이드
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        포스타입 기초 사용법 및 200% 활용 가이드
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 29화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/1262004"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 크리에이터 서바이벌 키트"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/05/10/17/13/265fb013436482949746778649.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/1262004"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        크리에이터 서바이벌 키트
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        크리에이터로 살아남기 위한 필수 지식과 유용한 마케팅 팁
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 7화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/1268916"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 트렌드 뉴스"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2024/05/27/08/40/5587df14601244823808724338.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/1268916"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        트렌드 뉴스
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        크리에이터에게 유용한 콘텐츠, 디자인, 브랜드, 마케팅, 비즈니스
                                                        트렌드
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 12화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    class="FeelogGrid-root FeelogGrid-direction-xs-row FeelogGrid-grid-xs-1 flog-section-3"
                                >
                                    <div class="FeelogStack-root flog-div-27">
                                        <div class="FeelogStack-root flog-div-28">
                                            <a class="FeelogBox-root flog-a-8" href="/@blog/series/1381910"
                                                ><div class="FeelogBox-root flog-div-29">
                                                    <img
                                                        alt="시리즈 포스타입 포크레터"
                                                        loading="lazy"
                                                        decoding="async"
                                                        data-nimg="fill"
                                                        style="
                                                            position: absolute;
                                                            height: 100%;
                                                            width: 100%;
                                                            left: 0;
                                                            top: 0;
                                                            right: 0;
                                                            bottom: 0;
                                                            object-fit: cover;
                                                            color: transparent;
                                                        "
                                                        src="https://d3mcojo3jv0dbr.cloudfront.net/2025/01/14/16/55/357ac511681468893805415189.png?w=200&amp;h=268&amp;q=65"
                                                    /></div
                                            ></a>
                                            <div class="FeelogStack-root flog-div-30">
                                                <a class="FeelogStack-root flog-a-9" href="/@blog/series/1381910"
                                                    ><h3 class="FeelogTypography-root FeelogTypography-h4 flog-h3-1">
                                                        포스타입 포크레터
                                                    </h3>
                                                    <p class="FeelogTypography-root FeelogTypography-body-md flog-p-6">
                                                        크리에이터를 위한 인사이트 뉴스레터
                                                    </p>
                                                    <p class="FeelogTypography-root FeelogTypography-body-xs flog-p-7">
                                                        연재 / 3화
                                                    </p></a
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="FeelogStack-root flog-div-31">
                                <button
                                    aria-label="이전 페이지"
                                    class="FeelogIconButton-root Feelog-disabled FeelogIconButton-variantPlain FeelogIconButton-colorNeutral FeelogIconButton-sizeSm flog-button-6"
                                    type="button"
                                    disabled=""
                                >
                                    <svg
                                        focusable="false"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="FeelogSvgIcon-root FeelogSvgIcon-sizeMd flog-svg-3"
                                    >
                                        <path
                                            d="M8.713 11.332a.934.934 0 0 0 0 1.325l5.25 5.254a.937.937 0 0 0 1.324-1.324l-4.586-4.59 4.59-4.586a.937.937 0 0 0-1.324-1.324l-5.254 5.245Z"
                                            fill="currentcolor"
                                        ></path>
                                    </svg></button
                                ><button
                                    type="button"
                                    class="FeelogIconButton-root FeelogIconButton-variantSoft FeelogIconButton-colorNeutral FeelogIconButton-sizeSm flog-button-7"
                                >
                                    1</button
                                ><button
                                    aria-label="다음 페이지"
                                    class="FeelogIconButton-root Feelog-disabled FeelogIconButton-variantPlain FeelogIconButton-colorNeutral FeelogIconButton-sizeSm flog-button-6"
                                    type="button"
                                    disabled=""
                                >
                                    <svg
                                        focusable="false"
                                        aria-hidden="true"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        height="24"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="FeelogSvgIcon-root FeelogSvgIcon-sizeMd flog-svg-3"
                                    >
                                        <path
                                            d="M15.291 11.332a.934.934 0 0 1 0 1.325l-5.25 5.254a.937.937 0 0 1-1.324-1.324L13.303 12l-4.59-4.59a.937.937 0 0 1 1.324-1.324l5.254 5.245Z"
                                            fill="currentcolor"
                                        ></path>
                                    </svg>
                                </button>
                            </div>
                        </section>
                    </main>
                </div>
            </div>

            <!-- footer 넣을 곳 -->
            <div class="joy-17imqrx" id="footer-container"></div>
            <script>
                // Load footer.html and insert it into #footer-placeholder
                fetch("../main/footer.html")
                    .then((response) => response.text())
                    .then((data) => {
                        document.getElementById("footer-container").innerHTML = data;
                    })
                    .catch((error) => console.error("Error loading footer:", error));
            </script>
            <!-- footer 넣을 곳 -->
        </div>
    </body>
    <script src="../../static/js/challenge/challenge-list-event.js"></script>
    <script src="../../static/js/main/main-modal.js"></script>
</html>
