.AppLayout_contents {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

@media screen and (min-width: 1096px) {
    .AppLayout_container .AppLayout_main .AppLayout_contents {
        position: relative;
        flex: 1;
        box-shadow: -2px 0px 0px -1px #0000000f;
        overflow-x: auto;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.FundingPage_container_main {
    display: flex;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_main .FundingPage_box_main {
        height: calc(100vh - 72px);
        overflow: hidden;
    }
}

.FundingPage_container_main .FundingPage_box_main {
    flex: 1;
    width: 100%;
}

.FundingPage_headBanner_section {
    position: relative;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_main .FundingPage_presentation_section {
        padding: 0px 64px;
        position: relative;
    }
}

@media screen and (min-width: 1096px) {
    .FundingPage_content_section {
        margin-top: 120px;
    }
}

.FundingPage_content_section {
    position: relative;
    margin-bottom: 120px;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_main .FundingPage_content_section {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1096px) {
    .Funding_wrapper {
        margin-top: -80px;
    }
}

@media screen and (min-width: 1096px) {
    .FundingLayout_container {
        display: flex;
        align-items: flex-start;
        gap: 132px;
    }
}

.FundingLayout_container {
    position: relative;
}

@media screen and (min-width: 1096px) {
    .FundingLayout_container .FundingLayout_contents {
        flex: 1;
        max-width: 885px;
    }
}

.Funding_listContainer {
    margin-top: 32px;
}

.FundingPageMenuList_card {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
    border: 1px solid #e9ecef;
    border-left-width: 6px;
    border-radius: 3px;
    padding: 16px 32px;
    color: #000;
}

.FundingPageMenuList_card.FundingPageMenuList_feelogColor {
    border-left-color: #00b2b2;
}

.FundingPageMenuList_card .FundingPageMenuList_container {
    display: flex;
    align-items: center;
}

.FundingPageMenuList_card .FundingPageMenuList_name {
    margin-right: 16px;
    font-weight: 700;
}

.FundingPageMenuList_card .FundingPageMenuList_buttonWrapper {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    transition-property: background-color, border-color, color, opacity;
    transition-duration: 0.15s;
    margin-left: auto;
    border: 1px solid #cdd3d8;
    border-radius: 4px;
    background-color: transparent;
    padding: 9px 24px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
}

.FundingPageMenuList_card .FundingPageMenuList_buttonWrapper span {
    display: inline-flex;
    align-items: center;
    vertical-align: top;
}

@media screen and (min-width: 1096px) {
    .Funding_submitButtonWrapper {
        position: relative;
        box-shadow: none;
        background-color: #fff;
    }
}

.Funding_submitButtonWrapper {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 -1px -1px #cacaca80;
}

@media screen and (min-width: 1096px) {
    .Funding_submitButtonWrapper .Funding_button {
        margin: 32px 0;
        width: 320px;
        height: 48px;
    }
}

.Funding_submitButtonWrapper .Funding_button {
    width: 100%;
    height: 56px;
}

.Button_children_feelog {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
