.admin-modal-body {
    font-family: Arial, sans-serif;
    display: flex
;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    z-index: 999;
}

.notice-modal {
    height: 800px;
    width: 1400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notice-modal .modal-header {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.closeNoticeModal {
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
    color: #999;
}

.notice-modal .modal-header span {
    font-size: 22px;
    font-weight: bold;
}

.notice-container {
    position: relative;
    padding-bottom: 70px;
}

.border-box {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.noticeModal-TitleInput {
    width: 1300px;
    background: none;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none;
}

.border-box {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.noticeModal-ContentInput {
    width: 1300px;
    background: none;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    resize: none;
}

.notice-button-container {
    width: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.noticeRegistBtn, .noticeUpdateBtn, .noticeDeleteBtn, .noticeConfirmBtn {
    width: 83px;
    white-space: nowrap;
    overflow-x: auto;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 93.5%;
}

.noticeUpdateBtn, .noticeDeleteBtn, .noticeConfirmBtn {
    margin: 0 10px;
    position: static;
}
