.AppNavbarLayout_container {
    display: flex
;
    top: 0;
    bottom: 0;
    left: 0;
    flex-flow: column;
    transition: transform .2s;
    z-index: 16;
    background-color: #fff;
    width: 324px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}


@media screen and (min-width: 1096px) {
    .AppNavbarLayout_container.AppNavbarLayout_scroll {
        height: calc(100vh - 72px);
        overflow-y: hidden;
    }
}

@media screen and (min-width: 1096px) {
    .AppNavbarLayout_container.AppNavbarLayout_expand {
        display: block;
        visibility: visible;
        opacity: 1;
        width: 275px;
        box-shadow: 0 0 0 1px #0000001a;
    }
}

@media screen and (min-width: 1096px) {
    .AppNavbarLayout_container {
        position: relative;
        transform: none;
        transition: width .2s;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        width: 0;
    }
}


@media screen and (min-width: 1096px) {
    .AppNavbarLayout_content {
        overflow: visible;
    }
}

.AppNavbarLayout_content {
    padding-bottom: 80px;
    height: 100%;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
}

@media screen and (min-width: 1096px) {
    .AppNavbarLayout_container.AppNavbarLayout_scroll .AppNavbarLayout_content {
        padding-bottom: 0;
    }
}

.ProjectInfo_container {
    position: relative;
    z-index: 1;
    margin-right: 0;
    background-color: #fff;
    padding: 16px;
}

@media screen and (min-width: 1096px) {
    .ProjectInfo_infoButton {
        height: 37px;
    }
}

.ProjectInfo_infoButton {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    display: flex
;
    align-items: center;
    justify-content: center;
    border: 1px solid #f2f4f6;
    border-radius: 8px;
    border-color: #f2f4f6;
    background-color: #f9fafb;
    padding: 0 16px;
    /* width: 100%; */
    /* height: 53px; */
    color: #868e96;
    gap: 4px;
}

.ProjectInfo_dropDownContainer .ProjectInfo_infoButton {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 100%;
}

.ProjectInfo_infoButton .ProjectInfo_emphasis {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #00c4c4;
}

.MenuItems_section {
    padding: 0;
}

.MenuItems_section:first-of-type, .MenuItems_section:nth-of-type(2) {
    border-bottom: 1px solid #f2f4f6;
}

.MenuItems_menu {
    display: flex
;
    position: relative;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 12px 16px;
    width: 100%;
}

.MenuItems_menu.MenuItems_hasSubmenu {
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.MenuItems_menu .MenuItems_label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    display: flex
;
    align-items: center;
    color: #495057;
    gap: 12px;
}

.MenuItems_active .MenuItems_label {
    color: #212529;
    font-weight: 700;
}

.MenuItems_menu .MenuItems_label svg {
    width: 16px;
    height: 16px;
}

.MenuItems_submenuContainer {
    transition: height .3s ease-out;
    /* height: 0; */
    overflow-y: hidden;
}

.MenuItems_submenuContainer .MenuItems_submenu_adminList {
    display: block;
    background-color: #f9fafb;
    cursor: pointer;
    padding: 12px 16px 12px 44px;
    color: #495057;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

@media screen and (min-width: 1096px) {
    .AppLayout_container .AppLayout_main .AppLayout_expandNavButton {
        display: flex
;
        position: fixed;
        top: 88px;
        left: 12px;
        align-items: center;
        justify-content: center;
        border: .75px solid #e9ecef;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        width: 35px;
        height: 35px;
        z-index: 20;
    }
}

@media screen and (min-width: 1096px) {
    .AppLayout_container .AppLayout_main .AppLayout_expandNavButton.AppLayout_expand_button {
        left: 260px;
    }
}

@media screen and (min-width: 1096px) {
    .AppLayout_container .AppLayout_main .AppLayout_expand_button .AppLayout_icon {
        transform: rotate(180deg);
    }
}

@media screen and (min-width: 1096px) {
    .AppLayout_container .AppLayout_main .AppLayout_expandNavButton .AppLayout_icon {
        background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nMTInIHZpZXdCb3g9JzAgMCAxMiAxMicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNC4wNTgwMyAxLjE0MDQ5QzQuMTQ5NzEgMS4wNTA1MyA0LjI3NDA2IDEgNC40MDM3MiAxQzQuNTMzMzggMSA0LjY1NzczIDEuMDUwNTMgNC43NDk0MSAxLjE0MDQ5TDkuMzU2ODEgNS42NjA4NEM5LjU0NzczIDUuODQ4MTUgOS41NDc3MyA2LjE1MTg1IDkuMzU2ODEgNi4zMzkxNkw0Ljc0OTQxIDEwLjg1OTVDNC41NTg0OSAxMS4wNDY4IDQuMjQ4OTUgMTEuMDQ2OCA0LjA1ODAzIDEwLjg1OTVMMy42NDMxOSAxMC40NTI1QzMuNDUyMjcgMTAuMjY1MiAzLjQ1MjI3IDkuOTYxNSAzLjY0MzE5IDkuNzc0MTlMNy40OTAwNiA2TDMuNjQzMTkgMi4yMjU4MUMzLjQ1MjI3IDIuMDM4NSAzLjQ1MjI3IDEuNzM0OCAzLjY0MzE5IDEuNTQ3NDhMNC4wNTgwMyAxLjE0MDQ5WicgZmlsbD0nIzQ5NTA1NycvPjwvc3ZnPg==) no-repeat center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        pointer-events: none;
    }
}


/* js */

.AppNavbarLayout_container {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); 
}

.AppNavbarLayout_container.active {
    transform: translateX(-100%); 
}

.AppLayout_contents {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); 
}
.AppLayout_contents.active {
    transform: translateX(-13%); 
}
.AppLayout_expandNavButton {
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
    transform: translateX(0);
}
.AppLayout_expandNavButton.active {
    transform: translateX(-552%) rotate(180deg);
}


@media screen and (min-width: 1096px) {
    .AppLayout_container_adminList .AppLayout_main_adminList .AppLayout_expandNavButton {
        display: flex
;
        position: fixed;
        top: 88px;
        left: 12px;
        align-items: center;
        justify-content: center;
        /* transition: left .2s; */
        border: .75px solid #e9ecef;
        border-radius: 50%;
        /* box-shadow: 0 2px 5px #0000001a; */
        background: #fff;
        cursor: pointer;
        width: 35px;
        height: 35px;
        z-index: 20;
    }
}

@media screen and (min-width: 1096px) {
    .AppLayout_container_adminList .AppLayout_main_adminList .AppLayout_expandNavButton.AppLayout_expand_button {
        left: 260px;
        position: fixed;
    }
}

@media screen and (min-width: 1096px) {
    .AppLayout_container_adminList .AppLayout_main_adminList .AppLayout_expand_button .AppLayout_icon {
        transform: rotate(180deg);
    }
}

@media screen and (min-width: 1096px) {
    .AppLayout_container_adminList .AppLayout_main_adminList .AppLayout_expandNavButton .AppLayout_icon {
        background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0nMTInIGhlaWdodD0nMTInIHZpZXdCb3g9JzAgMCAxMiAxMicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNNC4wNTgwMyAxLjE0MDQ5QzQuMTQ5NzEgMS4wNTA1MyA0LjI3NDA2IDEgNC40MDM3MiAxQzQuNTMzMzggMSA0LjY1NzczIDEuMDUwNTMgNC43NDk0MSAxLjE0MDQ5TDkuMzU2ODEgNS42NjA4NEM5LjU0NzczIDUuODQ4MTUgOS41NDc3MyA2LjE1MTg1IDkuMzU2ODEgNi4zMzkxNkw0Ljc0OTQxIDEwLjg1OTVDNC41NTg0OSAxMS4wNDY4IDQuMjQ4OTUgMTEuMDQ2OCA0LjA1ODAzIDEwLjg1OTVMMy42NDMxOSAxMC40NTI1QzMuNDUyMjcgMTAuMjY1MiAzLjQ1MjI3IDkuOTYxNSAzLjY0MzE5IDkuNzc0MTlMNy40OTAwNiA2TDMuNjQzMTkgMi4yMjU4MUMzLjQ1MjI3IDIuMDM4NSAzLjQ1MjI3IDEuNzM0OCAzLjY0MzE5IDEuNTQ3NDhMNC4wNTgwMyAxLjE0MDQ5WicgZmlsbD0nIzQ5NTA1NycvPjwvc3ZnPg==) no-repeat center;
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
        pointer-events: none;
    }
}