.AppLayout_contents {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

@media screen and (min-width: 1096px) {
    .AppLayout_container_adminList .AppLayout_main_adminList .AppLayout_contents {
        position: relative;
        flex: 1;
        box-shadow: 0 0 0 1px #0000000f;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.FundingPage_container_challengeWrite {
    display: flex
;
}

.FundingPage_container_challengeWrite .FundingPage_box_challengeWrite {
    flex: 1;
    width: 100%;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_challengeWrite .FundingPage_box_challengeWrite {
        height: calc(100vh - 72px);
        overflow: auto;
    }
}

.FundingPage_headBanner_challengeWrite {
    position: relative;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_challengeWrite .FundingPage_presentation_challengeWrite {
        padding: 40px 64px;
    }
}

.Breadcrumb_container_challengeWrite {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 32px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_challengeWrite .FundingPage_title_challengeWrite {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.35;
    }
}

@media screen and (min-width: 1096px) {
    .FundingPage_content_div01 {
        margin-top: 80px;
    }
}

.FundingPage_content_div01 {
    position: relative;
    margin-bottom: 120px;
}

@media screen and (min-width: 1096px) {
    .FundingPage_container_challengeWrite .FundingPage_content_div01 {
        margin-bottom: 0;
    }
}

.spacing-9 {
    margin-bottom: 30px;
}

.Section_container_section01 {
    position: relative;
}

.Section_container_section01 .Section_content_section01 {
    position: relative;
}

.spacing-4 {
    margin-bottom: 12px;
}

.Section_container_section01 .Section_header__header01 {
    display: flex
;
    position: relative;
    justify-content: space-between;
    z-index: 1;
}

.Section_header__header01.spacing-4 {
    display: flex
;
    justify-content: space-between;
    align-items: center;
}

.Section_container_section01 .Section_header__header01 .Section_title_title01 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    display: flex
;
    align-items: center;
}

.Section_container_section01 .Section_content_section01 {
    position: relative;
}

.TextField_textField__filed01 {
    display: block;
    position: relative;
}

.TextField_textField__filed01>label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding-bottom: 4px;
}

.TextField_textField__filed01.TextField_lg_01>label {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.TextField_textField__filed01 .TextField_field_01 {
    position: relative;
}

.Input_input__M2Q3Y {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 0 16px;
    width: 100%;
    height: 48px;
    vertical-align: middle;
    color: #212529;
    -webkit-appearance: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

input[type=text] {
    word-break: normal;
}

select, input[type="text"] {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    transition: border-color 0.3s ease-in-out;
}

.Input_input__M2Q3Y.Input_lg__MDE4M {
    height: 48px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

[class*=HelperMessage_helperMessage], [class*=Textarea_textarea] {
    white-space: pre-line;
}

.HelperMessage_helperMessage_helper01 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin-top: 4px;
    color: #868e96;
    font-style: normal;
    position: relative;
    left: 2px;
}

.SocialRecruiteTagsContainer__SocialRecruiteTagsInput_01 {
    white-space: nowrap;
    overflow-x: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dde2e6;
    border-radius: 4px;
}

.noBtnStyle {
    width: 100%;
    color: rgb(153, 153, 153);
    /* color: rgb(0, 0, 0); */
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-top: 1px;
}

#mapContainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

#map {
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}

#fullMap {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.BlindText_textHidden_01 {
    position: absolute;
    margin: -1px;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.Tooltip_button__button01.Tooltip_withLabel_01 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.Section_container_section01 .Section_header__header01 [class*=Tooltip_button] {
    display: flex
;
    align-items: center;
}

.Section_container_section01 .Section_header__header01 .Section_guide_01 {
    display: flex
;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    max-width: 50%;
}

.Section_container_section01 .Section_description_01 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 8px;
    margin-bottom: 24px;
    color: #868e96;
}

.StorySummaryField_container_01 {
    margin-bottom: 30px;
    width: 100%;
}

.Textarea_textarea_01 {
    display: block;
    transition-property: border-color, background-color, color;
    transition-duration: .15s;
    outline: none;
    border: 1px solid #dde2e6;
    border-radius: 4px;
    background: #fff;
    padding: 10px 16px;
    resize: none;
    width: 100%;
    height: 118px;
    color: #212529;
    -webkit-appearance: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.StorySummaryField_container_01 .StorySummaryField_text_01 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 4px;
    color: #868e96;
}

.withIcon_icon_01 {
    display: block;
    transform: scale(1);
    transition: transform .3sease -out;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.MessageBox_messageBox_01 .MessageBox_icon_01 {
    flex-shrink: 0;
    margin-top: 2px;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.MessageBox_messageBox_01.MessageBox_primary_01 .MessageBox_icon_01 {
    color: #00c4c4;
}

.MessageBox_messageBox_01 .MessageBox_title_01 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 8px;
    text-align: left;
}

.MessageBox_messageBox_01.MessageBox_vertical_01 .MessageBox_title_01 {
    margin-bottom: 8px;
}

@media screen and (min-width: 1096px) {
    .MessageBox_messageBox_01 .MessageBox_description_01 {
        line-height: 20px;
    }
}

.MessageBox_messageBox_01 .MessageBox_description_01 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    word-break: keep-all;
    overflow-wrap: break-word;
    color: #495057;
}

.MessageBox_messageBox_01 .MessageBox_title_01+.MessageBox_description_01 {
    margin-left: -20px;
}

.MessageBox_messageBox_01 .MessageBox_description_01 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Section_container_section01 .Section_description_01 ul>li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.Section_container_section01 .Section_description_01 ul>li, .Section_container_section01 .Section_guideMessage__NmFiY ul>li, [class*=Tooltip_tooltip]:not([class*=Tooltip_hide]) ul>li {
    position: relative;
    padding-left: 1em;
}

.MessageBox_messageBox_01 .MessageBox_description_01 ul li {
    display: flex
;
    margin-bottom: 4px;
    line-height: 18px;
}

.inputImage_container_01 {
    border-bottom: 0px;
}

.inputImage_wrap_01 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: flex
;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 56px;
    border: 1px solid #dde2e6;
    border-radius: 5px;
    cursor: pointer;
}

.inputImage_wrap_01 > input {
    display: none;
}

.inputImage_wrap_01 > span {
    font-size: 17px;
    color: rgb(78, 89, 104);
}

.inputImage_footer_01 {
    display: flex
;
    width: 100%;
    flex-wrap: wrap;
}

.StoryEditorWrapperItem_container_01 {
    margin-top: 40px;
    width: 100%;
}

.StoryEditorWrapperComingItem_container_01 {
    margin-top: 40px;
    width: 100%;
}

.TagsField_container_01 {
    margin-top: 80px;
}

@media screen and (min-width: 1096px) {
    .SaveButtonFooter_footer_01 {
        left: 28px;
        transition: left .2s;
        border-top: 1px solid rgba(0, 0, 0, .05);
        box-shadow: none;
        background-color: #f9fafb;
    }
}

.SaveButtonFooter_footer_01 {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8;
    box-shadow: 0 -2px 4px #0000000d;
    background-color: #fff;
    padding: 16px;
    width: 100%;
    text-align: right;
}

@media screen and (min-width: 1096px) {
    .SaveButtonFooter_footer_01.SaveButtonFooter_expand_01 {
        left: 0px;
    }
}

.StoryFormPage_saveButtonWrapper_01 {
    position: relative;
    display: flex
;
    justify-content: center;
    padding: 0 15px;
    width: 100%;
    height: 40px;
}

.Button_button_01 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding: 9px 23px;
    height: 48px;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
    color: #495057;
    font-size: 16px;
    -webkit-appearance: none;
}

.StoryFormPage_submitBtn_01.StoryFormPage_desktop_01 {
    width: 160px;
}

.Button_button_01.Button_md_01 {
    padding: 9px 15px;
    height: 40px;
    font-size: 14px;
}

.Button_button_01.Button_primary_01.Button_contained_01 {
    border-color: #00c4c4;
    background-color: #00c4c4;
    color: #fff;
}

.Button_button_01 span {
    display: inline-flex
;
    align-items: center;
    vertical-align: top;
}

.Button_button_01 span {
    display: inline-flex
;
    align-items: center;
    vertical-align: top;
}

.Button_button_01 .Button_children_01 {
    vertical-align: top;
}

.MessageBox_messageBox_01 {
    display: flex
;
    border-radius: 8px;
    padding: 16px;
}

.MessageBox_messageBox_01.MessageBox_primary_01 {
    background-color: #e7f9f9;
    color: #00b2b2;
}

.Section_header__header01{
    margin-bottom: 15px;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
}

