<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>공지사항 상세</title>
    <link rel="stylesheet" href="/css/notice/notice.css"/>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/main/search-modal.css">
    <link rel="stylesheet" href="/css/all/message.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <style>
        @font-face {
            font-family: "Postype Sans-serif KR";
            font-display: swap;
            src: local("Pretendard SemiBold"),
            url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff2/Pretendard-SemiBold.woff2) format("woff2"),
            url(https://cdn.jsdelivr.net/gh/orioncactus/pretendard/packages/pretendard/dist/web/static/woff/Pretendard-SemiBold.woff) format("woff");
        }
    </style>
</head>
<body th:object="${notice}">
<header id="main-header"
        th:replace="~{main/header.html :: #main-header}"></header>
<section>
    <main class="main_main" style="margin-top: 56px">
        <div class="main-div-01">
            <article class="main-article01">
                <header class="main-header">
                    <div class="header-hWarp">
                        <h4 class="h4-tag">
                            <a href="" class="header-aTag01"
                            >필로그 공지사항</a
                            >
                        </h4>
                        <h1 class="header-h1Wrap" th:text="${notice.noticeTitle}">
                        </h1>
                        <div class="header-div01">
                            <a href="/feelog/official" class="header-aTag02"
                            >
                                <div class="a-div01">
                                    <img
                                            alt="채널 포스타입"
                                            src="/images/channel_banner.png"
                                            loading="lazy"
                                            class="img01"
                                    /></div
                                >
                            </a>
                            <div class="siteName-container">
                                <a class="siteName-aTag01" href="/feelog/official"
                                ><p class="siteName-pTag01">
                                    필로그
                                </p></a
                                >
                                <div class="postInfo-wrap">
                                    <p class="createdDate-wrap" th:text="${#strings.substring(notice.updatedDate, 0, 10)}">
                                    </p>
                                    <p class="center-point">·</p>
                                    <p class="createdDate-wrap" th:text="'조회수 ' + ${notice.readCount}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="mainDiv-wrap">
                    <div class="" style="width: 100%; max-width: 700px">
                        <div
                                class="post-content text-justify font-size-level3"
                                id="post-content"
                                style="visibility: visible"
                                th:text="${notice.noticeContent}"
                        >
                        </div>
                    </div>
                </div>
                <section class="post-navigation post-navigationBar">
                    <div class="center-line"></div>
                </section>
                <section class="aithink_container_01">
                    <div class="aithink_wrap_01">
                        <a href="/feelog/official" class="channelWrap_01"
                        >
                            <div class="channel_imgContainer_01">
                                <div class="imgWrap_03">
                                    <div
                                            class="img_wrap_01"
                                            data-first-child=""
                                    >
                                        <img
                                                alt="필로그"
                                                loading="lazy"
                                                decoding="async"
                                                data-nimg="fill"
                                                style="
                                                        position: absolute;
                                                        height: 100%;
                                                        width: 100%;
                                                        left: 0;
                                                        top: 0;
                                                        right: 0;
                                                        bottom: 0;
                                                        object-fit: cover;
                                                        color: transparent;
                                                    "
                                                src="/images/channel_banner.png"
                                        />
                                    </div>
                                </div>
                            </div
                            >
                        </a>
                        <div class="aithink_div_01">
                            <a href="/feelog/official" class="channelWrap_01"
                            ><span class="channel_span_01"
                            >필로그 공식 채널</span
                            ></a
                            >
                        </div>
                    </div>
                    <div class="add_channelWrap_01">
                        <button
                                class="more_diaryButton_01 add_channelButton_01 subscribe-button"
                                type="button"
                                data-index=4
                                th:if="${session.member == null or notice.subscribed == false}">
                            구독
                        </button>

                        <button
                                class="MuiButton-root MuiButton-variantSoft MuiButton-colorNeutral MuiButton-sizeMd subscribe-button subscribing"
                                type="button"
                                data-index=4
                                th:if="${session.member != null and notice.subscribed == true}">
                            구독 중
                        </button>
                    </div>
                </section>
            </article>
        </div>
    </main>
</section>
</body>
<script th:inline="javascript">
    const noticeInfo = [[${notice}]]
    const loginMember = [[${session.member}]]
    const loginMemberId = Number(loginMember.id);
</script>
<script src="/js/main/main-modal.js"></script>
<script src="/js/main/notificationInterceptor.js"></script>
<script src="/js/notice/notice-service.js"></script>
<script src="/js/notice/notice-layout.js"></script>
<script src="/js/notice/notice-event.js"></script>
</html>
