body {
    margin: 0;
    min-width: 320px;
    height: 100dvh;
    font-family: "Postype Sans-serif KR", Apple SD Gothic Neo, Malgun Gothic, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #FFFFFF;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

body {
    margin: 0px;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    color: #202022;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background-color: #FFFFFF;
}

*, ::before, ::after {
    box-sizing: inherit;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.jk-feelog-main-002 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1144px;
}

@media (min-width: 0px) {
    .jk-feelog-main-002 {
        padding: 20px 0px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-main-002 {
        padding: 40px 32px;
    }
}

@media (min-width: 1132px) {
    .jk-feelog-main-002 {
        padding: 40px 32px;
    }
}

.jk-feelog-section002 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    overflow-x: hidden;
}

.jk-feelog-div049 {
    display: flex;
    width: 100%;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (min-width: 0px) {
    .jk-feelog-div049 {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 0px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div049 {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 24px;
    }
}

.jk-feelog-h2-003 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.33334;
    letter-spacing: -0.025em;
    color: #202022;
}

@media (min-width: 0px) {
    .jk-feelog-h2-003 {
        font-size: 16px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-h2-003 {
        font-size: 24px;
    }
}

.jk-feelog-div050 {
    display: flex
;
    flex-direction: row;
    max-height: 24px;
    gap: 8px;
}

.jk-feelog-btn014 {
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-decoration-thickness: max(0.08em, 1px);
    text-underline-offset: 0.15em;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    text-decoration-color: currentcolor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
}

.jk-feelog-span004 {
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    cursor: pointer;
    font-weight: 600;
}

@media (min-width: 0px) {
    .jk-feelog-span004 {
        font-size: 14px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-span004 {
        font-size: 16px;
    }
}

.jk-feelog-hr05 {
    margin-right: initial;
    margin-left: initial;
    margin-inline: initial;
    margin-block: initial;
    position: relative;
    align-self: stretch;
    flex-shrink: 0;
    border: none;
    list-style: none;
    background-color: rgba(118, 118, 127, 0.15);
    inline-size: 1px;
    block-size: initial;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jk-feelog-span005 {
    margin: 0px;
    display: inline;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #76767F;
    cursor: pointer;
    font-weight: 400;
}

@media (min-width: 0px) {
    .jk-feelog-span005 {
        font-size: 14px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-span005 {
        font-size: 16px;
    }
}

.jk-feelog-section003 {
    flex-flow: wrap;
    min-width: 0px;
    box-sizing: border-box;
    display: flex;
    margin: -20px -12px;
}

@media (min-width: 0px) {
    .jk-feelog-section003 {
        margin-bottom: 14px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-section003 {
        margin-bottom: 28px;
    }
}

.jk-feelog-div051 {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-basis: auto;
    width: 33.333333%;
    min-width: 0px;
    box-sizing: border-box;
    padding: 20px 12px;
}

.jk-feelog-div052 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    position: relative;
}

@media (min-width: 0px) {
    .jk-feelog-div052 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div052 {
        padding-left: 0px;
        padding-right: 0px;
        max-width: 344px;
    }
}

.jk-feelog-div053 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    position: relative;
}

@media (min-width: 0px) {
    .jk-feelog-div053 {
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: rgba(118, 118, 127, 0.15);
    }
}

@media (min-width: 744px) {
    .jk-feelog-div053 {
        padding-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
    }
}

.jk-feelog-section003 .FlgGrid-root-need:last-child .normal-post {
    border: none;
}

.jk-feelog-div054 {
    display: flex
;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

@media (min-width: 0px) {
    .jk-feelog-div054 {
        flex-direction: row;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div054 {
        flex-direction: column;
    }
}

.jk-feelog-a-002 {
    border-radius: 0px;
    display: block;
    flex: initial;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
    height: max-content;
    min-width: 112px;
    overflow: hidden;
    background-color: #F2F2F3;
    position: relative;
}

@media (min-width: 0px) {
    .jk-feelog-a-002 {
        width: 112px;
        border-radius: 8px;
        order: 2;
        margin-top: 4px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-a-002 {
        width: 100%;
        border-radius: 12px;
        order: 1;
    }
}

.jk-feelog-div055 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    border-radius: inherit;
    height: 0;
    padding-bottom: calc(clamp(0px, calc(100% / 1.7777777777777777), 9999px) - 2 * 0px);
    overflow: hidden;
    -webkit-transition: inherit;
    transition: inherit;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    background-color: #F2F2F3;
}

.jk-feelog-div055 [data-first-child] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.jk-feelog-div056 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.jk-feelog-a-002::after {
    display: block;
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.jk-feelog-a-003 {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 0px) {
    .jk-feelog-a-003 {
        order: 1;
    }
}

@media (min-width: 744px) {
    .jk-feelog-a-003 {
        order: 2;
    }
}

.jk-feelog-div057 {
    display: flex
;
    flex-direction: column;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

@media (min-width: 0px) {
    .jk-feelog-div057 {
        gap: 4px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div057 {
        gap: 6px;
    }
}

@media (min-width: 0px) {
    .jk-feelog-div057 {
        min-height: 68px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div057 {
        min-height: max-content;
    }
}

.jk-feelog-h3-001 {
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33334;
    color: #202022;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (min-width: 0px) {
    .jk-feelog-h3-001 {
        font-size: 16px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-h3-001 {
        font-size: 18px;
    }
}

.jk-feelog-p010 {
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media (min-width: 0px) {
    .jk-feelog-p010 {
        font-size: 14px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-p010 {
        font-size: 16px;
    }
}

.jk-feelog-div031 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.jk-feelog-div058 {
    flex-flow: wrap;
    gap: 8px 4px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    overflow: auto hidden;
    line-height: 28px;
    scrollbar-width: none;
    display: flex
;
}

@media (min-width: 0px) {
    .jk-feelog-div058 {
        height: 20px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div058 {
        height: 24px;
    }
}

.jk-feelog-a-004 {
    gap: 3px;
    min-height: 24px;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    background-color: #F2F2F3;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

@media (min-width: 0px) {
    .jk-feelog-a-004 {
        display: flex
;
    }
}

@media (min-width: 744px) {
    .jk-feelog-a-004 {
        display: none;
    }
}

.jk-feelog-a-004.FlgChip-sizeSm-need {
    --Chip-paddingInline: 6px;
    --_Chip-minHeight: 20px;
    --Chip-decoratorChildHeight: 18px;
    font-size: 12px;
    min-width: 32px;
}

.jk-feelog-a-004.FlgChip-colorNeutral-need.FlgChip-variantSoft-need:not(.Flg-disabled-need) {
    color: #76767F;
}

.jk-feelog-span006 {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    min-inline-size: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.jk-feelog-a-005 {
    gap: 0.25rem;
    min-height: 24px;
    max-width: max-content;
    padding-inline: 8px;
    border-radius: 1.5rem;
    position: relative;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    background-color: #F2F2F3;
    color: #202022;
    font-size: 14px;
    text-align: center;
    min-width: 40px;
    font-weight: 400;
}

@media (min-width: 0px) {
    .jk-feelog-a-005 {
        display: none;
    }
}

@media (min-width: 744px) {
    .jk-feelog-a-005 {
        display: flex
;
    }
}

.jk-feelog-a-005.FlgChip-colorNeutral-need.FlgChip-variantSoft-need:not(.Flg-disabled-need) {
    color: #76767F;
}

.jk-feelog-a-006 {
    flex-direction: row;
    gap: 12px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    display: inherit
;
}

@media (min-width: 0px) {
    .jk-feelog-a-006 {
        height: 21px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-a-006 {
        height: 35px;
    }
}

.jk-feelog-p011 {
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
    min-width: max-content;
}

@media (min-width: 0px) {
    .jk-feelog-p011 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-p011 {
        font-size: 14px;
    }
}

.jk-feelog-span007 {
    display: inline-flex
;
    margin-inline-end: 4px;
}

.jk-feelog-main-svg06 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 16px;
    height: 16px;
    color: #76767F;
}

.jk-feelog-div059 {
    display: flex
;
    flex-direction: row;
    gap: 4px;
    height: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
    -webkit-box-align: center;
    align-items: center;
}

.jk-feelog-a-007 {
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(52, 120, 255, 1);
    font-weight: 400;
    text-decoration: none max(0.08em, 1px) currentcolor;
    text-underline-offset: 0.15em;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 4px 0px 0px;
    border-radius: 6px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    position: relative;
}

.jk-feelog-div060 {
    margin-inline-start: 0;
    box-shadow: none;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    border-radius: 50%;
    user-select: none;
    color: #202022;
    background-color: #F2F2F3;
    width: 20px;
    height: 20px;
}

.jk-feelog-img001 {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.jk-feelog-a-008 {
    overflow: hidden;
    text-decoration: none;
}

.jk-feelog-p012 {
    margin: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202022;
    font-weight: 400;
    overflow: hidden;
    overflow-wrap: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

@media (min-width: 0px) {
    .jk-feelog-p012 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-p012 {
        font-size: 14px;
    }
}

.jk-feelog-div061 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.jk-feelog-div062 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.jk-feelog-p013 {
    margin: 0px;
    display: block;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #76767F;
}

@media (min-width: 0px) {
    .jk-feelog-p013 {
        font-size: 12px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-p013 {
        font-size: 14px;
    }
}

.jk-feelog-div063 {
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: #FFFFFF;
    height: 32px;
    -webkit-box-align: center;
    align-items: center;
}

@media (min-width: 0px) {
    .jk-feelog-div063 {
        visibility: visible;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div063 {
        visibility: hidden;
    }
}

.jk-feelog-btn001 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

.jk-feelog-btn001.FlgIconButton-sizeSm-need {
    min-width: 32px;
    min-height: 32px;
}

.jk-feelog-main-svg07 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 20px;
    height: 20px;
    color: #76767F;
}

.jk-feelog-div064 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
}

@media (min-width: 0px) {
    .jk-feelog-div064 {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 744px) {
    .jk-feelog-div064 {
        width: 32px;
        height: 32px;
    }
}

.jk-feelog-div064.FlgIconButton-sizeSm-need {
    min-width: 32px;
    min-height: 32px;
}

.jk-feelog-main-svg08 {
    user-select: none;
    margin: 0;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 24px;
    width: 1em;
    height: 1em;
    color: #76767F;
}

.jk-feelog-div065 {
    display: flex
;
    flex-direction: row;
    gap: 6px;
    -webkit-box-pack: center;
    justify-content: center;
}

.jk-feelog-btn001:disabled {
    pointer-events: none;
    cursor: default;
    color: #A4A4A8;
}

.jk-feelog-main-svg01 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 24px;
    color: currentcolor;
}

.jk-feelog-btn015 {
    min-width: 32px;
    min-height: 32px;
    font-size: 14px;
    padding-inline: 2px;
    -webkit-tap-highlight-color: transparent;
    padding-block: 0px;
    font-family: "Postype Sans-serif KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    color: #202022;
    background-color: #F2F2F3;
}

.jk-feelog-btn015.FlgIconButton-sizeSm-need {
    min-width: 32px;
    min-height: 32px;
}














































































































































































































































































































































































































































































